<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" >
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE style6"><strong>Creaci&oacute;n de visitas de candidatos </strong></p>
                    </div></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
            <p>A trav&eacute;s de esta opci&oacute;n, se pueden seleccionar los establecimientos que cumplen con ciertos requisitos que la entidad solicita para poder ser cliente. Luego de ello seran visitados para continuar con la gesti&oacute;n de aprobaci&oacute;n. </p>
            <p>Cuando el usuario selecciona esta opci&oacute;n, el sistema despliega un wizard de   dos pasos. En el primero de ellos se seleccionan los candidatos, con su respectiva informaci&oacute;n, a los cuales se les realizar&aacute; la  visita seg&uacute;n concepto previo de la entidad. El siguiente formulario corresponde a Resumen. <em><a href="#Fechavisita"></a></em></p>
            <p>Los bloques y la   informaci&oacute;n del primer paso del wizard son:</p>
            <p><strong>Candidatos:</strong></p>
            <p><img src="../img/AEF_004B.PNG" width="749" height="482"></p>
            <p><span class="SUBTTLO2">Filtro:</span> Se pueden realizar consultas a trav&eacute;s 
              de las siguientes opciones:</p>
            <p><img src="../img/AEF_004B2.PNG" width="749" height="188"></p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><span class="style1">C&oacute;digo</span></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo num&eacute;rico de m&aacute;ximo 8 d&iacute;gitos, en el que   se registra el c&oacute;digo asignado a cada uno de los candidatos. </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial"><span class="style1">Nombre</span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Este campo alfanum&eacute;rico de 30 posiciones,   permite ingresar el nombre del candidato asociado con el c&oacute;digo   anterior.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial"><span class="style1">Regi&oacute;n</span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo 
                  alfanum&eacute;rico de tres d&iacute;gitos, que contiene 
                  el c&oacute;digo asignado a cada Regi&oacute;n. Se puede diligenciar de forma manual o desplazando la lista de valores.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial"><span class="style1">Sub divisi&oacute;n </span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo 
                  alfanum&eacute;rico,  que contiene 
                  el c&oacute;digo asignado a cada Sub divisi&oacute;n. Se  diligencia desplazando la lista de valores.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial"><span class="style1">Ubicaci&oacute;n</span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo obligatorio, diligenciable seg&uacute;n la informaci&oacute;n contenida en el campo <em>Sub divisi&oacute;n</em> , en esta se diligencian los  datos contenidos en la tabla <span class="style2"><a href="NUH_003B.html">Informaci&oacute;n geopolitica</a>. </span></p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial"><span class="style1">C&oacute;digo de zona </span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo num&eacute;rico de 2 d&iacute;gitos,  en   el cual se registra el c&oacute;digo asignado por la entidad a cada una de las zonas   que conforman las subdivisiones.</p></td>
              </tr>
            </table>
            <p><strong>Resumen<a></a>:</strong></p>
            <p class="PARRAFO">Corresponde al segundo paso del Wizard, en el cual el usuario selecciona los candidatos a ser visitados.</p>
            <p align="center" class="PARRAFO"><img src="../img/AEF_004B1.PNG" width="750" height="283"></p><p> El formulario cuenta con botones en la parte inferior derecha que le permiten   al usuario<em> </em><EM> Retroceder y Avanzar </EM>al anterior o siguiente paso del wizard.</p>
    </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>