<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"  
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Variaci&oacute;n masiva de cupos</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTTLO2"><a name="Resultados"></a>Resultados:</span> 
              Luego de ser evaluados los criterios de selecci&oacute;n, en esta opci&oacute;n 
              se muestran los productos que cumplieron con los pautas indicadas.</p>
            <p>El formulario contiene las opciones Eliminar y Detalle. Adicionalmente, cuenta 
              en la parte superior con la opci&oacute;n <a href="#Calcular_valores" title="Calcular valores" target="_self">Calcular 
              valores</a>, y un bot&oacute;n para volver a la <a href="CAH_006B.html">opci&oacute;n 
              anterior</a>.</p>
            <p align="center"><img src="../img/CAF_006B5.PNG" width="720" height="499"></p>
            <p>&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    de tarjeta</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    el n&uacute;mero de producto que ha cumplido con los criterios de selecci&oacute;n, 
                    como candidatos al proceso de variaci&oacute;n de cupo.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Nombre</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Corresponde 
                    al nombre del titular del producto correspondiente al n&uacute;mero 
                    de tarjeta anterior.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    tarjeta </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Informa 
                    acerca de la clase de producto (principal, extendida o amparada) seleccionado 
                    de acuerdo con los criterios definidos.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Cupo 
                    actual </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Contiene 
                    el cupo asignado al producto candidato al proceso de variaci&oacute;n 
                    masiva de cupo.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Cupo 
                    sugerido </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Corresponde 
                    al valor de variaci&oacute;n de cupo sugerido, producto de la aplicaci&oacute;n 
                    de la f&oacute;rmula de evaluaci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Variada</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Los 
                    criterios definidos en la carpeta de criterios pueden ser utilizados 
                    para otras aplicaciones que la entidad desee, como por ejemplo emitir 
                    notificaciones al cliente; en este campo aparecer&aacute;n marcados 
                    todos los productos que entraron culminaron exitosamente el proceso.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Variar</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Permite 
                    seleccionar los registros sobre los que la entidad desee ejecutar en 
                    el proceso, los cuales cumplen con los criterios definidos previamente.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p><span class="SUBTTLO2">Detalle:</span> Si el usuario invoca la opci&oacute;n 
              Detalle se despliega el siguiente formulario. Cuenta con la opci&oacute;n 
              para consultar las l&iacute;neas de cr&eacute;dito de la tarjeta.</p>
            <p align="center"><img src="../img/CAF_005B5.PNG" width="412" height="199"></p>
            <p align="left">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Bloqueo 
                    saldo </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    el bloqueo que posee cada uno de los productos por dicho concepto una 
                    vez aplicados los criterios de selecci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Bloqueo 
                    reestructuraci&oacute;n </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Registra 
                    el bloqueo que posee cada uno de los productos por dicho concepto una 
                    vez aplicados los criterios de selecci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Bloqueo 
                    pl&aacute;stico </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Se&ntilde;ala 
                    el bloqueo que posee cada uno de los productos por dicho concepto una 
                    vez aplicados los criterios de selecci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Bloqueo 
                    sobrecupo </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    el bloqueo que posee cada uno de los productos por dicho concepto una 
                    vez aplicados los criterios de selecci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Bloqueo 
                    cliente </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    el bloqueo que posee cada uno de los productos por dicho concepto una 
                    vez aplicados los criterios de selecci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Error</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    el caso de que los productos seleccionados de acuerdo con los criterios 
                    hayan sido candidatos pero no pudieron ser variados sus cupos exitosamente, 
                    en este campo aparece el motivo.</p></td>
              </tr>
            </table>
            <p align="left">&nbsp;</p>
            <p align="left"><span class="SUBTTLO2">L&iacute;neas de cr&eacute;dito:</span> 
              Si el usuario invoca esta opci&oacute;n se despliega el siguiente formulario. 
              En la parte superior cuenta con la opci&ograve;n para regresar al Detalle 
              de la tarjeta.</p>
            <p align="center"><img src="../img/CAF_006B7.PNG" width="446" height="118"></p>
            <p align="center">&nbsp;</p>
            <p><span class="SUBTTLO2"><a name="Calcular_valores"></a>Calcular valores:</span> 
              Invoca la pantalla a trav&eacute;s de la cual se puede combinar diferentes 
              criterios con el objeto de calcular los valores de los cupos a modificar para 
              los productos seleccionados en la lista, definir si se trata de aumentos o 
              disminuciones porcentuales o en valores y la forma como se distribuir&aacute; 
              esa variaci&oacute;n entre las tarjetas que dependen de la principal.</p>
            <p>El formulario contiene las opciones Aumentar y Disminuir. Adicionalmente, 
              cuenta en la parte superior con la opci&oacute;n para volver al formulario 
              de <a href="#Resultados" title="Resultados" target="_self">Resultados</a>, 
              y un bot&oacute;n en la parte inferior para el c&aacute;lculo de cupos propuestos.</p>
            <p align="center"><img src="../img/CAF_006B8.PNG" width="667" height="521"></p>
            <p align="left">&nbsp;</p>
            <p align="left"><span class="SUBTTLO2">Aplicar variaci&oacute;n de cupos:</span> 
              A trav&eacute;s de este bot&oacute;n se aplica la variaci&oacute;n masiva 
              en la base de datos, de las tarjetas marcadas o seleccionadas.</p>
            <p align="center"><img src="../img/CAF_006B9.PNG" width="44" height="42"></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>