<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Comisiones</p>
                    </div></td>
              </tr>
            </table>
            <p>A trav&eacute;s de esta   opci&oacute;n se parametrizan las comisiones que devengan los agentes de cobro; de igual   manera &nbsp;este   formulario permite relacionar por rangos de saldos de las obligaciones montos   diferentes de comisiones, al igual que determinar si &eacute;stas benefician a niveles   jer&aacute;rquicos superiores. </p>
            <p class="PARRAFO"><span class="SUBTTLO2">Filtro:</span> El formulario cuenta 
              con un filtro inicial de b&uacute;squeda, necesario para la consulta de la 
              informaci&oacute;n:</p>
            <p align="center"><img src="../img/CCF_009B1.PNG" width="331" height="185"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo de cobro </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo con lista   de valores de la cual debe seleccionarse la <em><A href="CCH_002B.html" target="_self" class="LINK2">clase de   cobro</A></em> a filtrar.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Actividad</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Este campo   cuenta con lista de valores poblada a trav&eacute;s de la opci&oacute;n <em><A href="CCH_004B.html" target="_self" class="LINK2">Actividades de cobro</A></em> de este mismo men&uacute;, de la   cual deben seleccionarse las acciones o pasos que deben   adelantarse acorde tanto con el tipo de cobro como con el tipo de obligaci&oacute;n   seleccionados.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor inicial </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo num&eacute;rico que permite filtrar entre rangos de valores. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor final </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo num&eacute;rico que permite filtrar entre rangos de valores.</p>        </td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              y Adicionar.</p>
            <p align="center"><img src="../img/CCF_009B.PNG" width="822" height="556"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si 
              el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con 
              los siguientes campos<font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/CCF_009B2.PNG" width="421" height="412"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td width="31%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo de cobro </span></b></p></td>
                <td width="69%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Campo con lista   de valores de la cual debe seleccionarse la <em><A href="CCH_002B.html" target="_self" class="LINK2">clase de   cobro</A></em> a adelantar.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><span class="style1">Actividad</span></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Este campo   cuenta con lista de valores poblada a trav&eacute;s de la opci&oacute;n <em><A href="CCH_004B.html" target="_self" class="LINK2">Actividades de cobro</A></em> de este mismo men&uacute;, de la   cual deben seleccionarse las acciones o pasos que deben   adelantarse acorde tanto con el tipo de cobro como con el tipo de obligaci&oacute;n   seleccionados.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Valor inicial </span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo   num&eacute;rico de 14 d&iacute;gitos con 2 decimales, obligatorio, se registra el valor   inicial del rango o valor m&iacute;nimo que debe presentar el saldo de la obligaci&oacute;n   sobre la que se genera la comisi&oacute;n por realizar la actividad desplegada en el   bloque superior.</p>        </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Valor final </span></span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Campo num&eacute;rico   de 14 d&iacute;gitos con 2 decimales, obligatorio, dentro del que se registra el   valor final del rango o valor m&aacute;ximo que debe presentar el saldo de la   obligaci&oacute;n sobre la que se genera la comisi&oacute;n por realizar la actividad   desplegada en el bloque superior.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Moneda</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Despliega el   c&oacute;digo de la <em><A href="NUH_005B.html" class="LINK2">moneda</A></em> en que se liquidar&aacute; y/o   pagar&aacute; la comisi&oacute;n.</p>        </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Valor comisi&oacute;n </span></span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Campo num&eacute;rico   de 14 d&iacute;gitos con 2 decimales, obligatorio, en el que se registra el valor   a pagar, por este concepto, al realizar la actividad desplegada en el bloque   superior.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Aplicar</span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Campo con lista   de valores entre los que se puede seleccionar <em>Valor comisionado, Valor recuperado o   Valor obligaci&oacute;n</em>; indicando sobre cu&aacute;l de ellos el sistema aplicar&aacute; el porcentaje   definido en el campo anterior, para calcular y liquidar la comisi&oacute;n   correspondiente.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Porcentaje comisi&oacute;n </span></span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo   num&eacute;rico de 3 d&iacute;gitos con 2 decimales, no obligatorio, se registra el   valor porcentual, como &uacute;nica comisi&oacute;n o comisi&oacute;n adicional, a calcular sobre el   valor que se determine en el campo anterior.</p>        </td>
              </tr>
            </table>
            <p align="left">&nbsp;</p>
            <p><strong>Comisi&oacute;n por   refinanciaci&oacute;n </strong>En caso que el   resutlado de la gesti&oacute;n de cobro sea la refinanciaci&oacute;n de la obligaci&oacute;n, en los   dos campos de esta agrupaci&oacute;n se registran los valores de comisi&oacute;n que genera   para el agente.</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Porcentaje refinanciaci&oacute;n </span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo en el que   se registra el valor del porcentaje a aplicar para calcular la comisi&oacute;n del   agente responsable.</p>
                </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Valor refinanciaci&oacute;n </span></span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este campo   contiene el valor sobre el cual se aplicar&aacute; el porcentaje definido en el campo   anterior, para calcular el valor de comisi&oacute;n del agente respectivo.</p>
                </td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p><span class="SUBTTLO2">Actualizar:</span> Si el usuario 
              invoca la opci&oacute;n Actualizar se despliega un nuevo formulario en cual 
              los &uacute;nicos campos modificables son los siguientes:</p>
            <p align="center"><img src="../img/CCF_009B3.PNG" width="402" height="411"></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>