<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Actividades por tipo de cobro</p>
                    </div></td>
              </tr>
            </table>
            <p>A trav&eacute;s de esta   forma o funci&oacute;n se relacionan tanto el c&oacute;digo de la obligaci&oacute;n como el tipo de   cobro con las actividades de la gesti&oacute;n de cobranza; adicionalmente, para cada   una de las actividades se permite parametrizar el plazo en d&iacute;as, o si   genera o no un  monto a cobrar por la actividad realizada  del deudor.   Mediante el uso del mouse o rat&oacute;n, es posible ubicarse en el campo de   prerrequisito para determinar que tipo de cobro y cu&aacute;les actividades deben ser   finalizadas previamente a la actividad en que est&eacute; ubicado el cursor.</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Filtro:</span> El formulario cuenta 
              con un filtro inicial de b&uacute;squeda, necesario para la consulta de la 
              informaci&oacute;n:</p>
            <p align="center"><img src="../img/CCF_006B1.PNG" width="323" height="67"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo de cobro </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo con lista   de valores de la cual debe seleccionarse la <em><A href="CCH_002B.html" target="_self" class="LINK2">clase de   cobro</A></em> a filtrar. </p>        </td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              Adicionar y Detalle.</p>
            <blockquote>
              <p align="center"><img src="../img/CCF_006B.PNG" width="767" height="485"></p>
            </blockquote>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si 
              el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con 
              los siguientes campos<font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/CCF_006B2.PNG" width="400" height="526"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo de cobro </span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Campo con lista   de valores de la cual debe seleccionarse la <em><A href="CCH_002B.html" target="_self" class="LINK2">clase de   cobro</A></em> a adelantar. </p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><span class="style1">Actividad</span></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este campo   cuenta con lista de valores poblada a trav&eacute;s de la opci&oacute;n <em><A href="CCH_004B.html" target="_self" class="LINK2">Actividades de cobro</A></em> de este mismo men&uacute;, de la   cual deben seleccionarse las acciones o pasos que deben   adelantarse acorde tanto con el tipo de cobro como con el tipo de obligaci&oacute;n   seleccionados.</p>      
                </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>D&iacute;as de plazo </span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico   de 3 d&iacute;gitos, obligatorio, que contiene la cantidad de d&iacute;as h&aacute;biles de que   dispone el personal de cobranza para realizar cada una de las actividades   parametrizadas.</p>      
                </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Cobro al cliente </span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Campo con lista   de valores poblada a trav&eacute;s de la opci&oacute;n <em>Tipos de cobro</em> de este mismo   m&oacute;dulo, de la cual debe seleccionarse la clase de cobro que corresponde a la   actividad que es se&ntilde;alada como prerrequisito de otra.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Moneda</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo con lista   de valores de la que debe seleccionarse el c&oacute;digo de la <em><A href="NUH_005B.html" target="_self" class="LINK2">Moneda</A></em> del grupo de Tablas en la cual deben estar   expresados los saldos de la obligaci&oacute;n, para que apliquen los restantes   par&aacute;metros aqu&iacute; definidos.</p>      
                </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Periodo inicial mora </span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Campo num&eacute;rico   de 3 d&iacute;gitos, obligatorio, en la que se registra el Periodo del rango referido a   la altura de mora presentado por las obligaciones que se est&aacute;n   parametrizando.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Meriodo final mora </span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">en este campo   num&eacute;rico de 3 d&iacute;gitos, obligatorio, se indica el periodo del rango referido a la   altura de mora presentado por las obligaciones que se est&aacute;n   parametrizando.</p>      
                </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Prioridad</span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">En este campo   num&eacute;rico de 3 d&iacute;gitos, obligatorio, se asigna el n&uacute;mero que permite ordenar las   obligaciones, por orden de importancia, siendo 1 el de mayor valor, y de esa   forma asignarlas a los agentes de cobro.</p>      
                </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Permite cambio agente </span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que posee   lista de valores adjunta de la que debe seleccionarse entre <em>Si</em> o <em>No</em> se permite cambiar de agente de cobro una vez asignada la obligaci&oacute;n. </p>      
                </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo de sobrecupo  </span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Este campo   con lista de valores para escoger entre Valor y Porcentaje, no obligatorio. De este campo depende lo aceptado en el <em>Valor del   sobrecupo</em>.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Valor sobrecupo </span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">S&iacute; el Tipo de sobrecupo es VALOR, se muestra un campo num&eacute;rico   de 14 d&iacute;gitos m&aacute;s 2 decimales, corresponde al valor de   sobrecupo presentado por el cliente, a partir del cual se inicia el tipo de   cobro. La acci&oacute;n de iniciar gesti&oacute;n de cobro por mora prima sobre el cobro por   sobrecupo.</p>
                  <p align="justify">S&iacute; el Tipo de sobrecupo es PORCENTAJE, se muestra un campo num&eacute;rico   de 3 d&iacute;gitos m&aacute;s 2 decimales.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo de cobro </span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo con lista   de valores poblada a trav&eacute;s de la opci&oacute;n <em><a href="CCH_002B.html" target="_self" class="LINK2">Tipos de cobro</a></em> de este mismo   men&uacute;, de la cual debe seleccionarse la clase de cobro que corresponde a la   actividad que es se&ntilde;alada como prerrequisito de otra.</p>
                </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Actividad</span></span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este campo   cuenta con lista de valores poblada a trav&eacute;s de la opci&oacute;n <em>Actividades de   cobro</em> de este mismo m&oacute;dulo, de la cual debe seleccionarse aquella que se   constituye en prerrequisito de la actividad del bloque anterior sobre la que se   encuentra ubicado el cursor.</p>
                </td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p><span class="SUBTTLO2">Actualizar:</span> Si el usuario 
              invoca la opci&oacute;n Actualizar se despliega un nuevo formulario en cual 
              los &uacute;nicos campos modificables son los siguientes:</p>
            <p align="center"><img src="../img/CCF_006B3.PNG" width="399" height="526"></p>
            <p align="center">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Detalle:</span> Si el usuario invoca 
              la opci&oacute;n Detalle se despliega el siguiente formulario.<span
              #'font-family:Arial'>
                <o:p></o:p>
              </span></p>
            <p align="center"><img src="../img/CCF_006B4.PNG" width="755" height="213"></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>