<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Puertos</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTTLO2">Par&aacute;metros valida existencia 
              autorizaci&oacute;n:</span> Esta opci&oacute;n permite parametrizar, para 
              cada uno de los procesos definidos en la opci&oacute;n <a href="COH_016B.html">Valida	ci&oacute;n 
              de procesos</a>, los campos a considerar en las validaciones. Tambi&eacute;n 
              se tienen en cuenta, para cada proceso, el puerto de conexi&oacute;n y la 
              franquicia a la cual se asocia el registro.</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              y Adicionar. Adicionalmente, cuenta con la opci&oacute;n Validaciones y un bot&oacute;n en la parte 
              superior para ir a la opci&oacute;n anterior: <a href="COH_007B.html">Puertos</a>.</p>
            <p align="center"><img src="../img/COF_007B16.PNG" width="714" height="176"></p>
            <p align="center">&nbsp;</p>
            <p><span class="SUBTTLO2">Filtro:</span> Se pueden realizar consultas a trav&eacute;s 
              de las siguientes opciones: </p>
            <p align="center"><img src="../img/COF_007B15.PNG" width="329" height="100"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="160" height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Marca<br>
                    </b></p></td>
                <td width="555" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio, en el cual se selecciona de la lista de valores la <a href="NUH_033B.html">Franquicia</a> 
                    o marca para la que se est&aacute;n definiendo los par&aacute;metros 
                    de validaci&oacute;n.</p>
                </td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="center"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca 
              la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/COF_007B17.PNG" width="451" height="118"></p>
            <p align="left">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Proceso 
                  a validar<br>
                </b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este 
                  campo obligatorio, cuenta con lista de valores poblada a trav&eacute;s 
                  de la opci&oacute;n <a href="COH_016B.html">C&oacute;digos de procesos a validar</a>, de la cual se selecciona el proceso para el cual se definen 
                  los campos a validar.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Porcentaje cantidad de variaci&oacute;n </b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Diferencia permitida, en t&eacute;rminos   porcentuales, entre el monto de la compra registrado en el comprobante y el   valor de la autorizaci&oacute;n. Si no se establece el par&aacute;metro, los valores a   comparar deben ser iguales.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>D&iacute;as fecha de variaci&oacute;n </b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>En este campo se define un n&uacute;mero de d&iacute;as   permitidos como diferencia entre la fecha de la autorizaci&oacute;n y la fecha   registrada en el comprobante. Si no se establece el par&aacute;metro, las fechas que se   comparan deben ser iguales.</p>
                </td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son: </span></p>
            <p align="center"><img src="../img/COF_007B18.PNG" width="433" height="119"></p>
            <p align="center">&nbsp;</p>
            <p class="style1"><span class="SUBTTLO2">Validaciones:</span> En este grupo de datos se seleccionan, entre 
              una serie de opciones posibles, los campos que se van a validar; las diferentes 
              opciones se activan o no dependiendo de la combinaci&oacute;n puerto &#8211; 
              proceso a validar de cada registro, tal y como se puede apreciar en las pantallas 
              mostradas en este documento. A continuaci&oacute;n se describen todos los 
            posibles campos que se despliegan:</p>
            <p align="center"><img src="../img/COF_007B19.PNG" width="606" height="245"></p>
            <p align="center">&nbsp;</p>
            <p align="center">&nbsp;</p>
            <p align="center"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca 
              la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/COF_007B20.PNG" width="330" height="77"></p>
            <p align="left">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Validaci&oacute;n</b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><em>Pdte descripci&oacute;n de este campo. </em></p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Habilitado</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><em>Pdte descripci&oacute;n de este campo.</em></p></td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              y el &uacute;nico campo modificable es Habilitado. </p>
            <p align="center"><img src="../img/COF_007B21.PNG" width="315" height="77"></p>
            <p align="center">&nbsp;</p>
            <p align="center"><a href="COH_007B.html">Puertos</a><span
              #'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="COH_007B1.html">Validaciones 
              por puerto</a><b><span #'font-size:10.0pt;font-family:Arial'> | </span></b><a href="COH_007B2.html">Direcciones</a><span
              #'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="COH_007B3.html">L&iacute;mite 
              de autorizaciones</a></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>