<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Registro de Autorizaciones</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Mediante esta funci&oacute;n se habilita un centro de autorizaciones 
              manual, con el fin de atender los establecimientos que posean puntos de venta 
              (P.O.S) conectados al sistema, o simplemente para suplir las funciones del 
              m&oacute;dulo de autorizaciones en l&iacute;nea, cuando por alguna raz&oacute;n 
              est&eacute; fuera de servicio. Las &uacute;nicas autorizaciones posibles de 
              registrar en esta forma son aquellas que deban darse a transacciones de ventas 
              o avances.</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Filtro:</span> El formulario cuenta 
              con un filtro inicial de b&uacute;squeda, necesario para la consulta de la 
              informaci&oacute;n:</p>
            <p align="center"><img src="../img/COF_009B.PNG" width="710" height="191"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>N&uacute;mero 
                    tarjeta </span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo obligatorio se captura el n&uacute;mero de tarjeta del cliente a quien 
                    se le otorgar&aacute; la autorizaci&oacute;n; los campos correspondientes 
                    al nombre e identificaci&oacute;n los llenar&aacute; el sistema al momento 
                    de validar el n&uacute;mero de tarjeta.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor<b><span style'font-family:Arial'> 
                    </span></b>transacci&oacute;n</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo obligatorio se registra el monto de la transacci&oacute;n que se est&aacute; 
                    autorizando.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Transacci&oacute;n<b><span style'font-family:Arial'> 
                    </span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio 
                    con lista de valores poblada previamente en la opci&oacute;n <a href="NUH_027B.html" class="LINK2">or&iacute;genes 
                    de transacciones</a> de las tablas reservadas del m&oacute;dulo N&uacute;cleo, 
                    de la cual la entidad selecciona en el momento de registrar la autorizaci&oacute;n, 
                    la clase de transacci&oacute;n que se autoriza realizar al cliente.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Establecimiento</b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Si 
                    la entidad desea realizar la consulta de las autorizaciones por c&oacute;digo 
                    de establecimiento, en este campo obligatorio se captura su c&oacute;digo de identificaci&oacute;n, 
                    despleg&aacute;ndose el nombre del mismo.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Moneda</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                     obligatorio con lista de valores de la que la entidad selecciona la clase de <a href="NUH_005B.html" class="LINK2">moneda</a> 
                    sobre la cual se otorga la autorizaci&oacute;n.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO">Al <em>cargar la informaci&oacute;n</em> a trav&eacute;s 
              del bot&oacute;n, se muestra un formulario que contiene las opciones Proceso 
              autorizaci&oacute;n y Cancelar. Adicionalmente, cuenta con un v&iacute;nculo 
              que conduce al formulario de Estad&iacute;sticas.</p>
            <p align="center"><img src="../img/COF_009B1.PNG" width="645" height="360"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>N&uacute;mero 
                    tarjeta </b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    el n&uacute;mero de tarjeta ingresado de la autorizaci&oacute;n que 
                    se dese crear.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Nombre 
                    pl&aacute;stico </b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    el nombre del cliente de la tarjeta.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    identificaci&oacute;n <b><span style'font-family:Arial'> </span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Contiene 
                    el tipo documento de identificaci&oacute;n del tarjetahabiente.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    identificaci&oacute;n <b><span style'font-family:Arial'> </span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Contiene 
                    el n&uacute;mero de documento de identificaci&oacute;n del tarjetahabiente.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Fecha 
                    vencimiento </b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    la fecha de vencimiento de la tarjeta capturada previamente.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Transacci&oacute;n</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    con lista de valores poblada previamente en la opci&oacute;n <a href="NUH_027B.html" class="LINK2">or&iacute;genes 
                    de transacciones</a> de las tablas reservadas del m&oacute;dulo N&uacute;cleo, 
                    de la cual la entidad selecciona en el momento de registrar la autorizaci&oacute;n, 
                    la clase de transacci&oacute;n que se autoriza realizar al cliente.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Moneda</b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    con lista de valores de la que la entidad selecciona la clase de <a href="NUH_005B.html" class="LINK2">moneda</a> 
                    sobre la cual se otorga la autorizaci&oacute;n.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Valor 
                    transacci&oacute;n</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo se registra el monto de la transacci&oacute;n que se est&aacute; 
                    autorizando.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Establecimiento</b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el cual se registra el c&oacute;digo del establecimiento en d&oacute;nde 
                    se est&aacute; realizando la transacci&oacute;n.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Horario</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que contiene informaci&oacute;n del horario en que el establecimiento 
                    est&aacute; autorizado para operar normalmente; este dato ayuda a la 
                    entidad a detectar comportamientos fraudulentos con el uso de la tarjeta.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    identificaci&oacute;n</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo se muestra el c&oacute;digo de identificaci&oacute;n del 
                    establecimiento en d&oacute;nde se est&aacute; realizando la transacci&oacute;n.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Raz&oacute;n 
                    social </b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    el nombre con el cual se encuentra registrado el establecimiento ante 
                    la C&aacute;mara de Comercio o la entidad que cumpla esa funci&oacute;n.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Servicio</b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Despliega 
                    el c&oacute;digo y nombre del servicio asociado al comercio a trav&eacute;s 
                    del cual se realiza la utilizaci&oacute;n para la que se registra la 
                    autorizaci&oacute;n.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Convenio</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    de salida que muestra el c&oacute;digo y el nombre del convenio al que 
                    pertenece la tarjeta cuando es de marca privada</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Proceso 
              autorizaci&oacute;n:</span> A trav&eacute;s de este bot&oacute;n el sistema 
              inicia el proceso de generar la autorizaci&oacute;n, y muestra el resultado 
              en el bloque Informaci&oacute;n de la autorizaci&oacute;n.</span></p>
            <p align="center" class="PARRAFO">En este bloque, una vez capturada la informaci&oacute;n 
              requerida para la autorizaci&oacute;n, se muestra la respuesta arrojada por 
              la solicitud de autorizaci&oacute;n una vez se apliquen las correspondientes 
              validaciones.</p>
            <p align="center"><img src="../img/COF_009B2.PNG" width="655" height="52"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>C&oacute;digo 
                    respuesta </b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Corresponde 
                    al c&oacute;digo y descripci&oacute;n de la respuesta a la solicitud 
                    de autorizaci&oacute;n.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    autorizaci&oacute;n</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    caso de que la solicitud de autorizaci&oacute;n haya sido exitosa, en 
                    este campo aparece el n&uacute;mero que fue asignado como aprobaci&oacute;n 
                    de la misma.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="SUBTTLO2">Estad&iacute;sticas:</span> 
              Permite conocer las utilizaciones realizadas a trav&eacute;s de la l&iacute;nea 
              de cr&eacute;dito a una fecha determinada.</p>
            <p align="center"><img src="../img/COF_009B3.PNG" width="644" height="173"></p>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Detalle:</span> 
              A trav&eacute;s de este bot&oacute;n el sistema inicia el proceso de generar 
              la autorizaci&oacute;n, y muestra el resultado en un nuevo bloque que se muestra 
              en la parte inferior del formulario: Informaci&oacute;n de la autorizaci&oacute;n.</span></p>
            <p align="center"><img src="../img/COF_009B4.PNG" width="646" height="333"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">L&iacute;nea 
                    cr&eacute;dito<br>
                  </p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Contiene 
                    el nombre o descripci&oacute;n de la l&iacute;nea asociada al c&oacute;digo 
                    anterior.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Moneda</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Despliega 
                    el nombre de la moneda en que se denomina la respectiva l&iacute;nea 
                    de cr&eacute;dito.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Disponible 
                    l&iacute;nea<b><span style'font-family:Arial'> </span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    el cupo disponible de la l&iacute;nea de cr&eacute;dito de acuerdo con 
                    el producto.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Cantidad<b><span style'font-family:Arial'> 
                    </span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    el n&uacute;mero de autorizaciones que a&uacute;n no han sido procesadas.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Se&ntilde;ala 
                    el monto total de las autorizaciones que a&uacute;n no han sido procesadas.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Semana</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><em>A 
                    trav&eacute;s de estos campos la entidad conoce la cantidad de autorizaciones 
                    realizadas de acuerdo con la frecuencia que se muestra:</em> Corresponde 
                    al total de utilizaciones que han requerido de autorizaci&oacute;n durante 
                    el d&iacute;a.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">D&iacute;a</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Despliega 
                    el total de utilizaciones que han requerido de autorizaci&oacute;n durante 
                    la semana.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">D&iacute;a</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><em>En 
                    este grupo de informaci&oacute;n la entidad conoce la veces en las cuales 
                    se han solicitado autorizaciones y &eacute;stas no han sido procesadas:</em> 
                    Informa el monto total utilizado durante el d&iacute;a.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Semana</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Registra 
                    el monto total utilizado durante la semana.</p></td>
              </tr>
            </table>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>