<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Reversi&oacute;n de Autorizaciones</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Esta funci&oacute;n se utiliza para reversar las autorizaciones 
              que no van a ser aplicadas, por ejemplo, en el caso que el cliente se retracta 
              de efectuar una compra. Esta reversi&oacute;n se realiza con el fin de restablecer 
              el cupo disponible de su tarjeta y que el cliente pueda hacer uso de su l&iacute;nea 
              de cr&eacute;dito.</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Filtro:</span> El formulario cuenta 
              con un filtro inicial de b&uacute;squeda, necesario para la consulta de la 
              informaci&oacute;n:</p>
            <p align="center"><img src="../img/COF_010B.PNG" width="843" height="177"></p>
            <p>&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>N&uacute;mero 
                    tarjeta </span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo se captura el n&uacute;mero de tarjeta del cliente a quien 
                    se desea consultar.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Transacci&oacute;n<b><span #'font-family:Arial'> 
                    </span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    con lista de valores poblada previamente en la opci&oacute;n <a href="NUH_027B.html" class="LINK2">or&iacute;genes 
                    de transacciones</a> de las tablas reservadas del m&oacute;dulo N&uacute;cleo, 
                    de la cual la entidad selecciona en el momento de registrar la autorizaci&oacute;n, 
                    la clase de transacci&oacute;n que se autoriza realizar al cliente.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    autorizaci&oacute;n</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo se captura el n&uacute;mero de autorizaci&oacute;n sobre 
                    el cual se desea realizar la consulta.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Establecimiento</b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Si 
                    la entidad desea realizar la consulta de las autorizaciones por c&oacute;digo 
                    de establecimiento, en este campo se captura su c&oacute;digo de identificaci&oacute;n, 
                    despleg&aacute;ndose el nombre del mismo.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO">Al <em>cargar la informaci&oacute;n</em> a trav&eacute;s 
              del bot&oacute;n, se muestra un formulario que contiene las opciones Proceso 
              autorizaci&oacute;n y Cancelar. </p>
            <p align="center"><img src="../img/COF_011B1.PNG" width="645" height="358"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>N&uacute;mero 
                    tarjeta </b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    el n&uacute;mero de tarjeta ingresado de la revesi&oacute;n que se desee 
                    ingresar.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Nombre 
                    pl&aacute;stico </b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    el nombre del cliente de la tarjeta.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Transacci&oacute;n</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    con lista de valores poblada previamente en la opci&oacute;n <a href="NUH_027B.html" class="LINK2">or&iacute;genes 
                    de transacciones</a> de las tablas reservadas del m&oacute;dulo N&uacute;cleo, 
                    de la cual la entidad selecciona en el momento de registrar la autorizaci&oacute;n, 
                    la clase de transacci&oacute;n que se autoriza realizar al cliente.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Establecimiento</b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el cual se registra el c&oacute;digo del establecimiento en d&oacute;nde 
                    se est&aacute; realizando la transacci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    autorizaci&oacute;n</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    num&eacute;rico de 6 posiciones, obligatorio, en cual se registra el 
                    n&uacute;mero de autorizaci&oacute;n que la entidad desea cancelar.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    identificaci&oacute;n <b><span #'font-family:Arial'> </span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Contiene 
                    el n&uacute;mero de documento de identificaci&oacute;n del tarjetahabiente.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tel&eacute;fonos</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    los n&uacute;meros telef&oacute;nicos que el cliente tiene registrados 
                    en su producto.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Direcci&oacute;n</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    la direcci&oacute;n de correspondencia del cliente a quien se le realizar&aacute; 
                    la cancelaci&oacute;n de la autorizaci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Fecha 
                    vencimiento </b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    la fecha de vencimiento de la tarjeta capturada previamente.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Valor 
                    transacci&oacute;n</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo se registra el monto de la transacci&oacute;n que se est&aacute; 
                    autorizando.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Moneda</b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    con lista de valores de la que la entidad selecciona la clase de <a href="NUH_005B.html" class="LINK2">moneda</a> 
                    sobre la cual se otorga la autorizaci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    referencia </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Despliega 
                    el c&oacute;digo asignado por el sistema a la autorizaci&oacute;n, una 
                    vez que la solicitud ha sido aprobada, y que la identifica para garantizar 
                    que sea &uacute;nica.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    auditor&iacute;a</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    el momento de ser aprobada la solicitud de autorizaci&oacute;n el sistema 
                    asigna un c&oacute;digo consecutivo para monitorear los c&oacute;digos 
                    de autorizaci&oacute;n dados y es el que se muestra en este campo.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    y hora autorizaci&oacute;n</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en formato YYYY-MM-DD HH:MM:SS que informa el momento en que fue emitida 
                    la autorizaci&oacute;n a reversar.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="SUBTTLO2">Reversar Autorizaci&oacute;n:</span> 
              A trav&eacute;s de este bot&oacute;n el sistema inicia el proceso de reversar 
              la autorizaci&oacute;n, y muestra el resultado en el bloque <em>Respuesta 
              de la reversion</em>.</p>
            <p align="center" class="PARRAFO">En este bloque, una vez capturada la informaci&oacute;n 
              requerida para la reversi&oacute;n, se muestra la respuesta arrojada por la 
              solicitud de autorizaci&oacute;n una vez se apliquen las correspondientes 
              validaciones.</p>
            <p align="center"><img src="../img/COF_011B2.PNG" width="655" height="52"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>C&oacute;digo 
                    respuesta </b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Corresponde 
                    al c&oacute;digo y descripci&oacute;n de la respuesta a la solicitud 
                    de reversi&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    autorizaci&oacute;n</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    caso de que la solicitud de reversi&oacute;n haya sido exitosa, en este 
                    campo aparece el n&uacute;mero que fue asignado como aprobaci&oacute;n 
                    de la misma.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>