<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de BANKBU®">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Renovaci&oacute;n masiva d&eacute;bito</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Mediante esta opci&oacute;n se efect&uacute;a 
              el proceso que permite actualizar la fecha de vencimiento de las tarjetas 
              seleccionadas por la entidad de acuerdo con los criterios ingresados.</span></p>
            <p align="justify" class="PARRAFO">Al ingresar a la opci&oacute;n se despliega 
              un formulario inicial que contiene las listas generadas por la entidad y que 
              han sido utilizadas en los procesos anteriores de renovaci&oacute;n.</p>
            <p align="center"><img src="../img/DBF_024E.PNG" width="652" height="243"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">El formulario contiene el hiperv&iacute;nculos 
              <span class="LINK2"> <a href="DBH_024B.html#BL_RESULTADOS" class="LINK2"><em>Ver 
              resultados</em></a></span> que permite consultar las tarjetas incluidas en 
              cada una de las listas de renovaci&oacute;n de acuerdo con los criterios ingresados. 
              Adicionalmente contiene las opciones Eliminar y Generar lista.</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n <em>Generar lista,</em> se despliega 
              un nuevo formulario con los siguientes campos.</p>
            <p align="center"><img src="../img/DBF_024E1.PNG" width="587" height="470"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Nombre 
                      lista </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      alfanum&eacute;rico obligatorio en el que se registra el nombre con 
                      el cual se va a identificar cada una de las listas de renovaci&oacute;n 
                      generadas por la entidad.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="85" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Descripci&oacute;n</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo alfanum&eacute;rico se ingresan datos relevantes que sirven 
                      de complemento por ejemplo para la identificaci&oacute;n de la lista 
                      o para indicar algunas caracter&iacute;sticas propias de la misma.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Mes 
                      de vencimiento</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      en el cual puede determinar si las tarjetas a incluir en la lista 
                      de renovaci&oacute;n son aquellas con fecha de vencimiento = &oacute; 
                      &lt;= al valor ingresado en el campo adjunto y que permite registrar 
                      en formato YYYY-MM la fecha a tomar como referencia por el sistema, 
                      de acuerdo con la condici&oacute;n seleccionada.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Periodos 
                      atr&aacute;s </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo es complementario del campo anterior y solo se habilita si la 
                      condici&oacute;n seleccionada es &lt;=. Permite indicarle al sistema 
                      el n&uacute;mero de meses anteriores a la fecha de vencimiento registrada 
                      en el campo anterior que deben tener las tarjetas para ser incluidas 
                      en la lista.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Mes 
                      de vencimiento</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      en el cual puede determinar si las tarjetas a incluir en la lista 
                      de renovaci&oacute;n son aquellas con fecha de vencimiento = &oacute; 
                      &lt;= al valor ingresado en el campo adjunto y que permite registrar 
                      en formato YYYY-MM la fecha a tomar como referencia por el sistema, 
                      de acuerdo con la condici&oacute;n seleccionada.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Producto</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se selecciona si la condici&oacute;n a tener en cuenta 
                      es que el producto al que pertenecen las tarjetas para incluirlas 
                      en la lista sea = o &iexcl;= al <a href="DBH_018B.html" class="LINK2"><em>producto 
                      d&eacute;bito</em></a> seleccionado mediante la lista de valores. 
                      Cuando se ha deicidido utilizar este campo como criterio, se inhabilitan 
                      los campos Bin, segmento y grupo de afinidad.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Bin</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      en el que se indica si el bin asociado con el <a href="DBH_018B.html" class="LINK2"><em>producto 
                      d&eacute;bito</em></a> al que deben pertenecer las tarjetas para ser 
                      incluidas en la lista tiene que ser = &oacute; &iexcl;= al <a href="DBH_010B.html" class="LINK2"><em>bin</em></a> 
                      seleccionado de la lista de valores.<b><span #"font-family: Arial"> 
                      </span></b><span #"font-family: Arial">Este campo solo se habilita 
                      cuando en el campo <em>Producto</em> no se haya seleccionado ning&uacute;n 
                      valor.</span></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Segmento</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo permite se&ntilde;alar si el segmento asociado con el <a href="DBH_018B.html" class="LINK2"><em>producto 
                      d&eacute;bito</em></a> al que deben pertenecer las tarjetas para ser 
                      incluidas en la lista tiene que ser = &oacute; &iexcl;= al <a href="DBH_010B.html" class="LINK2"><em>segmento</em></a> 
                      seleccionado de la lista de valores.<b><span #"font-family: Arial"> 
                      </span></b><span #"font-family: Arial">Este campo solo se habilita 
                      cuando en el campo <em>Producto</em> no se haya seleccionado ning&uacute;n 
                      valor.</span></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Grupo 
                      de afinidad</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      en el que se indica si el grupo de afinidad asociado con el <a href="DBH_018B.html" class="LINK2"><em>producto 
                      d&eacute;bito</em></a> al que deben pertenecer las tarjetas para ser 
                      incluidas en la lista tiene que ser = &oacute; &iexcl;= al <a href="DBH_010B.html" class="LINK2"><em>grupo 
                      de afinidad</em></a> seleccionado de la lista de valores.<b><span #"font-family: Arial"> 
                      </span></b><span #"font-family: Arial">Este campo solo se habilita 
                      cuando en el campo <em>Producto</em> no se haya seleccionado ning&uacute;n 
                      valor.</span></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Sucursal</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se indica si las tarjetas a incluir en la lista son aquellas 
                      cuya sucursal de radicaci&oacute;n sea = &oacute; &iexcl;= a la <a href="NUH_020B.html" class="LINK2"><em>sucursal</em></a> 
                      seleccionada por medio de la lista de valores.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Sucursales 
                      dependientes</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Si 
                      en el campo anterior se ha seleccionado alg&uacute;n valor, mediante 
                      este check se le indica al sistema si se deben incluir/excluir las 
                      tarjetas pertenecientes a las sucursales que dependan de la que se 
                      haya seleccionado.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Verifica 
                      bloqueos </span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que se marca para indicar si el sistema debe evaluar que los <a href="CAH_002B.html" class="LINK2"><em>bloqueos</em></a> 
                      actuales de las tarjetas permitan la acci&oacute;n de renovaci&oacute;n 
                      para que &eacute;stas puedan ser incluidas en la lista.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">Es importante aclarar que adem&aacute;s de 
              las condiciones se&ntilde;aladas en este formulario, el sistema eval&uacute;a 
              si de acuerdo con los <a href="DBH_018B.html" class="LINK2"><em>par&aacute;metros 
              del producto</em></a>, en el formulario de eventos, bloque renovaci&oacute;n 
              el campo <em>permite renovaci&oacute;n masiva</em> se encuentra marcado. En 
              caso que el campo no est&eacute; marcado, as&iacute; las tarjetas pertenecientes 
              al producto cumplan con todas las condiciones para ser incluidas en la lista 
              de renovaci&oacute;n, ninguna de ellas ser&aacute; incluida.</p>
            <p align="center" class="PARRAFO">Adicionalmente al campo <em>Lista</em> que 
              es el &uacute;nico obligatorio, por lo menos alguno de los otros campos contenidos 
              en el formulario debe ser utilizado como criterio para que la lista se pueda 
              generar.</p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_RESULTADOS"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Ver 
              resultados</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              si el usuario selecciona una lista e invoca el hiperv&iacute;nculo <em>Ver 
              resultados </em>, se despliega un wizard de dos pasos en el que se muestran 
              todas las tarjetas que cumplieron con los criterios seleccionados al momento 
              de generar la lista.</span></font></p>
            <p align="center" class="PARRAFO">La primera p&aacute;gina del wizard contiene 
              el bot&oacute;n especial <a href="DBH_024B.html#BL_RENOVAR" class="LINK2"><em>renovar 
              todas</em></a> que le permite al usuario efectuar el proceso de renovaci&oacute;n 
              para todas las tarjets contenidas en la lista; adicionalmente mediante la 
              opci&oacute;n Eliminar el usuario puede retirar cualquiera de las tarjetas.</p>
            <p align="center"><img src="../img/DBF_024E2.PNG" width="676" height="483"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>N&uacute;mero 
                      tarjeta</span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que muestra el n&uacute;mero de cada una de las tarjetas que cumplieron 
                      los criterios para ser incluidas en la lista de renovaci&oacute;n.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Nombre 
                      pl&aacute;stico</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se despliega el nombre actual del realce de cada una de 
                      las tarjetas.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha 
                      vencimiento </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que muestra en formato YYYY-MM-DD la fecha actual de vencimiento de 
                      las tarjetas incluidas en la lista.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Renovada</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se indica para cada tarjetas <em>Si</em> o <em>No</em> 
                      se le aplic&oacute; ya el proceso de renovaci&oacute;n.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Renovar</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que permite marcar las tarjetas a las cuales se les desea aplicar 
                      el proceso de renovaci&oacute;n, cuando &eacute;ste no se desea aplicar 
                      para todas las tarjetas de la lista.</p></td>
                </tr>
              </table>
            </div>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO">Despu&eacute;s de haber seleccionado las tarjetas 
              a renovar y al desplazarse a la segunda p&aacute;gina del wizard mediante 
              el bot&oacute;n de navegaci&oacute;n, se muestra el resumen de los registros 
              a renovar. El formulario cuenta con un check que permite marcar aquellas tarjetas 
              que por alguna causa ya no se desea renovar y mediante el bot&oacute;n finalizar 
              se efect&uacute;a el proceso respectivo. </p>
            <p align="center"><img src="../img/DBF_024E3.PNG" width="686" height="221"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_RENOVAR"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Renovar 
              todas</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              si desde la primera p&aacute;gina del wizard de resultados el usuario invoca 
              el bot&oacute;n Renovar todas, el sistema ejecutar&aacute; el proceso de renovaci&oacute;n 
              de todas las tarjetas contenidas en la lista para las cuales el indicador 
              de estado mostrado en el campo <em>Renovada</em> sea <em>No</em>. Una vez 
              que el proceso ha finalizado, las tarjetas quedan con estado Renovada = <em>Si 
              </em>y se inhabilita el check<em> Renovar.</em></span></font></p>
            <p align="center"><img src="../img/RENOV_TODAS_DB.PNG" width="35" height="33"></p>
            <p align="center">&nbsp;</p>
            <div align="center">
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>