<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Novedad bloqueo pl&aacute;stico d&eacute;bito</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Mediante esta opci&oacute;n que se 
              invoca desde <a href="DBH_020B.html" class="LINK2">Generaci&oacute;n de novedades 
              d&eacute;bito</a> se registra la novedad mediante la cual se aplican o retiran 
              los bloqueos a sobre los pl&aacute;sticos de las tarjetas d&eacute;bito.</span></p>
            <p align="justify" class="PARRAFO">&nbsp;</p>
            <p align="center"><img src="../img/DBF_027E.PNG" width="384" height="153"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Bloqueo 
                      actual</span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      con lista de valores de la que se selecciona la <a href="NUH_017B.html" class="LINK2"><em>novedad</em></a> 
                      de productos d&eacute;bito que se le va a aplicar a la tarjeta. Cuando 
                      se ingresa al formulario, por defecto trae el bloqueo actual del pl&aacute;stico 
                      ingresado y permite si es el caso dejarlo en blanco para indicar que 
                      se est&aacute; levantando el bloqueo a la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha 
                      bloqueo actual</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo de salida se muestra en formato YYYY-MM-DD la fecha de 
                      la &uacute;ltima vez que se le aplic&oacute; o retir&oacute; un bloqueo 
                      a la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Motivo 
                      cancelaci&oacute;n </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Cuando 
                      el bloqueo actual corresponde a <em>Cancelaci&oacute;n voluntaria</em>, 
                      este campo se habilita y convierte en obligatorio permitiendo selecciona 
                      de la lista de valores el <a href="NUH_009B.html" class="LINK2">motivo</a> 
                      por el cual el cliente hace la devoluci&oacute;n del pl&aacute;stico.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha 
                      radicaci&oacute;n</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo obligatorio se registra en formato YYYY-MM-DD la fecha 
                      en la que se ingresa la novedad en el sistema.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <div align="center">
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>