<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Solicitudes masivas</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Mediante esta opci&oacute;n la entidad 
              tiene la posibilidad de registrar en el sistema las solicitudes de tarjetas 
              d&eacute;bito no personalizadas con destino a las diferentes sucursales con 
              el fin de poder atender oportunamente las necesidades de sus clientes.</span></p>
            <p align="justify" class="PARRAFO">Al ingresar a la opci&oacute;n se despliega 
              un wizard de dos pasos y la primera p&aacute;gina contiene un filtro que permite 
              consultar las solicitudes por sucursal y/o producto.</p>
            <p align="center"><img src="../img/DBF_002E.PNG" width="412" height="73"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Sucursal</span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      con lista de valores que permite seleccionar la <a href="NUH_020B.html" class="LINK2"><em>sucursal</em></a> 
                      de la entidad a la que pertenecen las solicitudes masivas que se desea 
                      consultar.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="54" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Producto</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo contiene una lista de valores que permite seleccionar el <a href="DBH_018B.html" class="LINK2"><em>producto 
                      d&eacute;bito</em></a> al que corresponden las solicitudes masivas 
                      a consultar.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">Una vez seleccionadas la sucursal y/o el producto 
              mediante el bot&oacute;n buscar se muestran en el formulario los registros 
              que coincidan con los criterios ingresados y por defecto al entrar a la opci&oacute;n 
              se muestran todas las solicitudes existentes actualmente.</p>
            <p align="center" class="PARRAFO">El formulario posee el bot&oacute;n especial 
              <a href="DBH_002B.html#BL_APLICAR" class="LINK2"><em>Aplicar todas</em></a> 
              que permite procesar todas las solicitudes y enviar a la etapa de <a href="PLH_008B.html" class="LINK2"><em>pl&aacute;sticos 
              en realce</em></a> los n&uacute;meros de tarjetas generados para que se pueda 
              hacer el realce de las tarjetas. </p>
            <p align="center"><img src="../img/DBF_002E1.PNG" width="682" height="411"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Sucursal</span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que muestra las <a href="NUH_020B.html" class="LINK2"><em>sucursales</em></a> 
                      de la entidad a las que pertenecen las diferentes solicitudes masivas.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="54" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Producto</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo despliega el <a href="DBH_018B.html" class="LINK2"><em>producto 
                      d&eacute;bito</em></a> que se est&aacute; solicitando para la sucursal.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha 
                      solicitud </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      en formato YYYY-MM-DD la fecha en la cual se registr&oacute; en el 
                      sistema la solicitud masiva de tarjetas d&eacute;bito.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Solo 
                      consulta </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo muestra como valor 'Normal' para indicar que la tarjeta es transaccional 
                      y emite pl&aacute;stico.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Cantidad 
                      solicitada </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que contiene la cantidad de tarjetas que por producto se solicitan 
                      para la sucursal.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Procesada</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se indica <em>Si</em> o <em>No</em> la solicitud ya fue 
                      procesada, es decir, si ya se generaron los n&uacute;meros de tarjetas 
                      y enviaron a <a href="PLH_008B.html" class="LINK2"><em>pl&aacute;sticos 
                      en realce</em></a>.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Selecci&oacute;n</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      tipo check que permite marcar las solicitudes que se desea procesar 
                      en caso que no se desee procesar todas las solicitudes existentes.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">El formulario cuenta con las opciones Eliminar 
              y Adicionar.</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n <em>Adicionar</em>, se despliega un 
              nuevo formulario con los siguientes campos.</p>
            <p align="center"><img src="../img/DBF_002E2.PNG" width="468" height="113"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo 
                      solicitud </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      obligatorio con lista de valores que permite seleccionar el <a href="DBH_018B.html" class="LINK2"><em>producto 
                      d&eacute;bito</em></a> del cual se est&aacute; solicitando generaci&oacute;n 
                      masiva de tarjetas. La lista muestra solo aquellos productos que tienen 
                      parametrizado que si emiten pl&aacute;stico.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="66" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Sucursal</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo obligatorio contiene lista de valores de la que se selecciona 
                      la <em></em><a href="NUH_020B.html" class="LINK2"><em>sucursal</em></a> 
                      que solicita o para la cual van dirigidos los pl&aacute;sticos a emitir 
                      masivamente.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="47" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Cantidad 
                      solicitada </span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      num&eacute;rico obligatorio en el que se debe registrar la cantidad 
                      de tarjetas masivas solicitadas.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">Como se mencion&oacute; anteriormente, si 
              el actor no desea procesar todas las solicitudes, puede marcar aquellas que 
              desea gestionar y mediante el bot&oacute;n contenido en el wizard se desplaza 
              a la segunda p&aacute;gina donde se muestran las solicitudes seleccionadas. 
            </p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center"><img src="../img/DBF_002E3.PNG" width="690" height="88"></p>
            <p align="center" class="PARRAFO">La segunda p&aacute;gina contiene una casilla 
              que permite seleccionar aquellas solicitudes que ya no se desea procesar.</p>
            <p align="center" class="TITLE">Botones especiales</p>
            <p align="justify"><a name="BL_APLICAR"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b>Aplicar 
              todas </b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              mediante este bot&oacute;n se permite el procesamiento de todas las solicitudes 
              masivas existentes y cuyo estado sea sin procesar, de acuerdo con lo indicado 
              para la misma en el campo Procesada. Una vez efectuado el proceso, en la opci&oacute;n 
              de <a href="PLH_008B.html" class="LINK2"><em>pl&aacute;sticos en realce</em></a> 
              se deben mostrar los n&uacute;meros de tarjeta generados para permitirle al 
              usuario continuar con el proceso de realce de los pl&aacute;sticos y su posterior 
              env&iacute;o a cada una de las sucursales.</span></font></p>
            <p align="center"><img src="../img/APLICAR_SOL_MASIVAS.PNG" width="39" height="36"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <div align="center">
    </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>