<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
  
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%" height="36">
          <div align="right"> 
                    <p align="center" class="TITLE">Grupos de afinidad</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Mediante esta opci&oacute;n se parametrizan 
              los grupos que presentan caracter&iacute;sticas comunes para otorgarles algunos 
              beneficios a los clientes que pertenezcan a cada grupo de afinidad, con el 
              objetivo de incentivar el consumo; cada grupo tiene asociado un programa definido 
              por Visa, utilizado para la generaci&oacute;n de estad&iacute;sticas con destino 
              a la franquicia con la informaci&oacute;n por ella requerida. </span></p>
            <p align="justify" class="PARRAFO">Al ingresar a la opci&oacute;n se despliega 
              un filtro que le permite al actor consultar alg&uacute;n registro espec&iacute;fico 
              por el grupo, la descripci&oacute;n del mismo, el programa asociado o la condici&oacute;n 
              de marca compartida. Por defecto al ingresar al formulario muestra todos los 
              grupos de afinidad parametrizados por la entidad.</p>
            <p align="center"><img src="../img/DBF_034E11.PNG" width="368" height="155"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center"><img src="../img/DBF_034E12.PNG" width="631" height="486"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO">El formulario posee los hiperv&iacute;nculos 
              <a href="DBH_034B1.html" class="LINK2"> <em>Segmentos</em></a>, <em><a href="DBH_034B.html" class="LINK2">Definici&oacute;n 
              de bines </a></em> y <a href="DBH_034B2.html#BL_OFICINAS" class="LINK2">Oficinas 
              por grupo de afinidad</a> que le permiten a la entidad parametrizar los dem&aacute;s 
              componentes del producto. Adicionalmente contiene las opciones Actualizar, 
              Eliminar, Adicionar y Detalle.</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n <em>Adicionar</em>, se despliega un 
              nuevo formulario con los siguientes campos.</p>
            <p align="center"><img src="../img/DBF_034E13.PNG" width="665" height="264"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family: Arial">Grupo 
                      afinidad </span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      num&eacute;rico de hasta 3 d&iacute;gitos, obligatorio, en el que 
                      se ingresa el c&oacute;digo de cada uno de los grupos de afinidad 
                      a adicionar. Va acompa&ntilde;ado de un campo alfenum&eacute;rico 
                      de hasta 30 caracteres en donde se registra el nombre o descripci&oacute;n 
                      del grupo.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="85" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Marca compartida</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo obligatorio tipo combo permite indicar <em>Si</em> o <em>No</em> 
                      el grupo que se est&aacute; definiendo ser&aacute; utilizado para 
                      lo conformaci&oacute;n de productos de marca compartida.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="85" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Programa</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify"><span class="PARRAFO">Campo 
                      con lista de valores de la que se selecciona el</span><a href="NUH_067B.html" class="LINK2"><em> 
                      programa de afinidad</em></a><span class="PARRAFO"> establecido por 
                      visa para efectos de generaci&oacute;n de las estad&iacute;sticas 
                      de los productos que tenga asociado al grupo de afinidad.</span></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="85" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Representante 
                      legal </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo no obligatorio de hasta 30 caracteres se registra el nombre 
                      de la persona que hace las veces de representante legal del grupo 
                      de afinidad. </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="85" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Ubicaci&oacute;n</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      con lista de valores que permite seleccionar la <a href="NUH_003B.html" class="LINK2">ubicaci&oacute;n 
                      geogr&aacute;fica</a> de la direcci&oacute;n de la sede principal 
                      del grupo de afinidad.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="85" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Comisi&oacute;n 
                      cambio grupo de afinidad</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo tipo combo permite indicar <em>Si</em> o <em>No</em> el cambio 
                      de un grupo de afinidad a otro implica alg&uacute;n costo para la 
                      empresa respectiva.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="85" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Tel&eacute;fonos</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campos 
                      en los que se regitran los n&uacute;meros telef&oacute;nicos de la 
                      sede principal del grupo de afinidad.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="85" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Fax</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se ingresa el n&uacute;mero del fax de la sede principal 
                      del grupo de afinidad.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="85" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Correo electr&oacute;nico</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      alfanum&eacute;rico que permite registrar el e-mail al cual se le 
                      pueden enviar comunicaciones por este medio al grupo de afinidad.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="85" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo cuenta</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo tipo combo se selecciona entre <em>Ahorros, Corriente</em> 
                      o <em>Rotativo</em> el tipo de cuenta asociado al grupo de afinidad 
                      para efectos del abono de los beneficios recibidos.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>N&uacute;mero 
                      de cuenta</span></b></p>
                    <p class="SUBTITULO">&nbsp;</p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      no obligatorio en el que se registra el n&uacute;mero de cuenta para 
                      el abono de beneficios al grupo de afinidad.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Programa 
                      fidelidad</span></b></p>
                    <p class="SUBTITULO">&nbsp;</p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo con lista de valores se selecciona el esquema de puntajes 
                      asociado al grupo de afinidad y que determina los beneficios obtenidos 
                      por este.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Direcci&oacute;n</span></b></p>
                    <p class="SUBTITULO">&nbsp;</p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      alfanum&eacute;rico en el que se registra la nomenclatura correspondiente 
                      a la ubicaci&oacute;n de la sede principal del grupo de afinidad.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar:</span></b> 
              si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar, 
              se despliega un formulario en el cual el &uacute;nico campo NO modificable 
              es el grupo de afinidad.</p>
            <p align="center"><img src="../img/DBF_034E14.PNG" width="644" height="252"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Detalle:</span></b> 
              si el usuario selecciona un registro e invoca la opci&oacute;n <em>Detalle</em>, 
              se despliega un formulario con la informaci&oacute;n completa del registro 
              y en el cual ninguno de sus campos es modificable.</p>
            <p align="center"><img src="../img/DBF_034E15.PNG" width="689" height="215"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_OFICINAS"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Oficinas 
              por grupo de afinidad</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              si el usuario selecciona un grupo de afinidad e invoca el hiperv&iacute;nculo 
              <em>Oficinas por grupo de afinidad</em>, se despliega un nuevo formulario 
              en el que se parametrizan las oficinas de la empresa relacionadas con el grupo 
              de afinidad permitiendo si es el caso, asignar una cuenta a cada oficina. 
              Debe aclararse que estas oficinas no necesariamente son las sucursales de 
              la entidad, sino que pueden ser las sucursales de la empresa con la cual se 
              suscribe convenio de grupo de afinidad.</span></font></p>
            <p align="center"><img src="../img/DBF_034E16.PNG" width="667" height="455"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">El formulario contiene las opciones Acutalizar, 
              Eliminar y Adicionar.</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n <em>Adicionar</em>, se despliega un 
              nuevo formulario con los siguientes campos.</p>
            <p align="center"><img src="../img/DBF_034E17.PNG" width="361" height="116"></p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Oficina</span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      obligatorio en el que se registra el c&oacute;digo de cada una de 
                      las oficinas asociadas con el grupo de afinidad. Va acompa&ntilde;ado 
                      de un campo en el que se registra el nombre o descripci&oacute;n de 
                      la oficina.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo 
                      cuenta </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo no obligatorio tipo combo, se selecciona entre <em>Ahorros, 
                      Corriente</em> o <em>Rotativo</em> el tipo de cuenta asociado con 
                      la oficina.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>N&uacute;mero 
                      cuenta </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      de hasta 16 caracteres en el que se registra el n&uacute;mero de la 
                      cuenta asociada a la oficina.</p></td>
                </tr>
              </table>
            </div>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar:</span></b> 
              si el usuario selecciona un registro e invoca la opci&oacute;n <em>Actualizar</em>, 
              se despliega un formulario en el cual los campos modificables son <em>Tipo 
              cuenta</em> y <em>N&uacute;mero cuenta</em>.</p>
            <p align="center"><img src="../img/DBF_034E18.PNG" width="362" height="116"></p>
            <div align="center">
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>