<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Consulta solicitudes</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Esta opci&oacute;n permite consultar las diferentes solicitudes 
              que se encuentran en cualquiera de las etapas definidas por la entidad. La 
              forma filtra con base en el perfil del usuario el tipo de solicitudes que 
              le son permitidas consultar y que pueden ser s&oacute;lo las asociadas a productos 
              D&eacute;bito.</p>
            <p class="PARRAFO">El formulario cuenta con un filtro de b&uacute;squeda y la 
              opci&oacute;n Solicitudes en la parte superior.</p>
            <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar 
              consultas a trav&eacute;s de las siguientes opciones: </p>
            <p align="center"><img src="../img/DBF_041A.PNG" width="375" height="515"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Secuencia<br>
                  </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Aparece 
                    el n&uacute;mero consecutivo que identifica a cada una de las solicitudes 
                    que se han realizado en el sistema.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    solicitud <b><span #'font-family:Arial'> </span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que ilustra la clase de solicitud que ha realizado el cliente; adem&aacute;s 
                    posee lista de valores la cual puede ser utilizada como criterio para 
                    realizar consultas por los distintos tipos o clases de solicitudes.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Fecha 
                    ingreso</b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Corresponde 
                    a la fecha en la cual la solicitud ingres&oacute; a la &uacute;ltima 
                    etapa en la cual se encuentra la solicitud. Si se requiere establecer 
                    la fecha en que ingres&oacute; la solicitud basta con presionar el bot&oacute;n 
                    especial de Consultar Etapas.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Origen</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Permite 
                    identificar a trav&eacute;s de cu&aacute;l fuente ingres&oacute; la 
                    solicitud. Permite realizar consultas por los distintos or&iacute;genes 
                    mediante la lista de valores adjunta.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Finalizada<b><span #'font-family:Arial'> 
                    </span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'> Campo que posee 
                  lista de valores que adem&aacute;s de servir de criterio de consulta, 
                  indica si la solicitud ya finaliz&oacute; o no, o a&uacute;n hace transito 
                  por alguna de las etapas parametrizadas.</td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    finalizaci&oacute;n</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que en formato YYYY-MM-DD ilustra la fecha en que efectivamente 
                    se surti&oacute; la &uacute;ltima etapa parametrizada.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Etapa 
                    actual</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    la etapa del proceso en la cual se encuentra la solicitud cuando esta 
                    no est&aacute; finalizada.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Estado actual </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que indica la condici&oacute;n en que se encuentra la solicitud al arribar 
                    a esta etapa, las cuales pueden ser: Aprobada totalmente o Aprobada parcialmente; de 
                    igual forma facilita la consulta por cualquiera de estas mediante la 
                    lista de valores adjunta.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Fecha 
                    estado</b> actual </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que ilustra la fecha en la que la solicitud adquiri&oacute; el estado 
                    actual.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    identificaci&oacute;n </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que despliega tanto el tipo de documento como el n&uacute;mero del mismo, 
                    que identifica al solicitante.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Identificaci&oacute;n 
                    solicitante </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que despliega tanto el tipo de documento como el n&uacute;mero del mismo, 
                    que identifica al solicitante.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Nombre<b><span #'font-family:Arial'> 
                    </span></b>solicitante</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Despliega 
                    el nombre del cliente solicitante.</p></td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO">El sistema muestra el siguiente formulario de 
              acuerdo a los datos ingresados en el filtro. Este formulario cuenta con la 
              opci&oacute;n <em>Detalle</em>.</p>
            <p align="center"><img src="../img/DBF_041A1.PNG" width="584" height="517"></p>
            <p align="center">&nbsp;</p>
            <p><span class="SUBTITULO">Detalle:</span> Esta opci&oacute;n muestra el wizard 
              correspondiente a la <em>Consulta de solicitudes. </em>  </p>
            <p>&nbsp;</p>
            <p align="center"><img src="../img/DBF_041A2.PNG" width="824" height="317"></p>
            <p align="center">&nbsp;</p>
            <p align="justify"><span class="SUBTITULO">Consultar etapas:</span> Si el usuario invoca la opci&oacute;n la consulta de etapas se despliega el 
              siguiente formulario, el cual se va alimentando a medida que la solicitud 
              avanza de etapa hasta ser Aprobada.<span
              #'font-family:Arial'>
              <o:p></o:p>
              </span></p>
            <p align="justify">&nbsp;</p>
            <p align="center"><img src="../img/DBF_041A3.PNG" width="794" height="223"></p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>