<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%" height="36">
          <div align="right"> 
                    <p align="center" class="TITLE">Transacciones por empresa d&eacute;bito</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify" class="PARRAFO">Mediante esta opci&oacute;n, la entidad puede 
              definir las principales caracter&iacute;sticas de las transacciones internas 
              y los conceptos bajo los cuales se efectuar&aacute;n los registros contables 
              y la informaci&oacute;n general para el cliente acerca de la operaci&oacute;n 
              con productos d&eacute;bito.</p>
            <p align="justify" class="PARRAFO">Al ingresar la formulario se despliega un filtro en el que el usuario puede consultar la informaci&oacute;n por el c&oacute;digo de la transacci&oacute;n, el nombre o el concepto de la misma. </p>
            <p align="justify">&nbsp;</p>
            <p align="center"><img src="../img/DBF_017E.PNG" width="416" height="133"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO">Una vez ingresados los criterios mediante el bot&oacute;n buscar se muestran los registros que coincidan. Por defecto, al ingresar al formulario trae todos los registros existentes. </p>
            <p align="justify">&nbsp;</p>
            <p align="center"><img src="../img/DBF_017E1.PNG" width="751" height="206"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="justify" class="PARRAFO">El formulario cuenta con las opciones Actualizar, 
              Eliminar, Adicionar y Detalle.</p>
            <p align="justify" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n <em>Adicionar</em>, se despliega un 
              nuevo formulario con los siguientes campos.</p>
            <p align="center"><img src="../img/DBF_017E2.PNG" width="411" height="249"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>C&oacute;digo 
                      y nombre</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      num&eacute;rico de hasta cuatro d&iacute;gitos, obligatorio, en el 
                      que se registra el c&oacute;digo de la transacci&oacute;n para productos 
                      d&eacute;bito. Va acompa&ntilde;ado de un camapo alfanum&eacute;rico 
                      de 30 posiciones donde se registra el nombre o descripci&oacute;n 
                      de la transacci&oacute;n.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="66" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Naturaleza</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo obligatorio tipo combo permite seleccionar entre <em>D&eacute;bito, 
                      Cr&eacute;dito o No aplica</em> la clase o naturaleza contable del 
                      registro al cual pertenece la transacci&oacute;n, de acuerdo con la 
                      manera como debe afectar el saldo de la tarjeta d&eacute;bito.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="47" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Abreviatura 
                      </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      alfanum&eacute;rico de hasta 10 caracteres, obligatorio, en el que 
                      se registra un nombre corto para identificar la transacci&oacute;n 
                      interna particularmente en las consultas o reportes impresos.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="47" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo transacci&oacute;n</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo obligatorio tipo combo se puede seleccionar entre <em>Transacci&oacute;n 
                      del sistema</em> o <em>Transacci&oacute;n del cliente</em> para indicar 
                      la manera como se origin&oacute; la transacci&oacute;n</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="47" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Concepto transacci&oacute;n</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      obligatorio con lista de valores de la que se selecciona el <a href="NUH_059B.html" class="LINK2">Concepto</a> 
                      asociado con la transacci&oacute;n y que le indica al sistema la manera 
                      c&oacute;mo aparecer&aacute; la descripci&oacute;n de la transacci&oacute;n 
                      en el extracto.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="47" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Moneda transacci&oacute;n</span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo obligatorio con lista de valores se selecciona la <a href="NUH_005B.html" class="LINK2">Moneda</a> 
                      en que se encuentra expresado el valor de las transacciones alternas. 
                      Se habilita dependiendo del valor ingresado en el campo anterior, cuando este corresponde a comisiones. 
                    </p></td>
                </tr>
              </table>
            </div>
            <p align="justify" class="PARRAFO">&nbsp;</p>
            <p align="justify" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar:</span></b> 
              si el usuario selecciona un registro e invoca la opci&oacute;n <em>Actualizar</em>, 
              se despliega un formulario en el cual el &uacute;nico campo NO modificable es el <em>C&oacute;digo</em>.</p>
            <p align="center"><img src="../img/DBF_017E3.PNG" width="411" height="250"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <div align="center">
    </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>