<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Detalle consulta tarjeta d&eacute;bito</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Mediante esta opci&oacute;n que se 
              invoca mediante el hiperv&iacute;nculo <em>N&uacute;mero de tarjeta</em> contenido 
              en la <a href="DBH_036B.html" class="LINK2">consulta de clientes</a>, la entidad 
              tienen acceso a toda la informaci&oacute;n de cada una de las tarjetas d&eacute;bito 
              de sus clientes como lo son cuentas asociadas, hist&oacute;rico de movimientos, 
              estados de la misma entre otros datos.</span></p>
            <p align="justify" class="PARRAFO">Al ingresar a la opci&oacute;n se despliega 
              un formulario estructurado en cuatro tabs en los cuales se agrupa toda la 
              informaci&oacute;n de la tarjeta: <a href="DBH_001B.html#BL_GENERAL" class="LINK2">Informaci&oacute;n 
              general</a>, <a href="DBH_001B.html#BL_CUENTAS" class="LINK2">Cuentas</a>, 
              <a href="DBH_001B.html#BL_MOVIMIENTO" class="LINK2">Movimiento</a> y <a href="DBH_001B.html#BL_NOVEDADES" class="LINK2">Novedades</a>. 
              Por defecto el formulario siempre ingresa en el tab de informaci&oacute;n 
              general. </p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_GENERAL"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Informaci&oacute;n 
              general</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              si el usuario invoca el tab <em>Cuentas</em>, se despliega un nuevo formulario 
              que contiene la informaci&oacute;n principal de la tarjeta como son la identificaci&oacute;n 
              del producto, bloqueos actuales y anteriores, fechas importantes. El formulario 
              se encuentra estrucuturado en tres bloques de datos: <em>Informaci&oacute;n 
              principal, Generalidades</em> y <em>Bloqueos</em>. </span></font></p>
            <p align="justify" class="PARRAFO">&nbsp;</p>
            <p align="center"><img src="../img/DBF_001E.PNG" width="706" height="451"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="44" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Nombre </span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que despliega el nombre y apellidos del cliente titular de la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Empresa</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se muestra el nombre de la empresa o entidad emisora de 
                      la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="34" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Sucursal</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que contiene la <a href="NUH_020B.html" class="LINK2">sucursal</a> 
                      de radicaci&oacute;n de la tarjeta consultada.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="35" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo tarjeta</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo indica si el tipo de tarjeta consultada corresponde a d&eacute;bito.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="44" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Agente</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que muestra el nombre del agente responsable de la colocaci&oacute;n 
                      de la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="48" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Producto</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se despliega el nombre del <a href="DBH_018B.html" class="LINK2">producto 
                      d&eacute;bito</a> al que pertenece la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="48" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Ciclo</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      en el que se indica el <a href="CAH_003B.html" class="LINK2"><em>ciclo 
                      de facturaci&oacute;n</em></a> al que pertenece la tarjeta y que determina 
                      la fecha de corte para el cobro de la cuota de manejo.<span #"font-family: Arial"></span></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Codigo 
                      producto (segmento)</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo contiene el c&oacute;digo del <a href="DBH_034B1.html" class="LINK2"><em>segmento</em></a> 
                      al que pertenece la tarjeta de acuerdo con el producto d&eacute;bito.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Grupo 
                      de afinidad</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que muestra el <a href="DBH_034B2.html" class="LINK2"><em>grupo de 
                      afinidad</em></a> correspondiente al producto d&eacute;bito <span #"font-family: Arial">al 
                      que pertenece la tarjeta.</span></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Tarjeta 
                      anterior </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se muestra si es el caso el anterior n&uacute;mero que 
                      ten&iacute;a la tarjeta cuando por ejemplo a causa de las reexpediciones, 
                      reposiciones o renovaciones de la misma, &eacute;sta haya tenido un 
                      cambio de n&uacute;mero.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha 
                      &uacute;ltima novedad</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que muestra en formato YYYY-MM-DD la fecha en la cual se le aplic&oacute; 
                      a la tarjeta la <a href="DBH_020B.html" class="LINK2">novedad</a> 
                      m&aacute;s reciente, en caso de existir.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha 
                      vencimiento</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo despliega en formato YYYY-MM-DD la fecha hasta la cual tiene 
                      vigencia la tarjeta consultada.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha 
                      activaci&oacute;n</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que muestra en formato YYYY-MM-DD la fecha en la cual se activ&oacute; 
                      la tarjeta actual.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha 
                      cuota </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo se&ntilde;ala en formato YYYY-MM-DD la pr&oacute;xima fecha 
                      en la que se le debe generar el cobro de cuota de manejo a la tarjeta. 
                    </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha 
                      manejo anterior</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      en formato YYYY-MM-DD que indica la fecha en la cual se le hizo el 
                      &uacute;ltimo cobro de cuota de manejo a la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Valor 
                      manejo </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se muestra el monto a cobrar a la tarjeta por concepto 
                      de cuota de manejo de acuerdo con lo parametrizado para el <a href="DBH_018B.html" class="LINK2">producto.</a></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Bloqueo 
                      persona / Fecha bloqueo persona</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campos 
                      que muestran respectivamente en bloqueo actual que tenga el cliente 
                      titular de la tarjeta y la fecha en la cual este fu&eacute; aplicado. 
                      Si el campo Bloqueo est&aacute; en blanco y la Fecha si tiene dato 
                      se debe interpretar como la fecha en que se levant&oacute; el bloqueo 
                      al cliente.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Bloqueo 
                      anterior persona / Fecha bloqueo anterior persona</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Si 
                      en alguna ocasi&oacute;n anterior el cliente tuvo alg&uacute;n bloqueo, 
                      en estos campos se muestra el bloqueo y la fecha de aplicaci&oacute;n 
                      / retiro del mismo.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Bloqueo 
                      pl&aacute;stico / Fecha bloqueo pl&aacute;stico</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campos 
                      que muestran respectivamente en bloqueo actual que tenga la tarjeta 
                      consultada y la fecha en la cual este fu&eacute; aplicado. Si el campo 
                      Bloqueo est&aacute; en blanco y la Fecha si tiene dato se debe interpretar 
                      como la fecha en que se levant&oacute; el bloqueo a la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Bloqueo 
                      anterior pl&aacute;stico / Fecha bloqueo anterior pl&aacute;stico</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Si 
                      en alguna ocasi&oacute;n anterior la tarjeta tuvo alg&uacute;n bloqueo, 
                      en estos campos se muestra el bloqueo y la fecha de aplicaci&oacute;n 
                      / retiro del mismo.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Motivo 
                      cancelaci&oacute;n </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      caso que la tarjeta se encuentre con bloqueo de cancelaci&oacute;n 
                      voluntaria, en este campo se muestra el c&oacute;digo y descripci&oacute;n 
                      del <a href="NUH_009B.html" class="LINK2">motivo</a> presentado por 
                      el cliente al momento de solicitar la cancelaci&oacute;n de la tarjeta.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_CUENTAS"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Cuentas</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              si el usuario invoca el tab <em>Cuentas</em>, se despliega un nuevo formulario 
              que contiene la informaci&oacute;n relacionada con todas las cuentas asociadas 
              a la tarjeta consultada.</span></font></p>
            <p align="center" class="PARRAFO">Este formulario contiene los hiperv&iacute;nculos 
              <em><a href="DBH_022B.html" class="LINK2">Adicionar y eliminar cuenta</a>, 
              <a href="DBH_022B2.html" class="LINK2">Cambio categor&iacute;a cuenta</a>, 
              <a href="DBH_022B1.html" class="LINK2">Cambio de cuenta</a>, </em> que le 
              permiten invocar las novedades correspondientes para modificar la informaci&oacute;n 
              de las cuentas.</p>
            <p align="center"><img src="../img/DBF_001E1.PNG" width="742" height="154"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
          <p class="SUBTITULO"><b><span #'font-family:Arial'>N&uacute;mero 
                      de cuenta</span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que muestra el n&uacute;mero de cada una de las cuentas asociadas 
                      a la tarjeta</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="39" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
          <p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo 
                      de cuenta</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se indica si la cuenta es de <em>Ahorros, Corriente</em> 
                      o <em>Rotativo</em></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
          <p class="SUBTITULO"><b><span #'font-family:Arial'>Moneda</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que despliega la moneda en la cual se encuentra denominada cada una 
                      de las cuentas asociadas a la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Secuencia 
                      de cuenta</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se muetra la secuencia interna que el sistema le asigna 
                      a cada una de las cuentas adicionadas a la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="38" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
          <p class="SUBTITULO"><b><span #'font-family:Arial'>C&oacute;digo 
                      estado de cuenta</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que indica si la cuenta se encuentra <em>Activa</em> o <em>Inactiva</em></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
          <p class="SUBTITULO"><b><span #'font-family:Arial'>Fecca estado cuenta</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se muestra en formato YYYY-MM-DD la fecha a la que corresponde 
                      el estado actual de la cuenta.<em></em></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
          <p class="SUBTITULO"><b><span #'font-family:Arial'>Categor&iacute;a 
                      de cuenta</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que indica si la cuenta el <em>Primaria</em> (principal) o <em>Secundaria.</em></p></td>
                </tr>
              </table>
            </div>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_MOVIMIENTO"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Movimiento</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              si el usuario invoca el tab <em>Movimiento</em>, se despliega un nuevo formulario 
              que contiene la informaci&oacute;n relacionada con todas las transacciones 
              efectuadas con la tarjeta consultada, bien sea que las haya efectuado el cliente 
              o que generadas de manera autom&aacute;tica por el sistema.</span></font></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center"><img src="../img/DBF_001E2.PNG" width="721" height="109"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=746 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Secuencia movimiento</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">N&uacute;mero 
                    utilizado por las entidades para identificar el orden de ingreso de 
                    movimiento de varios or&iacute;genes dentro del sistema</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td width="30%" height="39" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Fecha Comprobante</span> </span></b></p></td>
                  <td width="70%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se indica la fecha que se realiz&oacute; la transacci&oacute;n.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Numero Comprobante </span></span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En este campo muestra el numero asignado para el comprobante de la transacci&oacute;n. </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="39" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Transacci&oacute;n 
                    interna </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se indica la <a href="DBH_017B.html" class="LINK2">transacci&oacute;n 
                      interna</a> generada por el sistema al momento de aplicar la transacci&oacute;n 
                    al cliente.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><span class="SUBTITULO style1"><b>Establecimiento</b></span></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><span class="PARRAFO">Campo 
                  que contiene el codigo y el nombre del comercio donde se realiz&oacute; la transacci&oacute;n.</span></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Valor total</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que contiene el monto por el cual fue registrada y aplicada la transacci&oacute;n 
                    en el sistema.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">El formulario contiene la opci&oacute;n Detalle.</p>
            <p align="center" class="PARRAFO"><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Detalle</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              si el usuario selecciona alguna transacci&oacute;n e invoca la opci&oacute;n 
              detalle, se despliega un formulario que le muestra todos los datos de la transacci&oacute;n.</span></font></p>
            <p align="center"><img src="../img/DBF_001E3.PNG" width="801" height="460"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><span class="style1">Cliente</span></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que despliega el nombre y apellidos del cliente titular de la tarjeta</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><span class="style1">N&uacute;mero de tarjeta </span></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Muestra la tarjeta que realiz&oacute; la transacci&oacute;n. </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Secuencia movimiento</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">N&uacute;mero 
                    utilizado por las entidades para identificar el orden de ingreso de 
                    movimiento de varios or&iacute;genes dentro del sistema</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><span class="style1">Pa&iacute;s </span></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En este campo indica en que pa&iacute;s realiz&oacute; la transacci&oacute;n </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Ciudad</p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En este campo indica en que pa&iacute;s realiz&oacute; la transacci&oacute;n </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><span class="style1">Origen</span></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Despliega el nombre de la fuente y origen del movimiento a trav&eacute;s del que   ingresa la transacci&oacute;n</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Numero Comprobante </span></span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En este campo muestra el numero asignado para el comprobante de la transacci&oacute;n. </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="39" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Fecha Comprobante</span> </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se indica la fecha que se realiz&oacute; la transacci&oacute;n.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>C&oacute;digo 
                    autorizaci&oacute;n </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que indica el n&uacute;mero de autorizaci&oacute;n otorgado poir el 
                    sistema en el momento de aprobar la transacci&oacute;n.<em></em></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Valor moneda local </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                    campo despliega el valor de la transaccion en el pa&iacute;s de origen.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Valor compra </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                    campo despliega el valor de la transaccion sin tener en cuenta propina e iva. </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Valor propina </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                    campo despliega el valor de la propina dado por el tarjehabiente al establecimiento.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor iva </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                  campo despliega el valor del impuesto del valor agregado a las ventas </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor total </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                  campo despliega el valor total de la transacci&oacute;n </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Valor base reintegro 
                    iva </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                    campo despliega el valor que sirve como base para el calculo del reintegro 
                    de los 2 puntos de IVA sobre compras y que corresponde al valor de 
                    los bienes y/o servicios gravados con este impuesto.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Establecimiento</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se muestra el c&oacute;digo del establecimiento en el que 
                    se realiz&oacute; la transacci&oacute;n.<em></em></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="39" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Transacci&oacute;n 
                    interna </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se indica la <a href="DBH_017B.html" class="LINK2">transacci&oacute;n 
                      interna</a> generada por el sistema al momento de aplicar la transacci&oacute;n 
                    al cliente.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Moneda</span></b> original </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que indica la moneda en la cual fue efectuada la transacci&oacute;n.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Moneda</span></b> local </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que indica la moneda en la cual fue efectuada la transacci&oacute;n 
                      y que corresponde a la misma en la cual est&aacute;n determinados 
                      los saldos de la cuenta a afectar como resultado de las utilizaciones 
                      de la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha 
                    proceso </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se muetra en formato YYYY-MM-DD la fecha en que se proces&oacute; 
                    el movimiento dentro del cual lleg&oacute; la transacci&oacute;n</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Bin fuente</span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que contiene el bin que identifica a la entidad que emite la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha contabilizaci&oacute;n</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                    campon en formato YYYY-MM-DD contiene la fecha en la que el movimiento 
                    fue contabilizado.<em></em></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="38" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>N&uacute;mero 
                      paquete </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Se&ntilde;ala 
                      el n&uacute;mero utilizado por las entidades para identificar el orden 
                      de ingreso o captura de varios paquetes de movimiento dentro del sistema.<br>
                    </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Lote referencia</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo muestra el n&uacute;mero del lote dentro del cual se encuentra 
                      la transacci&oacute;n.<em></em></p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Secuencia referencia</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo corresponde a un n&uacute;mero secuencial que hace parte de 
                      la referencia universal que identifica cada transacci&oacute;n.<br>
                    </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="37" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>D&iacute;gito 
                    de chequeo</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                    campo contiene el &uacute;ltimo n&uacute;mero que compone la referencia 
                    universal, obtenido mediante algoritmos y que permite verificar la 
                    validez de dicha referencia</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family: Arial">Referencia 
                    internacional </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que contiene el n&uacute;mero de referencia universal asignado a la 
                    transacci&oacute;n y que la identifica dentro de las dem&aacute;s 
                    transacciones. </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="39" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo captura</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se indica la manera como la transacci&oacute;n ingres&oacute; 
                    al sistema.</p></td>
                </tr>
              </table>
            </div>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_NOVEDADES"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Novedades</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              si el usuario invoca el tab <em>Novedades</em>, se despliega un nuevo formulario 
              que contiene la informaci&oacute;n relacionada con todas las novedades que 
              le han sido aplicadas a la tarjeta. Contiene la opci&oacute;n Detalle que 
              permite invocar el formulario con la informaci&oacute;n completa de cada una 
              de las novedades aplicadas a la tarjeta.</span></font></p>
            <p align="center"><img src="../img/DBF_001E4.PNG" width="797" height="180"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                    <p class="SUBTITULO"><b><span #'font-family:Arial'>Secuencia</span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que muestra el n&uacute;mero asignado internamente por el sistema 
                      a cada una de las <a href="DBH_020B.html" class="LINK2">novedades</a> 
                      generadas.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><strong><span class="SUBTITULO">Fecha Novedad </span></strong></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><span class="PARRAFO">En 
                    este campo se muetra en formato YYYY-MM-DD la fecha en que se proces&oacute; 
                    la novedad. </span></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="39" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Novedad adminsitrativa</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se despliega el c&oacute;digo y nombre de la <a href="NUH_017B.html" class="LINK2">novedades</a> que fue aplicada a la tarjeta.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Clase novedad</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    en el que se indica si la acci&oacute;n de la novedad fue <em>Adici&oacute;n, 
                      Modificaci&oacute;n</em> o <em>Eliminaci&oacute;n</em> de datos.</p></td>
                </tr>
              </table>
            </div>
    </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>