<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Tipos de servicio</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Mediante esta funci&oacute;n se permite 
              la consulta y mantenimiento de la tabla que contiene la codificaci&oacute;n 
              de los diferentes tipos de servicio que ofrecen los <a href="ESH_006B.html" class="LINK2"><em>establecimientos</em></a> 
              pertenecientes a la entidad financiera y para cada uno de estos, se definen 
              valores y condiciones espec&iacute;ficos. 
              </span></p>
            <p align="center"><img src="../img/ESF_002E.PNG" width="754" height="505"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar y Adicionar. Adicionalmente contiene el hiperv&iacute;nculo Marcas 
              en el cual se definen las condiciones que aplican para cada tipo de servicio.</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><b #'mso-bidi-font-weight:normal'><span #'font-family:Arial;
              '>Adicionar</span></b><span #'font-family:Arial'>:</span><span #'font-family:Arial'></span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario</span></font></p>
            <p align="center"><img src="../img/ESF_002E1.PNG" width="286" height="77"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>C&oacute;digo</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    num&eacute;rico de 4 d&iacute;gitos, obligatorio, asignado a cada uno 
                    de los tipos de servicio o bien ofrecidos por los establecimientos.<br>
                  </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Descripci&oacute;n</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 30 posiciones, obligatorio, se registra 
                    el nombre asociado a cada tipo de servicio. <br>
                  </p></td>
              </tr>
            </table>
            <p><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar</span></b>: <span class="PARRAFO">Si el usuario invoca la opci&oacute;n Actualizar 
                se despliega un nuevo formulario en el cual el &uacute;nico campo modificable 
            es Descripci&oacute;n.</span></p>
            <div align="center">
              <p><img src="../img/ESF_002E2.PNG" width="286" height="77"></p>
              <p class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Marcas</span></b>:      Bloque que permite conocer las marcas o   franquicias sobre las que tiene validez o aplica la codificaci&oacute;n desplegada en   el bloque anterior. Cuenta con las opciones Actualizar, Eliminar,Adicionar y Detalle. Asi mismo posee un boton que permite regresar a la opci&ograve;n <a href="ESH_002B.html" class="LINK2">Tipos de servicio.</a> </p>
              <p align="center"><img src="../img/ESF_002E6.PNG" width="602" height="198"></p>
              <p class="PARRAFO"><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><b #'mso-bidi-font-weight:normal'><span #'font-family:Arial;
              '>Adicionar</span></b><span #'font-family:Arial'>:</span><span #'font-family:Arial'></span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario</span></font>.</p>
              <p align="center"><img src="../img/ESF_002E5.PNG" width="484" height="739"></p>
              <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td width="28%" height="70" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1"> C&ograve;digo Marca</span></span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de 3 posiciones, obligatorio,   en el cual se digita el c&oacute;digo de cada una de las marcas o si se prefiere se   puede seleccionar de la lista de valores las <em><A href="NUH_033B.html">franquicias</A></em> a las cuales pertenece el   establecimiento.</p>        </td>
                </tr>
                <tr #'mso-yfti-irow:1'>
                  <td height="45" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Descripci&ograve;n</p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Despliega el   nombre de la marca o franquicia seleccionada.</p>
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Porcentaje Rete-fuente</strong></p>
                      <p class="SUBTITULO">&nbsp;</p></td>
                  <td valign=top background="NUH_055B.html" #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que permite registrar el valor   porcentual de la tasa a aplicar por retenci&oacute;n en la fuente, sobre el resultado   del porcentaje base definido en el campo siguiente.&nbsp; Cabe anotar que el sistema busca este   par&aacute;metro en primer lugar a nivel de <em><A href="ESH_006E.html#BL_RETE">establecimiento</A></em>; si no est&aacute; definido all&iacute;,   tiene en cuenta el valor aqu&iacute; registrado, y de no estar aqu&iacute;, se remite a los <em><A href="NUH_055B.html">Par&aacute;metros operativos</A></em>; lo mismo aplica para   los 3 campos siguientes.</p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="86" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Porcentaje base Rete-fuente </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Permite definir el valor porcentual a   aplicar y calcular sobre los consumos (u otros conceptos asimilables), sobre   cuyo resultado se liquidar&aacute; el impuesto de retenci&oacute;n en la   fuente.</p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Porcentaje Retenci&ograve;n Iva </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo en el que se registra el valor   porcentual de la tasa a aplicar por dicho impuesto, sobre el resultado del   porcentaje base retenci&oacute;n IVA obtenido.</p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="90" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Porcentaje base Rete-Iva</p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo se define el valor porcentual   a aplicar y calcular sobre el valor del IVA reportado por los establecimientos   en las consignaciones, para establecer la base de c&aacute;lculo de la Retenci&oacute;n a   hacer por este concepto.</p>
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="116" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">L&igrave;mite Piso </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo num&eacute;rico de 18 posiciones, no   obligatorio, se registra el valor del l&iacute;mite de piso o valor a partir del cual   se requiere solicitar autorizaci&oacute;n, que regir&aacute; por defecto para los   establecimientos que perteneciendo a cada tipo de servicio no lo hayan definido   para cada uno de &eacute;stos.</p>        
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="97" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Especialidad</p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que posee lista de valores de la cual   se selecciona la especialidad asociada al tipo de servicio. La especialidad   corresponde a una clasificaci&oacute;n superior, que agrupa a varios tipos de   servicio.</p>
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">D&igrave;as eliminar Autorizaciones </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo se define la cantidad de d&iacute;as   calendario que deben pasar entre la solicitud de autorizaci&oacute;n y la eliminaci&oacute;n   de la misma, liberando el disponible cuando el movimiento no llega por   canje.&nbsp; En caso de que este valor no est&eacute;   definido aqu&iacute;, el sistema lo busca en <em><A href="NUH_055B.html">Par&aacute;metros   operativos</A></em>.</p>
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="83" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tarjeta D&egrave;bito </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Opci&oacute;n que permite definir de manera   excluyente si la cifra relacionada en el campo <em>Valor</em> ubicado a   continuaci&oacute;n, corresponde a un porcentaje o un valor absoluto.</p>
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor</p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de 18 d&iacute;gitos no obligatorio,   en el que se registra acorde a lo definido en el campo anterior, el valor   absoluto o porcentual a descontar a manera de comisi&oacute;n a los establecimientos   por transacciones realizadas con productos d&eacute;bito y que aplicar&aacute; por defecto a   los comercios pertenecientes a cada tipo de servicio.</p>        
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tarjeta Cr&egrave;dito </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Opci&oacute;n que permite definir de manera   excluyente si la cifra relacionada en el campo <em>Valor</em> ubicado a   continuaci&oacute;n, corresponde a un porcentaje o un valor absoluto.</p>        
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor</p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de 18 d&iacute;gitos no obligatorio,   en el que se registra acorde a lo definido en el campo anterior, el valor   absoluto o porcentual a descontar a manera de comisi&oacute;n a los establecimientos   por transacciones realizadas con tarjetas de cr&eacute;dito y que aplicar&aacute; por defecto   a los comercios pertenecientes a cada tipo de servicio.</p>        
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tarjeta Electr&ograve;n </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Opci&oacute;n que permite definir de manera   excluyente si la cifra relacionada en el campo <em>Valor</em> ubicado a   continuaci&oacute;n, corresponde a un porcentaje o un valor   absoluto.</p>        
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Visa Cash </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Opci&oacute;n que permite definir de manera   excluyente si la cifra relacionada en el campo <em>Valor</em> ubicado a   continuaci&oacute;n, corresponde a un porcentaje o un valor   absoluto.</p>        
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor</p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de 18 d&iacute;gitos no obligatorio,   en el que se registra acorde a lo definido en el campo anterior, el valor   absoluto o porcentual a descontar a manera de comisi&oacute;n a los establecimientos   por transacciones realizadas con productos Visa cash y que aplicar&aacute; por defecto   a los comercios pertenecientes a cada tipo de servicio.</p>        
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Derecho propina </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indicador de si los establecimientos   pertenecientes a cada tipo de servicio, tienen o no derecho a la liquidaci&oacute;n y   cobro de propina. Si este indicador esta inactivo, los campos % m&aacute;ximo no   comisionable y Tolerancia no comisionable, se desactivar&aacute;n.</p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Plazo m&agrave;ximo consignaci&ograve;n </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de 2 d&iacute;gitos, no obligatorio,   que se&ntilde;ala la cantidad m&aacute;xima de d&iacute;as h&aacute;biles que la entidad concede como plazo   por defecto para la captura de las consignaciones efectuadas por los   establecimientos, en caso en que dicho dato no aparezca dentro de la informaci&oacute;n   de cada establecimiento. Si el plazo tampoco est&aacute; definido en este campo, el   sistema lo busca en <em><A href="NUH_055E.html">Par&aacute;metros   operativos</A></em><a href="NUH_055B.html">.</a></p>
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Porcentaje m&agrave;ximo no comisionable </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo num&eacute;rico de 9 posiciones, no   obligatorio, se registra el valor porcentual m&aacute;ximo o tope para el cobro de   propina acordado por la franquicia. Si no se define un valor para el   establecimiento, el sistema asigna el valor que por defecto presente el nivel de   tipo de servicio o en su ausencia el valor determinado por la   franquicia.</p>
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tolerancia  no comisionable </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de 9 posiciones no   obligatorio, en el que se registra el valor absoluto m&aacute;ximo acordado entre el   emisor y el operador (franquicia) en que puede excederse el monto de comisi&oacute;n   cobrado. Si no se define un valor para el establecimiento, el sistema asigna el   valor que por defecto presente el nivel de tipo de servicio o en su ausencia el   valor determinado por la franquicia.</p>        
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Permite Ica </p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Esta casilla se marca para indicar si para   cada tipo de servicio la norma autoriza o no aplicar la retenci&oacute;n del impuesto   de industria y comercio ICA, en principio se eximen aquellos relacionados con el   expendio de gasolina. Acorde con la manera de proceder de cada franquicia   respecto del control de la informaci&oacute;n sobre los establecimientos, debe tenerse   cuidado respecto de la marcaci&oacute;n de este indicador.</p>        
                  </td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'>
                  <td height="46" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Aerol&igrave;nea</p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Esta casilla se marca para indicar si el   establecimiento corresponde a una aerol&iacute;nea. </p></td>
                </tr>
              </table>
              <p>&nbsp;</p>
              <p><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar</span></b>: <span class="PARRAFO">Si el usuario invoca la opci&oacute;n Actualizar 
                se despliega un nuevo formulario en el cual los &uacute;nicos campos modificables son: Porcentaje rete-fuente, Procentaje base rete-fuente, Porcentaje retenci&ograve;n iva, porcentaje base rete-iva, l&igrave;mite piso, Especialidad, D&igrave;as eliminar autorizaciones, Tarjeta d&egrave;bito, Valor, Tarjeta cr&egrave;dito, Valor, Tarjeta electr&ograve;n, valor, Visa cash, Valor, Derecho propina, plazo m&agrave;ximo consignaci&ograve;n, porcentaje m&agrave;ximo no comisionable, tolerancia no comisionable, permite ica, Aerol&igrave;nea. </span></p>
              <p align="center"><img src="../img/ESF_002E4.PNG" width="465" height="734"></p>
              <p class="PARRAFO"><span class="SUBTTLO2">Detalle:</span> Si el usuario invoca 
              la opci&oacute;n Detalle se despliega el siguiente formulario.<span
              #'font-family:Arial'>
              <o:p></o:p>
              </span></p>
              <p align="center"><img src="../img/ESF_002E7.PNG" width="750" height="245"></p>
              <p class="PARRAFO">&nbsp;</p>
              <p><img src="../img/ESF_002E2.PNG" width="0" height="0"></p>
              <p>&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>