<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" #"position:absolute; left:181px; top:262px; width:735px; height:616px; z-index:2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Informaci&oacute;n de establecimientos 
                      - Marcas</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify" class="PARRAFO">Desde este formulario, que se invoca mediante 
              el hiperv&iacute;nculo Marcas contenido en el formulario de <a href="ESH_006B.html" class="LINK2"><em>Informaci&oacute;n 
              de establecimientos</em></a>, se registran las diferentes marcas habilitadas 
              para el establecimiento y para cada una de ellas se parametrizan las condiciones 
              de liquidaci&oacute;n de la comisi&oacute;n, vinculaci&oacute;n y estado del 
              establecimiento, si es o no sujeto a efectuarle la retenci&oacute;n en la 
              fuente, y de poseer el derecho de cobrar propina, las estipulaciones bajo 
              las que aplican. </p>
            <p align="center"><img src="../img/ESF_006E5.PNG" width="562" height="158"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="left" class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar, Adicionar y Detalle.</p>
            <p align="left" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario 
              con los siguientes campos:</p>
            <p align="center"><img src="../img/ESF_006E6.PNG" width="657" height="597"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Marca</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    obligatorio con lista de valores de la cual se selecciona cada una de 
                    las diferentes <em><a href="NUH_033B.html" class="LINK2">franquicias</a></em> 
                    autorizadas para el establecimiento y para la cual aplican las dem&aacute;s 
                    condiciones definidas en este formulario. </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    C&oacute;digo m&uacute;ltiple</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se registra el c&oacute;digo de identificaci&oacute;n del 
                    establecimiento, adicional al c&oacute;digo &uacute;nico, que viaja 
                    en la cinta de cargue de establecimientos. <br>
                  </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    C&oacute;digo interno</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    en el cual se registra el c&oacute;digo que identifica al establecimiento 
                    exclusivamente ante la marca American Express. </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    C&oacute;digo intes</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Permite 
                    ingresar el c&oacute;digo que identifica al establecimiento exclusivamente 
                    ante la marca Diners.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Fecha aprobaci&oacute;n</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    en formato YYYY-DD-MM en el que se registra la fecha de aprobaci&oacute;n 
                    de la solicitud de afiliaci&oacute;n al operador (franquicia) y asignaci&oacute;n 
                    del c&oacute;digo &uacute;nico.<br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Ultimo mantenimiento</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo en formato YYYY-DD-MM se registra la fecha en la cual se 
                    hizo la &uacute;ltima visita realizada al establecimiento por parte 
                    del operador de la franquicia. Aplica en especial para credibanco - 
                    visa </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Estado</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    obligatorio tipo combo en el que se selecciona entre <em>Desafiliado, 
                    Inactivo, Activo o Nuevo</em> la condici&oacute;n en que se encuentre 
                    el establecimiento respecto de la marca o franquicia. <br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Fecha activaci&oacute;n</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo en formato YYYY-MM-DD, no obligatorio, se registra la fecha 
                    m&aacute;s reciente de la activaci&oacute;n del establecimiento. </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    C&oacute;digo anterior</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico de 11 d&iacute;gitos, no obligatorio, en el que 
                    se registra el anterior c&oacute;digo asigando al establecimiento, en 
                    caso que lo hubiere, por ejemplo cuando se ha modificado la codificaci&oacute;n.<br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Seccional</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                    campo alfanum&eacute;rico de dos d&iacute;gitos, no obligatorio, se 
                    utiliza para facilitar un agrupamiento o sectorizaci&oacute;n de los 
                    comercios de una cadena.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Modalidad de servicio</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo obligatorio
                    tipo combo del cual se puede seleccionar entre Ventas, Avances o Ambos 
                    el indicador del tipo de servicio autorizado al establecimiento.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Marca compartida</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Cuando 
                    un establecimiento tiene un producto de marca compartida con la entidad, 
                    en este par&aacute;metro se indica el <a href="MEH_001B.html#BL_GRUPO_AFIN" class="LINK2"><em>grupo 
                    de afinidad</em></a> asociado a dicho producto y que permite enrutar 
                    la informaci&oacute;n contable que viaja en las interfases.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Forma de pago</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    tipo combo en el que se puede seleccionar entre <em>Cuenta ahorros, 
                    Cuenta corriente o Cuenta rotativa</em> el tipo de cuenta a la cual 
                    se deben hacer los abonos al establecimiento.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Frecuencia de pago</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo tipo combo se selecciona entre <em>Diario, Semanal, Quincenal, 
                    Mensual, Otro</em> la frecuencia con la cual se deben hacer los abonos 
                    al establecimiento.<br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    D&iacute;a de pago</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Cuando 
                    en el campo anterior se ha seleccionado <em>Otro</em>, aqu&iacute; se 
                    indica el n&uacute;mero de d&iacute;as que debe transcurrir desde la 
                    fecha de la transacci&oacute;n para hacer el abono a la cuenta del establecimiento.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Abono establecimiento</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo obligatorio tipo combo se selecciona entre <em>Total</em> 
                    y <em>Parcial</em> para indicar si de las consignaciones realizadas 
                    solamente se aplica o abona a la cuenta de dep&oacute;sitos, el valor 
                    correspondiente a las transacciones de consumo que han superado exitosamente 
                    todas las validaciones (Parcial), o si por el contrario, se le abona 
                    el Total de la mismas y en caso de presentarse inconvenientes se realizar&aacute; 
                    el ajuste a la cuenta por el respectivo monto. <br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Pseudoc&oacute;digo</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Algunos 
                    de los procesadores, canalizan las operaciones de adquirencia de los 
                    establecimientos a trav&eacute;s de un c&oacute;digo (asignado por &eacute;ste) 
                    como mecanismo de seguridad. Este campo permite registrar el c&oacute;digo 
                    perteneciente al establecimiento, el mismo que permite llegar y afectar 
                    la cuenta ya sea corriente o de ahorros de cada comercio. <br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Oficina</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que contiene lista de valores de la cual se puede seleccionar la <a href="NUH_020B.html" class="LINK2"><em>sucursal</em></a> 
                    para la cual se desea asociar el c&oacute;digo &uacute;nico de establecimiento 
                    y de esta manera disponer de informaci&oacute;n sobre los avances en 
                    efectivo gestionados es estas.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Derecho propina</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo tipo combo se selecciona entre Si o No el establecimiento 
                    de acuerdo con el <a href="ESH_002B.html" class="LINK2"><em>tipo de 
                    servicio</em></a> prestado est&aacute; autorizado para el cobro de propina.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Tolerancia no comisionable</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    num&eacute;rico de 18 d&iacute;gitos no obligatorio, en el que se registra 
                    el valor absoluto m&aacute;ximo acordado entre el emisor y el operador 
                    (<em><a href="NUH_033B.html" class="LINK2">franquicia</a></em>) en que 
                    puede excederse el monto de comisi&oacute;n cobrado. Si no se define 
                    un valor para el establecimiento, el sistema asigna el valor que por 
                    defecto presente el <a href="ESH_002B.html" class="LINK2"><em>tipo de 
                    servicio</em></a> o en su ausencia el valor determinado por la franquicia.<br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Servicio</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    obligatorio con lista de valores de la cual se selecciona el <a href="ESH_002B.html" class="LINK2"><em>tipo 
                    de servicio</em></a> correspondiente al nombre del principal servicio 
                    o producto ofrecido por el establecimiento.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Motivo desafiliaci&oacute;n</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                    campo tipo combo, permite seleccionar el <a href="ESH_004B.html" class="LINK2"><em>motivo 
                    de desafiliaci&oacute;n</em></a> correspondiente a la raz&oacute;n o 
                    causal por la cual un establecimiento es separado o excluido de la marca 
                    o franquicia, la que tambi&eacute;n puede ser voluntaria.<br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Fecha desafiliaci&oacute;n</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    en formato YYYY-MM-DD en el que se registra la fecha en la cual el establecimiento 
                    de desafili&oacute; de la marca.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Terminal POS</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se indica si el establecimiento posee o no P.O.S. para realizar 
                    o tramitar las transacciones. </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Tarjeta d&eacute;bito local / Cr&eacute;dito / Inteligente / Electron</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Cada 
                    uno de estos campos tipo combo, permite seleccionar de manera excluyente 
                    si la comisi&oacute;n que la entidad emisora de la tarjeta le va a cobrar 
                    al establecimiento por el uso de cada tipo de tarjeta corresponde a 
                    un <em>Valor</em> fijo, un <em>Porcentaje</em> sobre el valor de la 
                    transacci&oacute;n o <em>Mixto</em>, es decir, un valor fijo m&aacute;s 
                    un porcentaje adicional.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    % Comisi&oacute;n d&eacute;bito / Cr&eacute;dito / Inteligente / Electron</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Si 
                    el tipo comisi&oacute;n para un tipo de tarjeta se ha definido como 
                    <em>Porcentaje</em> o <em>Mixto</em>, en este campo de 3 enteros y 2 
                    decimales se registra la proporci&oacute;n a aplicar sobre la transacci&oacute;n 
                    para determinar el monto de comisi&oacute;n para la entidad.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Valor</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Cuando 
                    el tipo comisi&oacute;n se define como <em>Valor</em> o <em>Mixto</em>, 
                    en este campo de 14 enteros y 2 decimales se registra el valor fijo 
                    a cobrar al establecimiento por cada transacci&oacute;n, a modo de comisi&oacute;n 
                    para la entidad.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Plazo consignaci&oacute;n</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo num&eacute;rico de tres d&iacute;gitos no obligatorio, se 
                    registra el n&uacute;mero m&aacute;ximo de d&iacute;as h&aacute;biles 
                    de que dispone el establecimiento para realizar las consignaciones de 
                    los comprobantes manuales o no electr&oacute;nicos. </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    % M&aacute;ximo no comisionable</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    num&eacute;rico de 3 enteros y dos decimales, no obligatorio, en el 
                    que se registra el valor porcentual m&aacute;ximo o tope para el cobro 
                    de propina, determinado inicialmente por la franquicia; el valor que 
                    exceda dicho tope, no ser&aacute; considerado como propina y sumar&aacute; 
                    para aumentar la base sobre la cual se cobra la comisi&oacute;n al establecimiento. 
                    Si no se define un valor para el establecimiento, el sistema asigna 
                    el valor que por defecto presente el <a href="ESH_002B.html" class="LINK2"><em>tipo 
                    de servicio</em></a> o en su ausencia el valor determinado por la franquicia.<br>
                  </p></td>
              </tr>
            </table>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <p align="left" class="PARRAFO">El formulario anterior y que se denomina nueva 
              Marca, cuenta con el bot&oacute;n de <strong>localizaci&oacute;n</strong> 
              que al ser invocado despliega un nuevo formulario en el cual se puede registrar 
              la informaci&oacute;n correspondiente al IVA, retenciones y otros campos que 
              son aplicables dependiendo la ubicaci&oacute;n para la cual se encuentre parametrizado 
              el sistema. El formulario desplegado contiene los siguientes campos.</p>
            <p align="center"><img src="../img/ESF_006E7.PNG" width="633" height="243"></p>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <table width=100% border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                Retenci&oacute;n</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    tipo combo en el que se indica Si o No se debe aplicar al establecimiento 
                    el impuesto de retenci&oacute;n en la fuente acorde al tipo de sociedad 
                al cual pertenece.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    % Base de retenci&oacute;n</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo num&eacute;rico de 3 enteros y 2 decimales, no obligatorio, 
                    se define el valor porcentual aplicable al monto de los consumos efectuados 
                    en el establecimiento, sobre cuyo resultado se liquidar&aacute; el impuesto 
                    de retenci&oacute;n de la fuente.<br>
                  </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    % Retenci&oacute;n fuente</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    num&eacute;rico de 3 enteros y 2 decimales, no obligatorio, en el que 
                    se registra el porcenaje a aplicar sobre la base de retenci&oacute;n 
                    en la fuente (explicada en el campo inmediatamente anterior), para determinar 
                    el valor descontado al establecimiento por concepto de impuesto de retenci&oacute;n 
                    en la fuente. </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Retiene IVA</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo tipo combo se indica Si o No se debe aplicar al establecimiento 
                    el impuesto de retenci&oacute;n sobre el IVA. En caso de estar seleccionada 
                    la opci&oacute;n No, en el campo Motivo Exoneraci&oacute;n Retenci&oacute;n 
                    iva, se debe registrar la causal correspondiente.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    % Base de retenci&oacute;n IVA</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    num&eacute;rico de 3 enteros y 2 decimales, no obligatorio, en el cual 
                    se define el valor porcentual aplicable al valor del impuesto sobre 
                    las ventas (IVA), sobre cuyo resultado se liquidar&aacute; el impuesto 
                    de retenci&oacute;n IVA </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    % Retenci&oacute;n IVA</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo num&eacute;rico de 3 enteros y 2 decimales, no obligatorio, 
                    se registra el valor porcentual aplicable sobre la base de retenci&oacute;n 
                    del IVA (explicada en el campo inmediatamente anterior), para determinar 
                    el valor descontado al establecimiento por concepto de impuesto de retenci&oacute;n 
                    IVA.<br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Retiene ICA</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    tipo combo en el que se indica Si o No se debe aplicar al establecimiento 
                    el impuesto de retenci&oacute;n sobre el ICA acorde a la normatividad 
                    en particular con la ubicaci&oacute;n del establecimiento. En caso de 
                    estar seleccionada la opci&oacute;n No, en el campo Motivo Exoneraci&oacute;n 
                    Retenci&oacute;n ica, se debe registrar la causal correspondiente.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    % Base de retenci&oacute;n ICA</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo num&eacute;rico de 3 enteros y 2 decimales, no obligatorio, 
                    se define el valor porcentual aplicable sobre el valor de la venta sin 
                    tener en cuenta otros conceptos (IVA, propinas, etc), y sobre cuyo resultado 
                    se liquidar&aacute; el impuesto de retenci&oacute;n ICA </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    % Retenci&oacute;n de ICA x 1000</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    num&eacute;rico de tres enteros y dos posiciones decimales en el que 
                    se registra la tasa, expresada en mil&eacute;simas (o/oo), que se aplicar&aacute; 
                    sobre la base indicada en el campo anterior, para determinar el valor 
                    a retener al establecimiento por conepto del impuesto de industria y 
                    comercio ICA.<br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Motivo exclusi&oacute;n retenci&oacute;n</span></b> iva </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo no obligatorio que contiene lista de valores se selecciona 
                    el <a href="ESH_003B.html" class="LINK2"><em>motivo de exoneraci&oacute;n 
                    retenci&oacute;n</em></a> por el cual se excluye al establecimiento 
                    de la aplicaci&oacute;n de la retenci&oacute;n del iva.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Motivo exclusi&oacute;n reteiva</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    no obligatorio que contiene lista de valores de la que se selecciona 
                    el <a href="ESH_003B.html" class="LINK2"><em>motivo de exoneraci&oacute;n 
                    retenci&oacute;n</em></a> por el cual se excluye al establecimiento 
                    de la aplicaci&oacute;n de la retenci&oacute;n del iva.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    Motivo exclusi&oacute;n retenci&oacute;n ica</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo no obligatorio que contiene lista de valores se selecciona 
                    el <a href="ESH_003B.html" class="LINK2"><em>motivo de exoneraci&oacute;n 
                    retenci&oacute;n</em></a> por el cual se excluye al establecimiento 
                    de la aplicaci&oacute;n de la retenci&oacute;n del ica.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'> 
                    L&iacute;mite de piso</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    num&eacute;rico de 18 d&iacute;gitos no obligatorio, en el que se determina 
                    el valor a partir del cual se requiere solicitar la autorizaci&oacute;n 
                    correspondiente para cualquier utilizaci&oacute;n. El valor por defecto 
                    es cero (0).<br>
                  </p></td>
              </tr>
            </table>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <p align="left" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar</span></b>: 
              si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
              se despliega un formulario en el cual el &uacute;nico campo NO modificable 
              es la marca. </p>
            <p align="center"><img src="../img/ESF_006E8.PNG" width="588" height="539"></p>
            <p align="center" class="PARRAFO">Al igual que el formulario nueva Marca, este 
              tambi&eacute;n cuenta con el bot&oacute;n de <strong>localizaci&oacute;n</strong> 
              que al ser invocado despliega un formulario en el cual todos los campos son 
              modificables. </p>
            <p align="center"><img src="../img/ESF_006E9.PNG" width="627" height="240"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Detalle</span></b>: 
              si el usuario selecciona un registro e invoca la opci&oacute;n Detalle se 
              despliega un formulario con la informaci&oacute;n completa del registro y 
              en el cual ninguno de sus campos es modificable.</p>
            <p align="center"><img src="../img/ESF_006E10.PNG" width="670" height="399"></p>
            <p align="center" class="PARRAFO">Al igual que el formulario nueva Marca, este 
              tambi&eacute;n cuenta con el bot&oacute;n de <strong>localizaci&oacute;n</strong> 
              que al ser invocado despliega un formulario en el cual ninguno de sus campos 
              es modificable. </p>
            <p align="center"><img src="../img/ESF_006E11.PNG" width="323" height="204"></p>
            <p align="center" class="PARRAFO"><a href="file:///C|/Documents and Settings/cvilla/Mis documentos/CAROLINA/CERTIFICACIONES/VERSION 7/V7 Manuales/HELP/OPH_003B.html"></a></p>
            <div align="center">
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>