<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Captura de Movimientos oficina</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTTLO2">Adicionar Pagos:</span> Grupo de datos 
              que contiene la informaci&oacute;n detallada de los abonos a las obligaciones 
              (Tarjetas, L&iacute;neas de cr&eacute;dito o Transacciones) efectuadas por 
              el cliente tanto en efectivo como en cheque. Los campos relacionados con la 
              tapa deben capturarse como se hace en la captura de compras.</p>
            <p class="PARRAFO">Si el usuario a seleccionado la Transacci&oacute;n <em>Pagos</em> 
              e invoca la opci&oacute;n <em>Adicionar</em>, se despliega un formulario con 
              los siguientes campos.</p>
            <p align="center"><img src="../img/INF_004B22.PNG" width="396" height="355"></p>
            <p align="left">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    proceso</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    de salida o no ingresable, que contiene la fecha del sistema seleccionada 
                    en el filtro inicial.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Oficina</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que se muestra el c&oacute;digo de la oficina y descripci&oacute;n 
                    de la oficina para la cual se va a capturar.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Marca</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores poblada mediante la opci&oacute;n <a href="NUH_033B.html" class="LINK2">Franquicias 
                    </a>del N&uacute;cleo. Si la entidad requiere generar contabilidad por 
                    marca o franquicia, no debe mezclar dentro del mismo lote o tapa movimiento 
                    de diferentes franquicias.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    tarjeta</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    alfanum&eacute;rico de 23 d&iacute;gitos, no obligatorio, en el que 
                    se digita el n&uacute;mero de la tarjeta mediante la cual se realiza 
                    el Pago, el sistema valida la existencia de la misma dentro del sistema 
                    y asigna los ceros a la izquierda hasta completar la longitud total 
                    del campo.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>N&uacute;mero 
                    comprobante</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    num&eacute;rico de 7 d&iacute;gitos, no obligatorio, en el que se registra 
                    el n&uacute;mero del voucher o comprobante correspondiente el Pago.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Fecha 
                    comprobante</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    tipo fecha, en formato DDMMYYYY, debe contener la fecha f&iacute;sica 
                    de cada uno de los comprobantes, es la base para determinar la antig&uuml;edad 
                    de los mismos y verificar que no excedan el plazo m&aacute;ximo para 
                    su consignaci&oacute;n determinada en <a href="NUH_055B.html" class="LINK2">Par&aacute;metros 
                    operativos</a>.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Forma de pago</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que posee lista de valores adjunta de la   cual se puede seleccionar entre <em>Cheque</em> o <em>Efectivo</em>, acorde con el   modo o medio de pago correspondiente.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Dirigido a </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que contiene una lista de valores de   la que se selecciona la opci&oacute;n correspondiente para orientar o direccionar el   pago. Cuenta con las opciones Transacci&oacute;n, N&uacute;mero de tarjeta, Moneda, y L&iacute;nea de cr&eacute;dito. </p>
                <p class="PARRAFO">Para que aplique esta   funcionalidad se debe tener en cuenta lo parametrizado en el campo <em>Permite pago   dirigido?</em> de la opci&oacute;n<em><A href="MEH_003B.html" class="LINK2"> Transacciones por empresa</A></em> del N&uacute;cleo.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Identificaci&oacute;n destino </b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este campo se diligencia seg&uacute;n lo seleccionado en la lista de valores anterior: Cuando es <em>Transacci&oacute;n, </em>admite 12 caracteres num&eacute;ricos, los cuales deben corresponder a la secuencia de una transacci&oacute;n existente en el hist&oacute;rico de transacciones para la tarjeta seleccionada.</p>
                  <p class="PARRAFO">Al seleccionar <em>N&uacute;mero de tarjeta</em>, el sistema coloca autom&aacute;ticamente el mismo n&uacute;mero ingresado y no permite modificarlo.</p>
                  <p class="PARRAFO">Cuando se selecciona la opci&oacute;n <em>L&iacute;nea de cr&eacute;dito</em>, se despliega una lista de valores con todas las l&iacute;neas de cr&eacute;dito parametrizadas, pero valida que la seleccionada est&eacute; relacionada con la tarjeta ingresada. </p>
                  <p class="PARRAFO">Con la opci&oacute;n <em>Moneda</em>,  el sistema alimenta este campo autom&aacute;ticamente con la misma moneda ingresada en el primer formulario del caso. </p>
                  </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Valor total </b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    num&eacute;rico con capacidad para una suma hasta de 16 d&iacute;gitos 
                    incluidos dos decimales, no obligatorio, que contiene el monto total 
                    del Pago.</p></td>
              </tr>
            </table>
            <p align="left">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son: Establecimiento, N&uacute;mero 
              tarjeta, N&uacute;mero comprobante, Fecha comprobante, N&uacute;mero autorizaci&oacute;n, 
              Plazo, y Causal.</span></p>
            <p align="center"><img src="../img/INF_004B23.PNG" width="405" height="356"></p>
            <o:p></o:p>  <p align="center">&nbsp;</p>
                
            <p align="center"><a href="INH_004B.html">Formulario principal</a><span
              style'font-size:10.0pt;font-family:Arial'><b> |</b></span> <a href="INH_004B1.html">Compras</a><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="INH_004B2.html">Avances</a><b><span style'font-size:10.0pt;font-family:Arial'> 
              | </span></b><a href="INH_004B3.html">Impuestos</a></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>