<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Consulta de movimientos</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">A trav&eacute;s de esta pantalla se posibilita la consulta 
              por diferentes criterios, de la informaci&oacute;n del movimiento transaccional 
              que viaja hacia y desde los compensadores.</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Ver par&aacute;metros (Filtro):</span> 
              Conjunto de campos que contiene las diferentes variables que pueden ser tomadas 
              individualmente o combinadas y una vez diligenciados y/o seleccionados basta 
              con presionar el bot&oacute;n <em>Buscar</em> para obtener la informaci&oacute;n 
              deseada. Es necesario ingresar al menos un grupo de las fechas para realizar la busqueda. </p>
            <p class="PARRAFO">El formulario cuenta con las siguientes<font face="Arial"> 
              opciones<span class="PARRAFO">:</span><font face="Arial"> <a href="INH_040B1.html" class="LINK2">Movimiento 
              diario</a>, <a href="INH_040B2.html" class="LINK2">Fraudes</a>, <a href="INH_006B5.html"></a><a href="INH_040B3.html" class="LINK2">Pendientes</a>, 
              <span class="LINK2 #1"><a href="INH_040B4.html" class="LINK2">Rechazo</a></span><a href="INH_040B4.html" class="LINK2"> cargue</a>, 
              <a href="INH_040B5.html" class="LINK2">Contracargos</a>, <a href="INH_040B6.html" class="LINK2">Efectos 
              al cobro</a>, <a href="INH_040B7.html" class="LINK2">Intercambio</a>, 
              y<span class="LINK2"> </span><span class="#2"><a href="INH_040B8.html" class="LINK2">Rechazo cargue convenios</a></span><span class="LINK2">.</span></font></font></p>
            <p align="center"><img src="../img/INF_040B.PNG" width="729" height="283"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="55" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                proceso desde</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este 
                    campo permite ingresar cualquier dato v&aacute;lido con el formato YYYY-MM-DD.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    proceso hasta</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este 
                    campo permite ingresar cualquier dato v&aacute;lido con el formato YYYY-MM-DD.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    transacci&oacute;n desde</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este 
                    campo permite ingresar cualquier dato v&aacute;lido con el formato YYYY-MM-DD.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    transacci&oacute;n hasta</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este 
                    campo permite ingresar cualquier dato v&aacute;lido con el formato YYYY-MM-DD.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Origen</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Lista 
                    de valores parametrizada mediante la opci&oacute;n <a href="NUH_027B.html" class="LINK2">Or&iacute;genes 
                    de transacciones</a> del N&uacute;cleo, que permite ingresar cualquier 
                    valor num&eacute;rico de m&aacute;ximo 3 d&iacute;gitos.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Transacci&oacute;n 
                    interna </p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    campo Transacci&oacute;n interna admite cualquier valor num&eacute;rico 
                    de m&aacute;ximo 3 d&iacute;gitos. La transacci&oacute;n interna tambi&eacute;n 
                    se puede diligenciar por medio de lista de valores adjunta.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    de tarjeta</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este 
                    campo permite ingresar cualquier valor alfanum&eacute;rico de 23 caracteres.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="63" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
          <p class="SUBTITULO">Sucursal</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Admite 
                    cualquier valor num&eacute;rico de m&aacute;ximo 4 d&iacute;gitos. Posee 
                    lista de valores poblada a trav&eacute;s de la opci&oacute;n <a href="NUH_020B.html" class="LINK2">Estructura 
                    org&aacute;nica</a> del N&uacute;cleo, de la que puede seleccionarse 
                    la oficina a consultar.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Establecimiento</b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    campo Establecimiento admite cualquier valor num&eacute;rico de m&aacute;ximo 
                    11 d&iacute;gitos. Posee lista de valores poblada por medio de la opci&oacute;n 
                    <a href="NUH_027B.html" class="LINK2">Or&iacute;genes de transacciones</a> del N&uacute;cleo, 
                    de la que puede seleccionarse aquel para el cual se desee consultar 
                    su movimiento de intercambio.<br>
                  </p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>N&uacute;mero 
                    autorizaci&oacute;n </b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    campo n&uacute;mero de autorizaci&oacute;n es alfanum&eacute;rico de 
                    hasta 6 posiciones <br>
                  </p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Boleta 
                    de ruta</b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    campo boleta de ruta es num&eacute;rico de hasta 12 d&iacute;gitos<br>
                  </p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Secuencia</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    campo secuencia es n&uacute;merico de hasta 8 d&iacute;gitos.<br>
                  </p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><font face="Arial"> El sistema muestra por defecto el <span class="LINK2 #1"><font face="Arial"><a href="INH_040B1.html" class="LINK2">Movimiento 
              diario</a></font> </span>de acuerdo a los datos ingresados en el filtro.</font></p>
            <p align="center"><img src="../img/INF_040B1.PNG" width="729" height="283"></p>
            <p align="center">&nbsp;</p>
            <p align="center"><font face="Arial"><font face="Arial"><a href="INH_040B1.html">Movimiento 
              diario</a></font></font><b><span style'font-size:10.0pt;font-family:Arial'> 
              | </span></b><a href="INH_006B3.html"></a><font face="Arial"><font face="Arial"><a href="INH_040B2.html">Fraudes</a></font></font><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="INH_006B5.html"></a><font face="Arial"><font face="Arial"><a href="INH_040B3.html">Pendientes</a></font></font> 
              <span
              style'font-size:10.0pt;font-family:Arial'><b>| </b></span><font face="Arial"><font face="Arial"><a href="INH_040B4.html">Rechazo 
              cargue</a></font></font><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span> <font face="Arial"><font face="Arial"><a href="INH_040B5.html">Contracargos</a></font></font></p>
            <p align="center"><font face="Arial"><font face="Arial"><a href="INH_040B6.html">Efectos 
              al cobro</a></font></font><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="INH_006B9.html"></a><font face="Arial"><font face="Arial"><a href="INH_040B7.html">Intercambio</a></font></font><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><font face="Arial"><font face="Arial"><a href="INH_040B8.html">Rechazo 
              cargue convenios</a></font></font></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>