<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Motivos devoluci&oacute;n cheques</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Mediante esta opci&oacute;n se permite 
              dar mantenimiento a una tabla con los diferentes conceptos por los cuales 
              las entidades financieras no efect&uacute;an el pago de un cheque; adicionalmente 
              le permite a la entidad asociarle a cada concepto un valor porcentual a liquidar 
              y cobrar al tarjetahabiente a manera de sanci&oacute;n o multa a ra&iacute;z 
              de la devoluci&oacute;n del cheque mediante el que se realiz&oacute; el pago.<br>
              </span></p>
            <p align="center"><img src="../img/INF_002E.PNG" width="758" height="471"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar y Adicionar. </p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar</span></b>:</span><span #'font-family:Arial'></span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.</span></font></p>
            <p align="center"><img src="../img/INF_002E1.PNG" width="325" height="147"></p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>C&oacute;digo</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    num&eacute;rico de 3 d&iacute;gitos, obligatorio, asignado a cada uno 
                    de las diferentes causales o motivos argumentados por las entidades 
                    financieras por las cuales son devueltos o no pagados los cheques.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Descripci&oacute;n</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                  alfanum&eacute;rico de 30 posiciones, obligatorio, en el cual se registra 
                  el nombre de las causales o motivos de devoluci&oacute;n asociados al 
                  c&oacute;digo.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo de Sanci&oacute;n </span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    obligatorio, en el cual se registra 
                    la sanci&oacute;n se va aplicar que bien puede ser de valor o porcentaje.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Porcentaje 
                  persona natural </span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                  num&eacute;rico de 17 d&iacute;gitos incluidos 2 decimales, obligatorio 
                  en el que la entidad se&ntilde;ala el valor porcentual o el valor en cifra a aplicar como 
                  sanci&oacute;n en caso de salir impagado el cheque recibido del cliente. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Porcentaje 
                    persona juridica </span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                  num&eacute;rico de 17 d&iacute;gitos incluidos 2 decimales, obligatorio 
                  en el que la entidad se&ntilde;ala el valor porcentual o el valor en cifra a aplicar como 
                  sanci&oacute;n en caso de salir impagado el cheque recibido del cliente. </p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">A</span></b></span></font><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2"><span class="style1">dicionar</span></span></b></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              Si el usuario selecciona un registro invoca la opci&oacute;n Actualizar se 
              despliega un formulario en el cual los campos modificables son Descripci&oacute;n 
              y Porcentaje sanci&oacute;n.</span></font></p>
            <p align="center"><img src="../img/INF_002E2.PNG" width="322" height="156"></p>
            <div align="center">
          <p class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2"> 
                </span></b> </p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>