<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2">
            <table width="100%" border="0">
                <tr>
                    <td width="57%">
                        <div align="right">
                            <p align="center" class="TITLE"><strong>Promociones para colocaci&oacute;n</strong></p>
                        </div>
                    </td>
                </tr>
            </table>
            <p>La entidad posee a trav&eacute;s de esta pantalla, la opci&oacute;n de especificar o definir programas
                orientados a fomentar la colocaci&oacute;n de productos en determinadas &eacute;pocas del a&ntilde;o o
                eventos especiales y a la vez, estimular el consumo o utilizaciones con esos productos
                ofreci&eacute;ndole a los clientes condiciones especiales de menores costos durante un n&uacute;mero
                limitado de periodos </p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar,
                Adicionar y Detalle.</p>
            <p align="center"><img src="../img/MEF_005B.PNG" width="564" height="319"></p>
            <p align="center">&nbsp;</p>
            <p><span class="SUBTTLO2">Filtro:</span> Se pueden realizar consultas a trav&eacute;s
                de las siguientes opciones: </p>
            <p align="center"><img src="../img/MEF_005B1.PNG" width="257" height="121"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO"><b><span style'font-family:Arial'>C&oacute;digo</span></b></p>
                    </td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p>Campo num&eacute;rico de hasta 6 d&iacute;gitos, en el que se registra el c&oacute;digo
                            asignado por la entidad por el que se desea filtrar. </p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO"><b><span style'font-family:Arial'>Promoci&oacute;n</span></b></p>
                    </td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p>Campo alfanum&eacute;rico de hasta 30 posiciones, en el que se filtra por el nombre o
                            descripci&oacute;n asociado al c&oacute;digo anterior.</p>
                    </td>
                </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca la
                opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font
                    face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font>
            </p>
            <p align="center"><img src="../img/MEF_005B2.PNG" width="427" height="505"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'>
                    <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO"><b><span style'font-family:Arial'>C&oacute;digo</span></b></p>
                    </td>
                    <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">Campo num&eacute;rico de hasta 6 d&iacute;gitos, obligatorio, en el que se
                            registra el c&oacute;digo asignado por la entidad a cada una de las promociones a definir.
                        </p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO"><b><span style'font-family:Arial'><span
                                        class="#1">Promoci&oacute;n</span></span></b></p>
                    </td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">En este campo alfanum&eacute;rico de hasta 30 posiciones, obligatorio, se
                            registra el nombre o descripci&oacute;n asociado al c&oacute;digo anterior.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">Vigencia desde</p>
                    </td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">Campo en formato YYYY-MM-DD, obligatorio, en el que se registra la fecha de
                            inicio de la promoci&oacute;n.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">Vigencia hasta </p>
                    </td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">n este campo en formato YYYY-MM-DD, obligatorio, se registra la fecha en la
                            cual termina la promoci&oacute;n.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">% Cuota afiliaci&oacute;n </p>
                    </td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p><span class="PARRAFO">Campo en el que la entidad se&ntilde;ala el valor porcentual a cobrar
                                sobre la cuota de afiliaci&oacute;n definida en la opci&oacute;n</span><span
                                class="PARRAFO"> <a href="MEH_002B.html">Productos</a>, </span>y que aplicar&aacute;
                            para los productos aprobados durante la vigencia del programa.</span></p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">Periodos exenci&oacute;n </p>
                    </td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">En este campo se registra el n&uacute;mero de periodos (expresado en
                            facturaciones) durante el cual se aplicar&aacute; el beneficio definido en el campo
                            anterior.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">% Cuota manejo </p>
                    </td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">Campo en el que la entidad se&ntilde;ala el valor porcentual a cobrar sobre
                            la cuota de manejo definida en la opci&oacute;n <a href="MEH_002B.html">Productos</a>,
                            </span>y que aplicar&aacute; para los productos aprobados durante la vigencia del programa.
                        </p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">Periodos exenci&oacute;n </p>
                    </td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">En este campo se registra el n&uacute;mero de periodos (expresado en
                            facturaciones) durante el cual se aplicar&aacute; el beneficio definido en el campo
                            anterior.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">% Cuota seguro </p>
                    </td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">Campo en el que la entidad se&ntilde;ala el valor porcentual a cobrar sobre
                            la cuota de seguro definida en la opci&oacute;n <a href="MEH_002B.html">Productos</a>,
                            </span>y que aplicar&aacute; para los productos aprobados durante la vigencia del programa.
                        </p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">Periodos exenci&oacute;n </p>
                    </td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">Permite registrar el n&uacute;mero de periodos (expresado en facturaciones)
                            durante el cual se aplicar&aacute; el beneficio definido en el campo anterior.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">% Cuota reposici&oacute;n </p>
                    </td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">En este campo la entidad define el valor porcentual a descontar sobre el
                            costo de reposici&oacute;n definido en la opci&oacute;n <a
                                href="MEH_002B.html">Productos</a>, </span>y que aplicar&aacute; para los productos
                            aprobados durante la vigencia de la promoci&oacute;n.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">Periodos vigencia</p>
                    </td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">Una vez definido el porcentaje de descuento en el cobro del costo de
                            reposici&oacute;n, en este campo la entidad determina durante cuantos per&iacute;odos
                            (expresado en facturaciones) tendr&aacute; validez ese descuento.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">% Cuota reexpedici&oacute;n </p>
                    </td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">En este campo la entidad define el valor porcentual a descontar sobre el
                            costo de reexpedici&oacute;n definido en la opci&oacute;n <a
                                href="MEH_002B.html">Productos</a>, </span>y que aplicar&aacute; para los productos
                            aprobados durante la vigencia de la promoci&oacute;n.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><span class="SUBTITULO">Periodos
                            vigencia</span></td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">Una vez definido el porcentaje de descuento en el cobro del costo de
                            reexpedici&oacute;n, en este campo la entidad determina durante cuantos per&iacute;odos
                            (expresado en facturaciones) tendr&aacute; validez ese descuento.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><span class="SUBTITULO">% Cuota
                            renovaci&oacute;n </span></td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">En este campo la entidad define el valor porcentual a descontar sobre el
                            costo de renovaci&oacute;n definido en la opci&oacute;n <a
                                href="MEH_002B.html">Productos</a>,</span> y que aplicar&aacute; para los productos
                            aprobados durante la vigencia de la promoci&oacute;n.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="SUBTITULO">Periodos vigencia</p>
                    </td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">Una vez definido el porcentaje de descuento en el cobro del costo de
                            renovaci&oacute;n, en este campo la entidad determina durante cuantos per&iacute;odos
                            (expresado en facturaciones) tendr&aacute; validez ese descuento.</p>
                    </td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><span class="SUBTITULO">% Cuota
                            dependiente</span></td>
                    <td valign=top class="PARRAFO" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>En este campos la entidad
                        se&ntilde;ala el valor porcentual a descontar sobre las cuotas de afiliaci&oacute;n, seguro y
                        manejo de las tarjetas amparadas definidas en la opci&oacute;n <a
                            href="MEH_002B.html">Productos</a>, y que aplicar&aacute; para los productos aprobados
                        durante la vigencia de la promoci&oacute;n.</td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><span class="SUBTITULO">Periodos
                            vigencia</span></td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                        <p class="PARRAFO">Una vez definido el porcentaje de descuento en el cobro de la cuota de
                            afiliaci&oacute;n, manejo y seguro de las tarjetas amparadas, en este campo la entidad
                            determina el n&uacute;mero de per&iacute;odos (expresado en facturaciones) durante los
                            cuales tendr&aacute; vigencia ese descuento.</p>
                    </td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span>
                    Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario
                    en el cual los &uacute;nicos campos modificables son: Promoci&oacute;n, Vigencia desde, Vigencia
                    hasta, % Cuota afiliaci&oacute;n, </span>% Cuota manejo, % Cuota seguro, % Cuota reposici&oacute;n,
                % Cuota reexpedici&oacute;n, % Cuota renovaci&oacute;n, % Cuota dependiente; y los campos de Periodos de
                exenci&oacute;n y Periodos de vigencia.</p>
            <p align="center"><img src="../img/MEF_005B3.PNG" width="427" height="508"></p>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Detalle:</span> Si el usuario invoca la opci&oacute;n Detalle se
                despliega el siguiente formulario: <span style'font-family:Arial'>
                    <o:p></o:p>
                </span></p>
            <p align="center"><img src="../img/MEF_005B4.PNG" width="427" height="258"></p>
            <p align="center">&nbsp;</p>
            <p align="center">&nbsp;</p>
            <p align="center">&nbsp;</p>
    </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>