<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/NUH_001B.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Tipos de comisi&ograve;n </p>
                  </div></td>
              </tr>
            </table>
            <p class="PARRAFO">A trav&eacute;s de esta opci&oacute;n se parametrizan los porcentajes y/o valores que ser&aacute;n   descontados al establecimiento por concepto de Adquirencia, asociados a la   entidad financiera seg&uacute;n cada una de las   marcas definidas para el   mismo.</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar y
            Adicionar. Asi mismo cuenta con el boton <em>Ir a filtro.</em></p>
            <p align="center" class="PARRAFO"><img src="file:///C|/Documents and Settings/ojimenez/Escritorio/NUF_102.PNG" width="746" height="448"></p>
            <p class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si 
              el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con 
              los siguientes campos<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="file:///C|/Documents and Settings/ojimenez/Escritorio/NUF_102B.PNG" width="743" height="523"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>C&oacute;digo 
                    </span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio alfanum&eacute;rico de seis caracteres, en el cual se digita el c&oacute;digo para asignar un nuevo tipo de comisi&ograve;n. </p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Descripci&oacute;n 
                    </span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio alfanum&eacute;rico de 40 caracteres, en el cual se realiza una descripci&oacute;n abreviada de la cuenta.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Tipo 
                    comisi&ograve;n</span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p><span class="PARRAFO">Campo 
                    no obligatorio que posee lista de valores adjunta de la cual puede seleccionarse entre: 
                    porcentaje, Valor fijo, ambos y nulo. Si se toma la opci&ograve;n <em>porcentaje</em>, se convierte en obligatorio el campo porcentaje comisi&ograve;n. Si por el contrario se elige <em>Valor fijo, </em>se convierte en obligatorio el campo Valor fijo comisi&ograve;n. En caso de elegir la opci&ograve;n <em>ambos,</em> se convierten en obligatorios los campos </span><span class="#2">Porcentaje y Valor fijo comisi&ograve;n. </span></p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'><span class="#1">Porcentaje comisi&ograve;n </span></span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&egrave;rico de 3 enteros y dos decimales, en el cual se se&ntilde;alan los porcentajes de comisi&ograve;n aplicados al establecimiento por concepto de adquirencia. </p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'><span class="#1">Valor fijo comisi&ograve;n </span></span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo num&eacute;rico de 14 d&iacute;gitos, se registra 
                    el valor de comisi&ograve;n aplicados al establecimiento por concepto de adquirencia. </p></td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> Si el usuario 
              invoca esta opci&oacute;n, se despliega un nuevo formulario en el cual 
              los &uacute;nicos campos modificables son: Descripci&oacute;n, Tipo comisi&ograve;n y seg&ugrave;n lo se&ntilde;alado en este campo, se habilitaran para su diligenciamiento los campos porcentaje comisi&ograve;n y/o valor fijo comisi&ograve;n. </span></p>
            <p align="center"><img src="../img/NUF_102B1.PNG" width="745" height="519"></p>
            <p align="center">&nbsp;</p>
            </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>