</div></td>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE"><span style"text-align:center"><b><span style'font-size:18.0pt;
              font-family:Tahoma;#:#99CC00'>Bines nacionales</span></b><span
              style'font-size:18.0pt;#:#99CC00'></span></span></p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="#1">Esta 
                          funci&oacute;n habilita la consulta y mantenimiento de la tabla 
                          que almacena toda la informaci&oacute;n necesaria en la validaci&oacute;n 
                          de transacciones realizadas con tarjetas emitidas por las entidades 
                          financieras nacionales (Bines nacionales), mantenimiento que se 
                          realiza a trav&eacute;s del cargue de la cinta enviada peri&oacute;dicamente 
                          por el operador (</span><a href="file:///C|/Documents and Settings/faguilar/Mis documentos/V7 Manuales/HELP/NUH_033B.html">franquicia</a><span class="#1">), y as&iacute; 
                          mismo permite la inclusi&oacute;n de los datos de los bines asociados 
                          a las marcas privadas. La codificaci&oacute;n aqu&iacute; contenida, 
                          es utilizada como base en la conformaci&oacute;n o creaci&oacute;n 
                          de los diferentes </span><a href="file:///C|/Documents and Settings/faguilar/Mis documentos/V7 Manuales/HELP/MEH_002B.html">productos</a><span class="#1"> ofrecidos 
            por la entidad.</span></p>
            <p align="center"><img src="../img/NUF_026E.PNG" width="744" height="501"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="#1">El 
              formulario contiene las opciones Actualizar, Eliminar, Adicionar, Detalle y la opci&oacute;n Ir a Filtro. </p>
            <p align="left" class="#1">Adicionar: Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img//NUF_026E1.PNG" width="400" height="332"></p>
            <p align="center">&nbsp;</p>
            <table width=1130 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td width="150" height="62" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p><b><span style'font-family:Arial;#:#99CC00'>Bin</span></b></p></td>
                <td width="565" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><font face="Arial, Helvetica, sans-serif">Campo 
                  alfanum&eacute;rico obligatorio que almacena, en un m&aacute;ximo 
                  de 8 caracteres, el Bank Identification Number BIN o prefijo correspondiente 
                  a cada producto por entidad financiera o los de marca privada.</font></p></td>
              </tr>
              <tr style'mso-yfti-irow:2'>
                <td height="63" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p><b><span style'font-family:Arial;#:#99CC00'>Descripci&oacute;n</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><span style"font-family:Arial">En 
                  este campo alfanum&eacute;rico de m&aacute;ximo 30 caracteres, 
                  obligatorio, se registra el tipo o nombre del producto de la entidad 
                  financiera asociado a cada Bin. </span></p></td>
              </tr>
              <tr style'mso-yfti-irow:2'>
                <td height="63" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p><b><span style'font-family:Arial;#:#99CC00'>Entidad</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                  este campo se selecciona de la lista de valores la <a href="file:///C|/Documents and Settings/faguilar/Mis documentos/V7 Manuales/HELP/NUH_019B.html">entidad 
                    financiera</a> emisora de cada producto (Bin).</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'>
                <td height="63" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p><b><span style'font-family:Arial;#:#99CC00'>Tipo tarjeta</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><span class="PARRAFO" style"font-family:Arial">En 
                  este campo se selecciona de la lista de valores adjunta, el tipo 
                  o clase de tarjeta correspondiente al bin y que puede ser <span class="#2"><em class="PARRAFO">D&eacute;bito, Cr&eacute;dito, Electron/Maestro<em class="PARRAFO">, D&eacute;bito propia</em>, Cr&eacute;dito 
                    propia</em></span></span><span class="#2">.</span></p></td>
              </tr>
              <tr style'mso-yfti-irow:2'>
                <td height="63" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p><b><span style'font-family:Arial;#:#99CC00'>Franquicia</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><span style"font-family:Arial">Campo 
                  que posee lista de valores de la que se selecciona la <a href="file:///C|/Documents and Settings/faguilar/Mis documentos/V7 Manuales/HELP/NUH_033B.html">franquicia</a> a la que pertenece el bin en particular.</span></p></td>
              </tr>
              <tr style'mso-yfti-irow:2'>
                <td height="63" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p><b><span style'font-family:Arial;#:#99CC00'>Longitud bin</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><span style"font-family:Arial">Campo 
                  num&eacute;rico de una posici&oacute;n, obligatorio, que ilustra 
                  la longitud m&aacute;xima del bin o prefijo.</span></p></td>
              </tr>
              <tr style'mso-yfti-irow:2'>
                <td height="63" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p><b><span style'font-family:Arial;#:#99CC00'>Longitud tarjeta</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><span style"font-family:Arial">En 
                  este campo num&eacute;rico de 2 posiciones, obligatorio, se almacena 
                  la cantidad m&aacute;xima de d&iacute;gitos que componen el n&uacute;mero 
                  de la tarjeta, usualmente contiene el bin o prefijo.</span></p></td>
              </tr>
              <tr style'mso-yfti-irow:2'>
                <td height="63" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p><b><span style'font-family:Arial;#:#99CC00'>D&iacute;gito 
                  chequeo</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><span style"font-family:Arial">Campo 
                  que posee lista de valores sobre la cual se puede seleccionar 
                  el algoritmo mediante el cual se realiza la verificaci&oacute;n 
                  del d&iacute;gito de chequeo.</span></p></td>
              </tr>
              <tr style'mso-yfti-irow:2'>
                <td height="140" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p><b><span style'font-family:Arial;#:#99CC00'>Comod&iacute;n</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><span style"font-family:Arial">Campo 
                  alfanum&eacute;rico de 23 d&iacute;gitos, obligatorio, que facilita 
                  la captura de movimiento del canje manual cuando el n&uacute;mero 
                  de la tarjeta no es legible y permite al sistema validar su d&iacute;gito 
                  de verificaci&oacute;n. Se construye adicion&aacute;ndole al Bin 
                  o prefijo ene menos uno ceros (donde &quot;n&quot; es la longitud 
                  de la tarjeta menos la longitud del bin) y al final el d&iacute;gito 
                  de chequeo obtenido al aplicar el algoritmo asociado, completando 
                  as&iacute; la cantidad de d&iacute;gitos que componen el n&uacute;mero 
                  de las tarjetas.</span></p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="center" class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span style'font-family:Arial;
              #:#333333'>Actualizar</span></b><span style'font-family:Arial'>: Si el 
                          usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
                          en el cual los &uacute;nicos campos modificables son: Descrici&oacute;n, 
                          Entidad, Tipo tarjeta, </span><span style'font-family:Arial'>Franquicia, 
            Longitud bin, Longitud tarjeta, D&iacute;gito de chequeo, y Comod&iacute;n.</span></p>
            <p align="center"><img src="../img/NUF_026E2.PNG" width="375" height="330"></p>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Detalle:</span> Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente formulario. <span
              style'font-family:Arial'>
              <o:p></o:p>
            </span></p>
            <p align="center"><img src="../img/NUF_026E3.PNG" width="360" height="119"></p>
            <p align="center">&nbsp;</p>
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>