</div></td>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" "> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Calendario</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Mediante las opciones de Calendario corporaci&oacute;n y Calendario entidad, se realiza el mantenimiento 
              del calendario (control de fechas) de la entidad financiera. Al momento de realizarse 
              la instalaci&oacute;n del Sistema <span class="LINK2">Bankb&uacute;&reg;</span> 
              se debe actualizar la informaci&oacute;n relativa tanto a los d&iacute;as 
              festivos nacionales, como a los d&iacute;as no h&aacute;biles comunes para 
              todas las entidades financieras de la instalaci&oacute;n.</p>
            <p class="PARRAFO"> Los 
              d&iacute;as no h&aacute;biles de una oficina o sucursal se ingresan por la 
              opci&oacute;n Calendario sucursal. </p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              y Adicionar. Adicionalmente, cuenta con un filtro de b&uacute;squeda.</p>
            <p align="center" class="PARRAFO"><img src="../img/NUF_023B1.PNG" width="768" height="340"></p>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Filtro:</span> Se pueden realizar consultas a trav&eacute;s 
            de las siguientes opciones: </p>
            <p align="center"><img src="../img/NUF_023B.PNG" width="218" height="163"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Sucursal 
                  o empresa<br>
                </p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">C&oacute;digo 
                  y nombre que representan, acorde con el nivel, la corporaci&oacute;n 
                  que aglutina a las diversas entidades financieras de la instalaci&oacute;n, 
                  o la empresa o entidad a la que ingres&oacute; el usuario. Estos dos 
                  campos son informativos no modificables.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Mes</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Combo no obligatorio que permite seleccionar uno de los meses del a&ntilde;o.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'><span class="#1">A&ntilde;o</span></span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio en el que se debe ingresar el a&ntilde;o por el cual se desa filtrar. </p></td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="center"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/NUF_023B2.PNG" width="301" height="142"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha</p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio en el cual se ingresar&aacute; el d&iacute;a para el cual se desea ingresar las caracter&iacute;sticas que le corresponden de acuerdo al calendario de la entidad. </p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>'Tipo 
                    de d&iacute;a'</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio que permite 
                    establecer, para el d&iacute;a seleccionado, su naturaleza: h&aacute;bil, 
                    inh&aacute;bil o festivo. Una vez ubicado (resaltado) el d&iacute;a 
                    sobre al que se desea asignar condici&oacute;n, con el mouse se selecciona 
                    el tipo al que corresponde haciendo un click sobre la opci&oacute;n 
                    respectiva. Para facilitar la identificaci&oacute;n visual existe una 
                    diferenciaci&oacute;n por #es de los tipos de d&iacute;as as&iacute;: 
                    los h&aacute;biles aparecen en # negro, los festivos aparecen en 
                    # rojo fuerte, y los inh&aacute;biles aparecen en # azul aguamarina 
                    o turquesa. Al ubicarse en cualquiera de los d&iacute;as domingo estos 
                    se mostrar&aacute;n como d&iacute;as h&aacute;biles y aparecen en # 
                    rojo claro; se muestran as&iacute; por no ser usualmente d&iacute;as 
                    h&aacute;biles y por cuanto es la forma acostumbrada en que se presentan 
                    en la mayor&iacute;a de calendarios.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>No 
                    h&aacute;bil para</span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio que contiene lista de valores de la cual se puede seleccionar si la 
                    inhabilidad es para proceso, atenci&oacute;n p&uacute;blico o para ambas 
                    situaciones.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Descripci&oacute;n</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    alfanum&eacute;rico de 30 posiciones, no obligatorio, dentro del que 
                    es posible mencionar el motivo o la raz&oacute;n por la cual un d&iacute;a 
                    espec&iacute;fico no es laborable o es festivo. </p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son: Tipo d&iacute;a, No h&aacute;bil para, y Descripci&oacute;n. </span></p>
            <p align="center"><img src="../img/NUF_023B3.PNG" width="301" height="142"></p>
            <p align="center">&nbsp;</p>
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>