</div></td>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE"><strong>Tipos documento   identificaci&oacute;n</strong></p>
                    </div></td>
              </tr>
            </table>
            <p>Mediante esta funci&oacute;n se habilita la   consulta y mantenimiento de una tabla en la cual se almacenan los c&oacute;digos de los   diferentes tipos de documentos de identificaci&oacute;n estandarizados por las   entidades financieras; la forma permite asociarle a cada uno la clase de persona   a la que corresponde, el c&oacute;digo interno con que lo identifica el aplicativo, y   si es el caso, el programa que los valida.</p>
            <p align="center"><img src="../img/NUF_008E.PNG" width="741" height="453"></p>
            <p align="left" class="PARRAFO">El 
              formulario contiene las opciones Actualizar, Eliminar, y  Adicionar.</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/NUF_008E1.PNG" width="494" height="219"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">C&oacute;digo</p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de dos d&iacute;gitos, obligatorio,   que corresponde al c&oacute;digo asignado a cada uno de los tipos de documentos de   identificaci&oacute;n.</p>        </td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Nombre</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo alfanum&eacute;rico de 30 posiciones,   obligatorio, se registra el nombre asociado al c&oacute;digo anterior.</p>      
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">C&oacute;digo interno </p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que posee lista de valores que permite   asociar cualesquiera tipo de documento definido en esta pantalla, con uno en   particular relacionado con la programaci&oacute;n interna del aplicativo, es decir, con   el cual el programa lo reconocer&aacute;. Los posibles valores a elegir son:  <em></em>C&eacute;dula, Nit, Tarjeta identidad, C&eacute;dula extranjer&iacute;a, pasaporte, Seguro social,  Fidecomiso, Sociedad extranjera sin nit, Nit extranjer&iacute;a, y Otro.</p>        
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Abreviatura</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo alfanum&eacute;rico de 5 posiciones,   obligatorio, se registra el mnem&oacute;nico o representaci&oacute;n del nombre asociado al   c&oacute;digo de cada tipo de documento, utilizado para reportes impresos o   consultas.</p>        
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Naturaleza</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que contiene lista de valores de la   cual se selecciona entre <em>Natural</em> o <em>Jur&iacute;dica</em> la clase de persona   asociada a cada tipo de documento de identificaci&oacute;n.</p>        
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Programa validador </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo se selecciona de la lista de   valores adjunta, siempre y cuando aplique, el procedimiento que valida el d&iacute;gito   de chequeo del NIT o los rangos de tipo de documento de identificaci&oacute;n seg&uacute;n el sexo del cliente. </p>        
                </td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
            en el cual los &uacute;nicos campos modificables son: Nombre, Abreviatura, Naturaleza, y Programa validador. </span></font></span></p>
            <p align="center"><img src="../img/NUF_008E2.PNG" width="494" height="219"></p>
            <p align="center">&nbsp;</p>
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>