</div></td>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Franquicias</p>
                    </div></td>
              </tr>
            </table>
            <p>Mediante esta funci&oacute;n se habilita el   mantenimiento de la tabla en la cual se almacenan los c&oacute;digos de las diferentes   marcas o franquicias existentes en el mercado local, se&ntilde;alando cu&aacute;les de &eacute;stas   se encuentran habilitadas dentro del Sistema por entidad. </p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              Adicionar y Detalle. Adicionalmente, cuenta con los hiperv&iacute;nculos <a href="NUH_033B1.html" class="LINK2">Clases de prefijos</a>, <a href="NUH_033B3.html" class="LINK2">Par&aacute;metros operativos</a>, <a href="NUH_033B4.html" class="LINK2">Par&aacute;metros acciones para el exception file</a>, <a href="NUH_033B5.html" class="LINK2">Par&aacute;metros acciones por bloqueos</a>, y <a href="NUH_033B6.html" class="LINK2">Par&aacute;metros regiones para el exception file</a> que contienen parametrizaci&oacute;n adicional para las franquicias. </p>
            <p align="center"><img src="../img/NUF_033B.PNG" width="758" height="304"></p>
            <p align="center">&nbsp;</p>
            <p><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes bloques:</p>
            <p align="center"><img src="../img/NUF_033B1.PNG" width="688" height="653"></p>
            <p align="center">&nbsp;</p>
            <blockquote>
              <p align="left"><span class="SUBTTLO2">Franquicias<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></span> Conjunto de bloques que permiten definir las   principales particularidades de cada franquicia. </p>
            </blockquote>
            <table width=740 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="35%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Marca</p></td>
                <td width="65%" valign=top class="PARRAFO" style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de dos d&iacute;gitos, obligatorio,   asignado a cada una de las marcas o franquicias con las cuales operar&aacute; la   entidad.</p>      </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Nombre</span></b></p></td>
                <td valign=top class="PARRAFO" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo alfanum&eacute;rico de 30 posiciones,   obligatorio, se registra la descripci&oacute;n asociada al c&oacute;digo de cada franquicia.   </p>        </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Marca habilitada </p></td>
                <td valign=top class="PARRAFO" style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo de chequeo que  permite se&ntilde;alar si   dicha franquicia se encuentra habilitada o no dentro del sistema, para la   entidad.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Establecimiento impuestos </p></td>
                <td valign=top class="PARRAFO" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este campo    admite cualquier dato alfanum&eacute;rico de m&aacute;ximo 11    caracteres. Permite may&uacute;sculas y min&uacute;sculas. </p>
                  <p class="PARRAFO">El campo C&oacute;digo establecimiento  debe validar el c&oacute;digo ingresado frente a los    establecimientos existentes actualmente en la base de datos para la marca y    empresa en la cual se encuentra ubicado el usuario. Si el c&oacute;digo ingresado    existe, el sistema debe traer autom&aacute;ticamente la descripci&oacute;n del mismo, de lo    contrario debe generar un mensaje de error informando que el establecimiento    no existe.</p>        </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Jerarqu&iacute;a asig. cupos </p></td>
                <td valign=top class="PARRAFO" style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El campo Jerarqu&iacute;a asignaci&oacute;n cupos admite cualquier valor num&eacute;rico de m&aacute;ximo 2 d&iacute;gitos. Permite ingresar un valor para   definir la prioridad en que los cupos de las tarjetas son asignados seg&uacute;n la   marca. </p>      </td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <blockquote>
              <p><span class="SUBTTLO2">Longitudes<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></span> Conjunto de datos que indican los valores que   por defecto define la franquicia para cada uno de los conceptos contenidos en el   bloque y los algoritmos a utilizar para verificar la referencia universal   asociada a las transacciones.</p>
            </blockquote>
            <table width=740 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td width="35%" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Bin</p></td>
                <td width="65%" valign=top class="PARRAFO" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Este campo num&eacute;rico de dos d&iacute;gitos,   obligatorio, permite se&ntilde;alar la longitud m&aacute;xima por defecto para el bin o   prefijo.&nbsp;</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero tarjeta </p></td>
                <td valign=top class="PARRAFO" style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de dos d&iacute;gitos, obligatorio,   dentro del que se se&ntilde;ala la longitud m&aacute;xima por defecto que tendr&aacute;n las tarjetas   incluyendo el bin o prefijo.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Referencia universal </p></td>
                <td valign=top class="PARRAFO" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de dos d&iacute;gitos, obligatorio,   que contiene la longitud m&aacute;xima del n&uacute;mero que identifica de manera exclusiva a   cada transacci&oacute;n dentro del universo de transacciones por franquicia, las cuales   establecen las rutinas de armado de la misma.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">D&iacute;gito chequeo referencia </p></td>
                <td valign=top class="PARRAFO" style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que posee lista de valores adjunta de   la que se debe seleccionar el algoritmo que por defecto debe utilizar el sistema   para obtener el d&iacute;gito de chequeo que hace parte de la referencia universal. </p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Algoritmo referencia </p></td>
                <td valign=top class="PARRAFO" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>En este campo con lista de valores adjunta,   se debe seleccionar la rutina de aplicaci&oacute;n del algoritmo por franquicia que por   defecto debe utilizar el sistema para obtener o construir la referencia   universal asociada a cada transacci&oacute;n.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <blockquote>
              <p><span class="SUBTTLO2">Comisiones<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>: </span></font></span>Conjunto de par&aacute;metros definidos por la   franquicia, que permiten establecer las condiciones que regir&aacute;n por defecto los   conceptos aqu&iacute; contenidos.<strong></strong></p>
            </blockquote>
            <table width=740 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td width="35%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tarjeta d&eacute;bito / Tarjeta cr&eacute;dito </p></td>
                <td width="65%" valign=top class="PARRAFO" style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Opci&oacute;n que permite definir de manera   excluyente si la cifra relacionada en el campo <em>Valor</em> ubicado a   continuaci&oacute;n, corresponde a un porcentaje o un valor   absoluto.<strong></strong></p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor</p></td>
                <td valign=top class="PARRAFO" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo num&eacute;rico de 16 d&iacute;gitos no obligatorio,   en el que se registra acorde a lo definido en el campo anterior, el valor   absoluto o porcentual a descontar a manera de comisi&oacute;n a los establecimientos   por transacciones realizadas con productos d&eacute;bito o cr&eacute;dito y que aplicar&aacute; para   la marca en especifico. <strong></strong>Cuando es porcentual, s&oacute;lo admite hasta 6 caracteres. </p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <blockquote>
              <p><span class="SUBTTLO2">Propinas<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>: </span></font></span>Conjunto de par&aacute;metros definidos por la   franquicia, que permiten establecer las condiciones que regir&aacute;n por defecto los   conceptos aqu&iacute; contenidos. <strong></strong></p>
            </blockquote>
            <table width=740 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Derecho propina </p></td>
                <td valign=top class="PARRAFO" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Casilla que indica si determinada franquicia   permite la liquidaci&oacute;n y cobro de propina.<strong></strong></p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">% M&aacute;ximo no comisionable </p></td>
                <td valign=top class="PARRAFO" style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>En este campo num&eacute;rico de 6 posiciones, no   obligatorio, se registra el valor porcentual m&aacute;ximo o tope para el cobro de   propina acordado por la franquicia. <strong></strong></p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tolerancia  no comisionable </p></td>
                <td valign=top class="PARRAFO" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de 14 enteros y 2 decimales no   obligatorio, en el que se registra el valor absoluto m&aacute;ximo acordado entre el   emisor y el operador (franquicia) en que puede excederse el monto de comisi&oacute;n   cobrado.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">C&oacute;digo servicio internacional </p></td>
                <td valign=top class="PARRAFO" style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de cuatro d&iacute;gitos, no   obligatorio, mediante el que cada franquicia determina el c&oacute;digo asociado a cada <em><A href="MEH_002B.html" class="LINK2">producto</A></em> (bin, segmento, y grupo de afinidad)   se&ntilde;alando que puede ser utilizado tanto a nivel nacional o local como tambi&eacute;n   internacional.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">C&oacute;digo servicio nacional </p></td>
                <td valign=top class="PARRAFO" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo num&eacute;rico de cuatro d&iacute;gitos, no   obligatorio, se registra el c&oacute;digo determinado por cada franquicia y que estar&aacute;   asociado a cada <em><A href="MEH_002B.html" class="LINK2">producto</A></em> (bin, segmento, y   grupo de afinidad) cuyo uso se restringe al nivel nacional o local.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <blockquote>
              <p><span class="SUBTTLO2">Franquicia internacional<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></span><span class="PARRAFO" style'font-family:Arial'> C</span><span class="PARRAFO">onjunto de campos que permiten se&ntilde;alar los c&oacute;digos   que identifican la cobertura de la tarjeta 'Local' o 'Internacional',   informaci&oacute;n que har&aacute; parte de los datos contenidos dentro de la banda magn&eacute;tica   de cada pl&aacute;stico y que ser&aacute;n asignados a nivel de cada Producto en sus <em><A href="MEH_002B1.html" class="LINK2">L&iacute;neas de cr&eacute;dito</A></em>.</span></p>
            </blockquote>
            <table width=740 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">% Adquirencia nacional </p></td>
                <td valign=top class="PARRAFO" style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo num&eacute;rico de 6 posiciones enteras y 2   decimales, no obligatorio, en el cual se define el porcentaje aplicable sobre   las comisiones de los comprobantes de venta para determinar los valores   devengados por la entidad como consecuencia del env&iacute;o de movimiento de canje   nacional.<strong></strong></p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">% Adquirencia internacional </p></td>
                <td valign=top class="PARRAFO" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo num&eacute;rico de 6 posiciones enteras y 2   decimales, no obligatorio, en el cual se define el porcentaje aplicable sobre el   total de los comprobantes de venta para determinar los valores devengados por la   entidad como consecuencia del env&iacute;o de movimiento de canje   internacional.<strong></strong></p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo liquidaci&oacute;n </p></td>
                <td valign=top class="PARRAFO" style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo que posee lista de valores adjunta de   la que debe seleccionarse el tipo de liquidaci&oacute;n de las comisiones entre <em>Intercambio</em> o <em>&nbsp;Adquirencia </em>&nbsp;si es <em>por adquirencia </em>las   comisiones son liquidadas seg&uacute;n el modelo anterior (porcentajes entre entidades   y franquicias), y si es <em>por &nbsp;Intercambio</em> las comisiones son liquidadas   seg&uacute;n porcentajes pactados entre entidades y   establecimientos.<strong></strong></p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual el &uacute;nico campo no modificable es el C&oacute;digo.</span></p>
            <p align="center"><img src="../img/NUF_033B2.PNG" width="681" height="652"></p>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Detalle:</span> Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente formulario: <span
              style'font-family:Arial'>
              <o:p></o:p>
            </span></p>
            <p align="center"><img src="../img/NUF_033B3.PNG" width="725" height="410"></p>
            <p align="center">&nbsp;</p>
            <p align="center"><span class="TITLE">Botones especiales</span></p>
            <p align="left"><span class="SUBTTLO2">Actualizar propinas de servicio</span>: Bot&oacute;n que permite asignarle la informaci&oacute;n contenida en estos campos a   todos los tipos de servicios y establecimientos que no la posean o s&oacute;lo a los   tipos de servicios y establecimientos iguales al actual.</p>
            <p align="center"><span class="SUBTITULO"><img src="../img/NUF_033B4-Act propinas de servi.PNG" width="46" height="45"></span></p>
            <p align="left">&nbsp;</p>
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>