</div></td>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleNUH_000B_N2.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Esquemas de amortizaci&oacute;n</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify" class="PARRAFO">A trav&eacute;s de este formulario, se efect&uacute;a la parametrizaci&oacute;n de los diferentes esquemas de amortizaci&oacute;n que pueden ser asociados a los <em><a href="MEH_002B.html" class="LINK2">productos</a></em> de la entidad y que determinar&aacute;n la manera en la cual se har&aacute; la liquidaci&oacute;n de las obligaciones contra&iacute;das por los clientes.</p>
            <p align="center"><img src="../img/NUF_007E.PNG" width="517" height="280"></p>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <p align="justify" class="PARRAFO">El formulario<em> </em>contiene las opciones Actualizar, Eliminar y Adicionar.</p>
            <p align="center" class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario con los siguientes campos.</p>
            <p align="center"><img src="../img/NUF_007E1.PNG" width="320" height="250"></p>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <div align="center" class="PARRAFO">
              <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>C&oacute;digo<br>
                      </b></p></td>
                  <td width="514" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                  num&eacute;rico de 4 d&iacute;gitos, obligatorio, en el cual se registra el c&oacute;digo que identifica cada uno de los diferentes esquemas de amortizaci&oacute;n parametrizados.</p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Nombre<br>
                      <br>
                      <br>
                      </b></p></td>
                  <td width="514" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                  campo alfanum&eacute;rico de 30 posiciones, obligatorio, permite registrar el nombre del esquema asociado con el c&oacute;digo anterior.</p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Abreviatura<br>
                      <br>
                      <br>
                      </b></p></td>
                  <td width="514" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo alfanum&eacute;rico obligatorio de hasta 10 posiciones en el que se indica una abreviatura para identificar el esquema que se est&aacute; parametrizando.</p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'>
                  <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Descripci&oacute;n<br>
                            <br>
                            <br>
                  </b></p></td>
                  <td width="514" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En este campo de alfanum&eacute;rico de hasta 1000 caracteres, no obligatorio, se puede describir y/o ejemplificar cada esquema de amortizaci&oacute;n con el fin de hacer expl&iacute;cito o entendible la manera de operar del mismo.</p></td>
                </tr>
              </table>
              <p align="left" class="PARRAFO">    
              <p><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar:</span></b> si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar, se despliega un formulario en el cual el &uacute;nico campo NO modificable es el C&oacute;digo.</p>
              <p align="center"><img src="../img/NUF_007E2.PNG" width="320" height="252"></p>
              <p align="center">&nbsp;</p>
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>