<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/NUH_001B.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <center>
            <div id="Layer2"> 
                <table width="100%" border="0">
                  <tr> 
                    <td width="57%"><div align="right"> 
                        <p align="center" class="TITLE">Ejecuci&oacute;n de procesos especiales</p>
                      </div></td>
                  </tr>
                </table>
                <p align="justify"><span class="PARRAFO">Mediante este formulario se habilita 
                  la ejecuci&oacute;n manual de los <a href="OPH_001B.html" class="LINK2">procesos</a> 
                  que hayan sido definidos con frecuencia de ejecuci&oacute;n '<em>Especial</em>'.</span></p>
                <p align="justify" class="PARRAFO">Al ingresar a la opci&oacute;n, el formulario 
                  muestra todos aquellos procesos cuya fecha pr&oacute;xima ejecuci&oacute;n 
                  corresponda con la fecha actual de proceso del aplicativo.</p>
                <p align="center"><img src="../img/OPF_002E.PNG" width="507" height="496"></p>
                <p align="center">&nbsp;</p>
                <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'> 
                    <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                        C&oacute;digo grupo</span></b></p></td>
                    <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                        que muestra el c&oacute;digo del <a href="OPH_001B.html" class="LINK2">grupo</a> 
                        al que pertenecen los procesos a ejecutar.</p></td>
                  </tr>
                </table>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'> 
                    <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                        Nombre grupo</span></b></p></td>
                    <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                        este campo se despliega el nombre que identifica a cada uno de los grupos 
                        de procesos.</p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'> 
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                        Tipo ejecuci&oacute;n</span></b></p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                        que muestra si la ejecuci&oacute;n de los procesos pertenecientes al 
                        grupo es <em>Secuencial</em> o en <em>Paralelo</em>, es decir, si se 
                        deben ejecutar uno a uno o es posible seleccionar varios de los procesos 
                        y enviarlos a ejecuci&oacute;n simult&aacute;neamente.</p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'> 
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                        Fecha &uacute;ltima ejecuci&oacute;n</span></b></p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                        campo contiene en formato YYYYMM-DD la fecha en la que se ejecut&oacute; 
                        por &uacute;ltima vez cada uno de los grupos.</p></td>
                  </tr>
                </table>
                <p align="center" class="PARRAFO">El formulario cuenta con el hiperv&iacute;nculo 
                  <em>procesos</em> que despliega un nuevo formulario en el cual se muestran 
                  todos los procesos pertenecientes al grupo y que pueden ser ejecutados en 
                  la fecha y van acompa&ntilde;ados de una casilla en la que se marcan aquellos 
                  que se desea ejecutar.</p>
                <p align="center"><img src="../img/OPF_002E1.PNG" width="620" height="543"></p>
                <p align="center" class="PARRAFO">&nbsp;</p>
                <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'> 
                    <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                        C&oacute;digo proceso</span></b></p></td>
                    <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                        que muestra el c&oacute;digo de cada uno de los procesos pertenecientes 
                        al grupo y que pueden ser marcados para ejecuci&oacute;n.<br>
                      </p></td>
                  </tr>
                </table>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'> 
                    <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                        Objeto l&oacute;gico</span></b></p></td>
                    <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                        este campo se despliega el objeto que identifica cada uno de los procesos 
                        a ejecutar.</p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'> 
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                        Descripci&oacute;n objeto l&oacute;gico</span></b></p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                        que contiene la descripci&oacute;n o nombre de cada objeto asociado 
                        al proceso.<br>
                      </p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'> 
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                        Estado </span></b></p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                        campo se&ntilde;ala el estado actual de cada proceso y que puede ser 
                        <em>No ejecutado, Ejecuci&oacute;n parcial, Ejecuci&oacute;n total, 
                        Proceso pendiente o En ejecuci&oacute;n</em>. </p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'> 
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                        Requerido</span></b></p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                        en el que se se&ntilde;ala si el proceso tiene la condici&oacute;n de 
                        obligatorio o no, lo que es evaluado por el sistema al momento de hacer 
                        el cambio de calendario para no permitir la acci&oacute;n hasta tanto 
                        todos los procesos obligatorios hayan sido lanzados y su estado sea 
                        <em>Ejecuci&oacute;n total</em>.</p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'> 
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                        Marca</span></b></p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                        este campo se indica en caso de aplicar para el proceso, la marca para 
                        la cual va a ejecutar la acci&oacute;n. </p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'> 
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                        N&uacute;mero de ejecuciones</span></b></p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                        que muestra la cantidad de veces que el proceso ha sido ejecutados durante 
                        la fecha de proceso actual. Cuando se hace cambio de calendario, este 
                        campo se inicializa en cero para todos los procesos.</p></td>
                  </tr>
                </table>
                <p align="center" class="PARRAFO"><span class="PARRAFO">Una vez seleccionados 
                  los procesos mediante el bot&oacute;n <em>Iniciar</em> se da comienzo a la ejecuci&oacute;n 
                  de los mismos y una vez finalizada su ejecuci&oacute;n bien sea sin error 
                  (Ejecuci&oacute;n total) o con alg&uacute;n error (Ejecuci&oacute;n parcial) 
                  se le env&iacute;a un mail al correo registrado del <a href="NUH_010B.html" class="LINK2">usuario</a> 
                  que lanz&oacute; la ejecuci&oacute;n indic&aacute;ndole el resultado del mismo.</span></p>
        </center>
    </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>