<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/NUH_001B.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Novedad datos laborales</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Este formulario invocado desde la opci&oacute;n 
              <a href="SOH_004B.html#BL_REF_LABORALES" class="LINK2"><em>consulta de clientes</em></a>, 
              a trav&eacute;s del hiperv&iacute;nculo <em>Referencias</em> en el bloque 
              <em>Referencias</em> <em>laborales</em>, y que por su naturaleza aplica &uacute;nicamente 
              para clientes personas naturales, permite el ingreso o modificaci&oacute;n 
              de la informaci&oacute;n correspondiente a los datos laborales del cliente. 
              </span></p>
            <p align="center" class="PARRAFO">El formulario Referencias laborales contiene 
              las opciones Actualizar, Eliminar, Adicionar y Detalle</p>
            <p class="PARRAFO"><strong><font style"#292929">Adicionar</font></strong>: 
              si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.</p>
            <p align="center"><img src="../img/SCF_011E.PNG" width="431" height="529"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Compa&ntilde;&iacute;a</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico de 30 posiciones, obligatorio, en el que se registra 
                    el nombre o raz&oacute;n social de la empresa o compa&ntilde;&iacute;a 
                    para la cual labora o labor&oacute; el cliente.<br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Direcci&oacute;n</span></b></p>
                  </td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 30 posiciones, obligatorio, en el 
                    que se registra la nomenclatura de la sede u oficina principal de la 
                    empresa o compa&ntilde;&iacute;a que est&aacute; siendo relacionada 
                    por el cliente.<br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Tel&eacute;fono 
                    empresa </span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico de 20 posiciones, obligatorio, que contiene los 
                    n&uacute;meros telef&oacute;nicos de la sede u oficina principal de 
                    la empresa o compa&ntilde;&iacute;a.<br>
                  </p>
                  </td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Extensi&oacute;n empresa</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 6 posiciones, se registra el n&uacute;mero 
                    de la extensi&oacute;n telef&oacute;nica asociada a los n&uacute;meros 
                    telef&oacute;nicos de la compa&ntilde;ia relacionada por el cliente.<br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Empresa actual</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    tipo check en el que se marca para indicar si la informaci&oacute;n 
                    suministrada corresponde al trabajo actual del cliente.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Sueldo mensual</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo num&eacute;rico de hasta 14 enteros y 2 decimales se registra 
                    el monto del sueldo mensual que la compa&ntilde;&iacute;a reconoce al 
                    cliente como remuneraci&oacute;n por su trabajo.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Modalidad</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    tipo combo en el cual se puede seleccionar entre <em>B&aacute;sico</em> 
                    o <em>Integral</em> la modalidad de sueldo que la empresa le reconoce 
                    por su trabajo.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Cargo</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se registra la informaci&oacute;n correspondiente al cargo 
                    desempe&ntilde;ado por el cliente dentro de la empresa.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Fecha ingreso</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    en formato YYYY-MM-DD en el que se registra la fecha en la cual el cliente 
                    inici&oacute; labores como empleado de la compa&ntilde;&iacute;a relacionada.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Fecha retiro</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo en formato YYYY-MM-DD se registra en caso de aplicar, la 
                    fecha en la cual el cliente termin&oacute; sus labores con la empresa.</p>
                  </td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Nombre firma</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico en el que se registra el nombre de la persona que 
                    firma la certificaci&oacute;n laboral o quien puede confirmar la informaci&oacute;n 
                    suministrada por el cliente respecto de sus datos laborales. </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Cargo firma</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico se ingresa la informaci&oacute;n del 
                    cargo dentro de la empresa que posee la persona que firma la certificaci&oacute;n 
                    laboral entregada por el cliente, o en su defecto qui&eacute;n puede 
                    confirmar los datos entregados cuando no exista una certificaci&oacute;n 
                    escrita. </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Fecha de radicaci&oacute;n</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    obligatorio del formulario y en el se registra en formato YYYY-MM-DD 
                    la fecha en la cual el cliente notific&oacute; la actualizaci&oacute;n 
                    de sus datos laborales y que puede ser inclusive una fecha anterior 
                    a la actual del sistema.</p>
                  </td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    E-mail</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico se registra la direcci&oacute;n de correo 
                    electr&oacute;nico de la compa&ntilde;&iacute;a.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Ubicaci&oacute;n</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    con lista de valores, obligatorio, en el cual se selecciona la <a href="NUH_003B.html" class="LINK2"><em>ubicaci&oacute;n</em></a> 
                    correspondiente a la ciudad donde se encuentra la empresa.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'> 
                    Actividad econ&oacute;mica</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se puede seleccionar de la lista de valores la <em><a href="NUH_032B.html" class="LINK2">actividad 
                    econ&oacute;mica</a></em> desarrollada por la empresa en la que labora 
                    o labor&oacute; el cliente.</p></td>
              </tr>
            </table>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><strong><font style"#292929">Actualizar</font></strong>: 
              si desde el formulario de relaciones laborales de la consulta del cliente 
              el usuario selecciona un registro e invoca la opci&oacute;n Actualizar se 
              despliega un formulario en el cual todos los campos son modificables.</p>
            <p align="center"><img src="../img/SCF_011E1.PNG" width="485" height="483"></p>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><strong><font style"#292929">Detalle</font></strong>: si 
              desde el formulario de relaciones laborales de la consulta del cliente el 
              usuario selecciona un registro e invoca la opci&oacute;n Detalle se despliega 
              un formulario con toda la informaci&oacute;n del registro y en el cual ninguno 
              de sus campos es modificable.</p>
            <p align="center"><img src="../img/SCF_011E2.PNG" width="684" height="193"></p>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <div align="center">
        </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>