<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/NUH_001B.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Solicitudes por etapa - Aprobaci&oacute;n</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTTLO2">Solicitudes: </span>Este formulario 
              corresponde al segundo paso del wizard, al que se accede desde la opci&oacute;n 
              principal <a href="SOH_040B.html" class="LINK2">Solicitudes por etapa</a>. En &eacute;l 
              se pueden consultar las diferentes solicitudes de afiliaci&oacute;n que se 
              encuentran en la etapa de<em> Aprobaci&oacute;n</em>.</p>
            <p class="PARRAFO">A trav&eacute;s de la opci&oacute;n Detalle de la parte superior, 
              se puede consultar la solicitud seleccionada. Adicionalmente, se puede consultar 
              el detalle del cliente por medio del v&iacute;nculo ubicado en la Identificaci&oacute;n 
            del solicitante. Por &uacute;ltimo, cuando se trata de una solicitud de <em>Principal con adicional</em> se mostrar&aacute; la opci&oacute;n Adicionales en la parte superior, la cual invoca el detalle de este tipo de solicitudes.</p>
            <p align="center"><img src="../img /SOF_040B17.PNG" width="632" height="214"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    ingreso </p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    la fecha en la cual se grab&oacute; la solicitud.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Secuencia</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    de salida que ilustra el n&uacute;mero consecutivo asignado por el sistema 
                    y que permite diferenciar e identificar las solicitudes.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Tipo 
                    solicitud</span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    el tipo de solicitud a tramitar en el formulario.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Tipo 
                    cr&eacute;dito nuevo</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    de salida que identifica qu&eacute; tipo de cliente o clientes aplican 
                    para la solicitud de <em>Cr&eacute;dito nuevo</em>. Puede ser Titular 
                    con adicional, Solo titular, o Solo Adicional.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Estado</span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    la condici&oacute;n en que se encuentra la solicitud al arribar a esta 
                    etapa, las cuales pueden ser: En zona gris, Negada totalmente, Negada 
                    parcialmente, Aprobada totalmente o Aprobada parcialmente.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Identificaci&oacute;n 
                    solicitante </span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Contiene 
                    tanto el tipo de documento como el n&uacute;mero del mismo, que identifica 
                    al solicitante.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Nombre<b> 
                    </b> </p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Despliega 
                    el nombre del solicitante.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO">Adicionalmente, el formulario cuenta con botones en la parte 
              inferior izquierda, a trav&eacute;s de los cuales se pueden tomar acciones 
              que afectan a todas las solicitudes que se encuentren filtradas.</p>
            <table width=715 height="114" border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="center" class="SUBTITULO"><img src="../img /SOF_040B-Aprobar%20solicitud%201.PNG" width="46" height="46"></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><em>Aprobar 
                    todas las solicitudes: </em>Funcionalidad que permite pasar las solicitudes 
                    a la siguiente etapa siempre y cuando cumplan con los requisitos necesarios 
                    acorde con los par&aacute;metros definidos; en caso contrario la solicitud 
                    ser&aacute; negada.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="center" class="SUBTITULO"><b><img src="../img /SOF_040B-Negar%20solicitud%201.PNG" width="46" height="46"></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><em>Negar 
                    todas las solicitudes:</em> Funcionalidad que permite denegar totalmente, 
                    de forma manual, todas las solicitudes.</p></td>
              </tr>
            </table>
            <table width=715 height="57" border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="center" class="SUBTITULO"><img src="../img /SOF_040B-Retro%20etapa%201.PNG" width="46" height="46"></p></td>
                <td valign=top class="PARRAFO" style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><em>Retroceder 
                  etapa para todas las solicitudes:</em> Permite  retornar  todas las solicitudes que hayan sido filtradas desde el formulario inicial. Si la solicitud ya ha sido aprobada o negada   totalmente, no permite su retroceso.</td>
              </tr>
            </table>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO">Cada una de las solicitudes cuenta con una casilla de verificaci&oacute;n, 
              que debe ser marcada por el usuario en caso de querer aplicar acciones s&oacute;lo 
              a solicitudes espec&iacute;ficas. Estas solicitudes se mostrar&aacute;n en 
              el tercer paso del wizard: <a href="SOH_040B7b.html" class="LINK2">Resumen</a>.</p>
            <p class="PARRAFO">&nbsp;</p>
            </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>