<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Actividades</p>
                    </div></td>
              </tr>
            </table>
            <p>Mediante esta funci&oacute;n la entidad determina   las tareas que deben realizar los funcionarios promotores durante la permanencia   de la solicitud en una etapa espec&iacute;fica.</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Filtro:</span> El formulario cuenta 
              con un filtro inicial de b&uacute;squeda, necesario para la consulta de la 
              informaci&oacute;n:</p>
            <p align="center"><img src="../img/APF_001B1.PNG" width="482" height="118"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">C&oacute;digo</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo alfanum&eacute;rico de 4 posiciones   que permite filtrar por la   tarea a realizar en una etapa definida.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Descripci&oacute;n</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>En este campo alfanum&eacute;rico de hasta 30   posiciones en el cual se puede ingresar un palabra clave para realizar la b&uacute;squeda.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Plazo</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo num&eacute;rico de 3 d&iacute;gitos que permite buscar por el plazo de la actividad. </p>        </td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              Adicionar y Detalle.</p>
            <p align="center"><img src="../img/APF_001B.PNG" width="717" height="327"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si 
              el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con 
              los siguientes campos<font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/APF_001B2.PNG" width="461" height="318"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">C&oacute;digo</span></span></b></p></td>
                <td width="72%" valign=top class="PARRAFO" #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo alfanum&eacute;rico de 4 posiciones   obligatorio, donde se registra el valor de identificaci&oacute;n que se asigna a la   tarea a realizar en una etapa definida, por determinado perfil de funcionario   promotor.&nbsp;</p>        </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><span class="style1">Descripci&oacute;n</span></p></td>
                <td valign=top class="PARRAFO" #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo alfanum&eacute;rico de hasta 30   posiciones, obligatorio, se registra el nombre o descripci&oacute;n que ayuda a   identificar cada una de las tar&eacute;as asociada al c&oacute;digo anterior.</p>      
                </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Plazo</span></span></b></p></td>
                <td valign=top class="PARRAFO" #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de 3 d&iacute;gitos, obligatorio, en   el que se registra el tiempo expresado en d&iacute;as, estimado por la entidad para la   culminaci&oacute;n de cada tar&eacute;a. </p>      
                </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Modo de finalizaci&oacute;n </span></span></b></p></td>
                <td valign=top class="PARRAFO" #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Este campo contiene lista de valores de la   que se selecciona el mecanismo por el cual se actualiza el estado de la tarea   para interpretarla como culminada. Cuando se selecciona <em>manual</em>, significa   que cada promotor ingresa a sus diferenes tareas asignadas y las finaliza,   siendo esta la base para la liquidaci&oacute;n de sus comisiones; si la selecci&oacute;n es <em>autom&aacute;tica</em> significa que la tarea ser&aacute; actualizada por el   sistema.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Tipo actividad </span></span></b></p></td>
                <td valign=top class="PARRAFO" #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que posee lista de valores adjunta de   la cual puede seleccionarse entre <em>Coloc. cr&eacute;ditos (Crediagil)</em>, <em>Colocaci&oacute;n (Tarjetas)</em> o <em>Normal </em>lo que permite diferenciar la clase   de obligaciones a las que se refiere la actividad.</p>      
                </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Perfil promotor </span></span></b></p></td>
                <td valign=top class="PARRAFO" #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Las tareas que se definan se asocian a un <em><A href="NUH_060E.html">perfil de promotor</A> </em>en particular, con lo que   se determina el grado de responsabilidad y confianza depositada en los   funcionarios que pertenecen a cada perfil; este campo contiene una lista de   valores con los perfiles que maneja la entidad para sus funcionarios promotores,   de donde se escoge el que m&aacute;s se ajuste al grado de responsabilidad y compromiso   exigido para cada tarea.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'><span class="style1">Etapa</span></span></b></p></td>
                <td valign=top class="PARRAFO" #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Se han determinado las etapas en las cuales   puede existir un realizaci&oacute;n previa de tareas en cada una de ellas; las etapas   predefinidas son el <em>ingreso de la solicitud, Verificaci&oacute;n de referencias,   Generaci&oacute;n de pl&aacute;stico</em> y <em>Generaci&oacute;n de   sobreflex</em>.</p>      
                </td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p><span class="SUBTTLO2">Actualizar:</span> Si el usuario 
              invoca la opci&oacute;n Actualizar se despliega un nuevo formulario en cual 
              los &uacute;nicos campos modificables son los siguientes:</p>
            <p align="center"><img src="../img/APF_001B3.PNG" width="462" height="318"></p>
            <p align="center">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Detalle:</span> Si el usuario invoca 
              la opci&oacute;n Detalle se despliega el siguiente formulario.<span
              #'font-family:Arial'>
                <o:p></o:p>
              </span></p>
            <p align="center"><img src="../img/APF_001B4.PNG" width="772" height="125"></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>