<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Par&aacute;metros de Pin</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">A trav&eacute;s de este formulario el sistema permite al 
              actor ingresar los par&aacute;metros relacionados con el c&aacute;lculo de 
              PIN.</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar y Eliminar; 
              la opci&oacute;n Adicionar se muestra autom&aacute;ticamente cuando se eliminan 
              los par&aacute;metros actuales.</p>
            <p align="center"><img src="../img/COF_041B.PNG" width="468" height="162"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/COF_041B1.PNG" width="252" height="186"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Largo 
                    pan </b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    campo Largo pan acepta 2 caracteres alfanum&eacute;ricos. Es obligatorio.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tabla 
                    decimalizaci&oacute;n </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>El campo Tabla 
                    decimalizaci&oacute;n acepta 16 caracteres num&eacute;ricos. Es obligatorio.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Caracter 
                    de relleno</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    campo Car&aacute;cter de relleno acepta 1 caracter alfanum&eacute;rico. 
                    Es obligatorio.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Largo 
                    pin </span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    campo Largo pin acepta 2 caracteres num&eacute;ricos. Es obligatorio.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Posici&oacute;n 
                    track2 </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>El campo Posici&oacute;n 
                    track2 acepta 2 caracteres num&eacute;ricos. Es obligatorio.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son: Largo pan, Tabla decimalizaci&oacute;n, 
              Caracter de relleno, <span #'font-family:Arial'>Largo pin, y Posici&oacute;n 
              track2 .</span></p>
            <p align="center"><img src="../img/COF_041B2.PNG" width="251" height="185"></p>
            <p class="PARRAFO">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>