<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Reglas</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Mediante esta opci&oacute;n, la entidad define las diferentes reglas que pueden ser utilizadas por el autorizador para aprobar, negar o referir una autorizaci&oacute;n, seg&uacute;n se encuentren <a href="COH_031B.html" class="LINK2">asociadas</a> con los diferentes <a href="MEH_002B.html" class="LINK2">productos</a> cr&eacute;dito. </p>
            <p class="PARRAFO">El formulario contiene un filtro que le permite al usuario consultar la   informaci&oacute;n espec&iacute;fica por nombre de la regla, por la acci&oacute;n de la regla (aprobar, negar o referir), por el tipo de regla, por el estado (activa, inactiva) o por vigencia inicial / final. Por defecto, al ingresar al   formulario este trae todas las reglas existentes en la base de datos.</p>
            <p align="center"><img src="../img/COF_030B.PNG" alt="" width="469" height="155"></p>
            <p align="center" class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar y
            Adicionar. Contiene adem&aacute;s un hiperv&iacute;nculo denominado <a href="COH_030B1.html" class="LINK2">Definici&oacute;n de reglas</a>, desde donde se parametriza la estructura o contenido de la regla; el campo <em>Definici&oacute;n de reglas</em> le indica al usuario para cada una de las reglas creadas si &eacute;stas ya tienen o no definida su estructura, lo que es requisito indispensable para poderla <a href="COH_031B.html" class="LINK2">asociar</a> posteriormente con los productos.</p>
            <p class="PARRAFO"><img src="../img/COF_030B1.PNG" width="808" height="391"></p>
            <p align="center">&nbsp;</p>
            <p align="center"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca 
              la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/COF_030B2.PNG" width="396" height="280"></p>
            <p align="center">&nbsp;</p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Nombre</b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo alfanum&eacute;rico de hasta 30 caracteres, obligatorio, en el cual se registra el nombre con el cual se va a identificar la regla. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Acci&oacute;n</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este campo tipo combo, obligatorio, se selecciona entre <em>Aprobar, Negar</em> o <em>Referir</em> la acci&oacute;n que determina la respuesta del autorizador, en caso que la tarjeta que se est&aacute; evaluando cumpla con la s&iacute;ntaxis de la regla. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Definitivo</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify"><span class="PARRAFO">Campo obligatorio que se habilita &uacute;nicamente cuando en el campo acci&oacute;n se selecciona la opci&oacute;n 'Aprobar' y que contiene un combo con las opciones <em>Si</em> y <em>No. </em></span><span class="style1">Cuando se selecciona</span><span class="PARRAFO"><em> Si,  </em>le indica al sistema que si la tarjeta que se est&aacute; evaluando cumple con la sintaxis de la regla debe tomar la respuestas como definitiva y no continuar evaluando las dem&aacute;s reglas <a href="COH_031B.html" class="LINK2">asociadas</a> al producto en caso que las hubiere. Si se selecciona <em>No</em>, indica que se deben seguir evaluando las dem&aacute;s reglas.</span> Si la acci&oacute;n es diferente a <em>Aprobar</em>, este campo se oculta autom&aacute;ticamente en el formulario. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo</p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo no obligatorio se puede selecci0nar entre <em>Tipo 1, Tipo 2</em> o <em>Tipo 3</em> para darle una clasificaci&oacute;n a las reglas </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Estado</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio tipo combo, en el cual se selecciona entre <em>Activa</em> o <em>Inactiva</em> el estado de la regla. El sistema solo evaluar&aacute; aquellas reglas que adem&aacute;s de estar <a href="COH_031B.html" class="LINK2">asociadas</a> al producto se encuentren en estado <em>Activa</em>. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Vigencia inicial </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify"><span class="PARRAFO">En este campo no obligatorio, la entidad puede determinar a partir de que fecha tiene validez o aplicaci&oacute;n la regla. El sistema solo evaluar&aacute; aquellas reglas que adem&aacute;s de estar <a href="COH_031B.html" class="LINK2">asociadas</a> al producto y encontrarse en estado <em>Activa, </em></span><span class="style1">se encuentren vigentes al momento de solicitar la autorizaci&oacute;n. </span><span class="style1">Utiliza formato YYYY-MM-DD</span></p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top class="SUBTITULO" #'padding:3.0pt 3.0pt 3.0pt 3.0pt'>Vigencia final </td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify">Campo no obligatorio, en el que la entidad puede determinar hasta que fecha tiene validez o aplicaci&oacute;n la regla. El sistema solo evaluar&aacute; aquellas reglas que adem&aacute;s de estar <a href="COH_031B.html" class="LINK2">asociadas</a> al producto y encontrarse en estado <em>Activa, </em><span class="style1">se encuentren vigentes al momento de solicitar la autorizaci&oacute;n. Utiliza formato YYYY-MM-DD . </span></div></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top class="SUBTITULO" #'padding:3.0pt 3.0pt 3.0pt 3.0pt'>Mensaje negaci&oacute;n / referido </td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify">Este campo obligatorio contiene lista de valores de la cual se selecciona el <a href="COH_014B.html" class="LINK2">c&oacute;digo de respuesta</a> que el autorizador debe enviar en caso que de acuerdo con las validaciones de la tarjeta la autorizaci&oacute;n deba ser negada o referida. </div></td>
              </tr>
            </table>
            <p align="center" src="../img/MEF_002E5.PNG">&nbsp;</p>
            <p>Es importante tener en cuenta con las fechas de <strong>vigencia inicial</strong> y <strong>vigencia final</strong> las siguientes condiciones:</p>
            <ul>
              <li>Si ninguno de los dos campos tiene informaci&oacute;n la regla no se encuentra limitada en el tiempo y est&aacute; vigente permanentemente. </li>
              <li>Si el campo vigencia inicial contiene datos pero vigencia final no, indica que la regla aplica desde la fecha indicada de manera indefinida </li>
              <li>Si el campo vigencia inicial no tiene informaci&oacute;n pero la vigencia final si, indica que la regla aplica &uacute;nicamente hasta la fecha indicada.</li>
              <li>Si tanto el campo vigencia inicial como vigencia final contienen datos, indica que la regla solo aplica dentro de ese rango de fechas en particular. </li>
            </ul>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual el &uacute;nico campo NO modificable es el <em>Nombre</em>.</span></p>
            <p align="center"><img src="../img/COF_030B3.PNG" width="397" height="282"></p>
            <p align="center" src="../img/MEF_002E5.PNG">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>