<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Consulta mensajes del sistema</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Esta funci&oacute;n permite consultar en detalle el historico de las autorizaciones 
              que han sido otorgadas por el sistema, las cuales ya fueron procesadas.</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Filtro:</span> El formulario cuenta 
              con un filtro inicial de b&uacute;squeda, necesario para la consulta de la 
              informaci&oacute;n:</p>
            <p align="center"><img src="../img/COF_042B.PNG" width="762" height="173"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Marca</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    de salida que a partir del bin despliega la <em><a href="NUH_033B.html" class="LINK2">marca o franquicia</a></em> a la cual pertenece el producto.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Puerto</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Puertos f&iacute;sicos existentes en el equipo central, a trav&eacute;s de los cuales se establece    conexi&oacute;n entre el autorizador y las oficinas, las transacciones ingresan por los direferentes puertos. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial">N&uacute;mero 
                    tarjeta </span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo se digita el n&uacute;mero de    tarjeta del cliente a quien se desea consultar.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO">A trav&eacute;s del bot&oacute;n Buscar, se muestra un formulario 
              que contiene la siguiente informaci&oacute;n, junto con la opci&oacute;n Detalle.</p>
            <p align="center"><img src="../img/COF_042B1.PNG" width="788" height="343"></p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Marca</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                  de salida que a partir del bin despliega la <em><a href="NUH_033B.html" class="LINK2">marca o franquicia</a></em> a la cual pertenece el producto.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Puerto</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Puertos f&iacute;sicos existentes en el equipo central, a trav&eacute;s de los cuales se establece    conexi&oacute;n entre el autorizador y las oficinas, las transacciones ingresan por los direferentes puertos. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial">N&uacute;mero 
                  tarjeta </span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo se digita el n&uacute;mero de    tarjeta del cliente a quien se desea consultar.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha de transaci&oacute;n </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo se digita la fecha en la cual    se realiz&oacute; la transacci&oacute;n sobre la cual se desea realizar la consulta.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero de autorizaci&oacute;n </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    caso de que la solicitud de autorizaci&oacute;n haya sido exitosa, en 
                    este campo aparece el n&uacute;mero que fue asignado como aprobaci&oacute;n 
                    de la misma.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial"><span class="style1">Monto transacci&oacute;n</span></span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo se se&ntilde;ala el valor de la    transacci&oacute;n sobre la cual se desea realizar la consulta.</p></td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Detalle:</span> 
              A trav&eacute;s de este bot&oacute;n el sistema muestra un formulario con 
              la siguiente informaci&oacute;n:</span></p>
            <p align="center"><img src="../img/COF_042B2.PNG" width="782" height="90"></p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td width="201" height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial">Establecimiento</span></b></p></td>
                <td width="514" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el cual se registra el c&oacute;digo del establecimiento en d&oacute;nde 
                se est&aacute; realizando la transacci&oacute;n.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>