<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
  
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%" height="36">
          <div align="right"> 
                    <p align="center" class="TITLE">Captura movimiento oficinas</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify" class="PARRAFO">Mediante esta opci&oacute;n se permite a 
              la entidad la captura o ingreso del movimiento hecho con tarjetas d&eacute;bito 
              por sus clientes directamente en las sucursales y correspondiente a transacciones 
              de avances e impuestos.</p>
            <p align="justify" class="PARRAFO">Al ingresar al formulario se despliega un 
              filtro en el cual el usuario debe digitar la informaci&oacute;n de la oficina 
              para la que se va a capturar el movimiento, la transcci&oacute;n a ingresar 
              y la moneda.</p>
            <p align="center"><img src="../img/DBF_037E.PNG" width="541" height="126"></p>
            <p align="justify" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    proceso </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    de salida en formato YYYY-MM-DD que contiene la fecha de proceso actual 
                    y para la que se va a capturar el movimiento. El sistema no permite 
                    el ingreso de transacciones para fechas anteriores.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Oficina</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo obligatorio con lista de valores se selecciona la <a href="NUH_020B.html" class="LINK2">oficina</a> 
                    para la que se va a consultar y/o ingresar movimiento manual.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Transacci&oacute;n</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio tipo combo en el que se selecciona entre <em>Avance</em> 
                    o <em>Impuestos</em> el tipo de transacci&oacute;n a consultar y/o capturar.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Moneda</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo obligatorio con lista de valores, se selecciona la <a href="NUH_005B.html" class="LINK2">Moneda</a> 
                    en la que est&aacute;n denominadas las transacciones manuales a ingresar 
                    en el sistema</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Boleta 
                    de ruta</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    no obligatorio en el que se puede registrar el n&uacute;mero de la <a href="INH_037B.html" class="LINK2">boleta 
                    de ruta</a> asignada a la sucursal para la que se desea consultar y/o 
                    ingresar movimiento manual.</p></td>
              </tr>
            </table>
            <p align="justify" class="PARRAFO">Una vez seleccionados los criterios y mediante 
              el bot&oacute;n buscar, se despliegan en el formulario los registros de las 
              transacciones de avances o impuestos capturadas para esa oficina en la fecha 
              de proceso actual. Si no existe movimiento ingresado el formulario se muestra 
              en blanco.</p>
            <p align="justify" class="PARRAFO">Es importante aclarar que el sistema no permite 
              mezclar los avances y los impuestos por lo cual antes de poder ingresar cualquiera 
              de estos tipos de transacci&oacute;n es necesario diligenciar el filtro seleccionando 
              el tipo de transacci&oacute;n requerido.</p>
            <p align="justify" class="PARRAFO">&nbsp;</p>
            <p align="center"><img src="../img/DBF_037E1.PNG" width="830" height="154"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar y Adicionar.</p>
            <p align="left" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario 
              con los siguientes campos para permitir el ingreso de las transacciones tanto 
              de Avances como de Pagos de impuestos.</p>
            <p align="center"><img src="../img/DBF_037E2.PNG" width="408" height="402"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    proceso </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    de salida en formato YYYY-MM-DD que contiene la fecha de proceso actual 
                    y para la que se va a capturar el movimiento. El sistema no permite 
                    el ingreso de transacciones para fechas anteriores.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Oficina</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo de salida se muestra la <a href="NUH_020B.html" class="LINK2">oficina</a> 
                    para la que se est&aacute; ingresando el movimiento de acuerdo con la 
                    informaci&oacute;n seleccioanda en el filtro inicial.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Marca</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio con lista de valores del que se selecciona la <a href="NUH_033B.html" class="LINK2">marca</a> 
                    a la que pertenece la tarjeta d&eacute;bito para la que se va a capturar 
                    la transacci&oacute;n de avances o impuestos. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Establecimiento</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 11 d&iacute;gitos, no obligatorio, 
                    se registra el c&oacute;digo &uacute;nico que identifica, ante la franquicia, 
                    al <a href="ESH_006B.html" class="LINK2">establecimiento</a> donde se 
                    realiza la transacci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    tarjeta </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    alfanum&eacute;rico de 23 d&iacute;gitos, obligatorio, en el que se 
                    digita el n&uacute;mero de la tarjeta d&eacute;bito mediante la cual 
                    se realiz&oacute; la transacci&oacute;n de Avance o Pago de impuestos 
                    y que es validada por el sistema para verificar su existencia. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>N&uacute;mero 
                    comprobante </b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo num&eacute;rico de 7 d&iacute;gitos, obligatorio, se registra 
                    el n&uacute;mero del voucher o comprobante correspondiente a la transacci&oacute;n 
                    de Avance o Impuesto efectuada por el cliente.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Fecha 
                    comprobante </b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio en formato YYYY-MM-DD que por defecto muestra la misma fecha 
                    actual de proceso pero que es editable y permite el ingreso de la fecha 
                    correspondiente a la transacci&oacute;n. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>N&uacute;mero 
                    de autorizaci&oacute;n</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 6 d&iacute;gitos, no obligatorio, 
                    en el que se registra el n&uacute;mero de autorizaci&oacute;n otorgado 
                    para el Avance o Pago de impuesto.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Plazo</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    de salida que siempre esta en 1, ya que todas las transaccion de tarjeta debito son debitadas en su totalidad de la cuenta.  
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Causal</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Si 
                    durante el proceso de la captura del comprobante el usuario detecta 
                    inconsistencias en los comprobantes, tales como falta de firma, falta 
                    de sellos, documento no legible, entre otras posibles alteraciones, 
                    mediante la lista de valores adjunta puede seleccionar la <a href="NUH_016B.html" class="LINK2">Causal 
                    de rechazo de transacciones</a> por la cual el movimiento va a ser enviado 
                    a pendientes o fraudes.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Total</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    num&eacute;rico obligatorio de hasta 14 enteros y 2 decimales en el 
                    que se registra el valor total de la transacci&oacute;n de Avance o 
                    Pago de impuestos efectuada por el cliente con su tarjeta d&eacute;bito.</p></td>
              </tr>
            </table>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="left" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar</span></b>: 
              si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
              se despliega un formulario en el cual los campos NO modificables son <em>Fecha 
              proceso, Oficina, Marca, Plazo y Valor total. </em></p>
            <p align="center"><img src="../img/DBF_037E3.PNG" width="413" height="405"></p>
            <div align="center">
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>