<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Par&aacute;metros de solicitudes por 
                      producto </p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Mediante esta opci&oacute;n se parametriza 
              para cada uno de los <a href="DBH_018B.html" class="LINK2"><em>productos d&eacute;bito</em></a> 
              definidos por la entidad los tipos de solicitud que es permitido efectuar, 
              las etapas por las cuales debe pasar la solicitud y los documentos que son 
              exigibles al cliente en cada etapa.</span></p>
            <p align="justify" class="PARRAFO">Al ingresar a la opci&oacute;n se despliega 
              un formulario inicial que contiene una lista de valores en la cual el usuasrio 
              selecciona el producto para el cual se requiere parametrizar los tipos de 
              solicitud.</p>
            <p align="center"><img src="../img/DBF_019E6.PNG" width="414" height="81"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">Una vez seleccionado el producto, se despliega 
              un nuevo formulario que contiene los tipos de solicitud parametrizados actualmente 
              para ese producto o en blanco si no existen a&uacute;n par&aacute;metros para 
              el mismo mostrando para cada una de ellas el tipo solicitud y el nombre o 
              descripci&oacute;n.</p>
            <p align="center"><img src="../img/DBF_019E7.PNG" width="663" height="269"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO">El formulario posee los hiperv&iacute;nculos 
              <a href="DBH_019B1.html#BL_ETAPAS" class="LINK2"> <em>Etapas</em></a> que 
              permite asociar a cada tipo de solicitud las etapas por las que debe pasar 
              y <a href="DBH_019B1.html#BL_COPIAR" class="LINK2"><em>Copiar par&aacute;metros</em></a> 
              que permite replicar los par&aacute;metros definidos para un producto a otro 
              diferente. Adicionalmente contiene las opciones Actualizar, Eliminar, Adicionar 
              y Detalle.</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n <em>Adicionar</em>, se despliega un 
              nuevo formulario con los siguientes campos.</p>
            <p align="center"><img src="../img/DBF_019E8.PNG" width="500" height="241"></p>
            <p align="center">&nbsp;</p>
            <p align="center"><img src="../img/DBF_019E9.PNG" width="500" height="242"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Tipo 
                      solicitud </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      obligatorio tipo combo en el que se selecciona entre <em>Nuevo d&eacute;bito, 
                      Reposici&oacute;n d&eacute;bito, Reexpedici&oacute;n d&eacute;bito 
                      </em>o<em> Renovaci&oacute;n d&eacute;bito</em> el tipo de solicitud 
                      que se desea adicionar al producto.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="85" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
          <p class="SUBTITULO"><b><span #'font-family:Arial'>Regional</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo se habilita &uacute;nicamente cuando el tipo de solicitud corresponda 
                      a <em>Nuevo d&eacute;bito </em>y se marca para indicar si durante 
                      el proceso de ingreso de la solicitud la <a href="NUH_020B.html" class="LINK2"><em>sucursal</em></a> 
                      de radicaci&oacute;n registrada en el formulario debe corresponder 
                      a una regional o depender de alguna regional. </p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Fecha 
                      nacimiento / Estado civil / Personas a cargo / Profesi&oacute;n titular 
                      / Tel&eacute;fono correspondencia / Tipo residencia / Relaci&oacute;n 
                      laboral / Ingresos</span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Conjunto 
                      de campos que se habilitan &uacute;nicamente para el tipo de solicitud 
                      nuevo d&eacute;bito y en los cuales se marca respectivamente para 
                      indicar si el dato es requerido para permitir el ingreso de la solicitud. 
                      Cuando al ingresar la solicitud el sistema detecta que el cliente 
                      no posee la informaci&oacute;n correspondiente para alguno de los 
                      campos marcados como obligatorio, no permite continuar con el proceso 
                      hasta tanto no se le adicionen al cliente todos los datos requeridos.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar:</span></b> 
              si el usuario selecciona un registro correspondiente a <em>Tipo solicitud 
              'Nuevo d&eacute;bito'</em> e invoca la opci&oacute;n <em>Actualizar</em>, 
              se despliega un formulario en el cual el &uacute;nico campo no modificable 
              es <em>Tipo solicitud</em>. Si el tipo solicitud del registro seleccionado 
              para actualizar es diferente a <em>Nuevo d&eacute;bito</em>, ninguno de los 
              campos desplegados en el formulario se puede modificar.</p>
            <p align="center"><img src="../img/DBF_019E10.PNG" width="504" height="239"></p>
            <p align="center">&nbsp;</p>
            <p align="center"><img src="../img/DBF_019E11.PNG" width="500" height="240"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Detalle:</span></b> 
              si el usuario selecciona un registro e invoca la opci&oacute;n <em>Detalle</em>, 
              se despliega un formulario con la informaci&oacute;n completa del registro 
              y en el cual ninguno de sus campos es modificable.</p>
            <p align="center"><img src="../img/DBF_019E12.PNG" width="288" height="204"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_ETAPAS"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Etapas</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              si el usuario selecciona un tipo de solicitud e invoca el hiperv&iacute;nculo 
              <em>Etapas</em>, se despliega un nuevo formulario en el que se muestran las 
              etapas por las cuales la entidad haya definido que debe pasar cada tipo de 
              solicitud.</span></font></p>
            <p align="center"><img src="../img/DBF_019E13.PNG" width="311" height="223"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">El formulario contiene adem&aacute;s de las 
              opciones Eliminar y Adicionar, un hiperv&iacute;nculo a trav&eacute;s del 
              cual se asocian a cada etapa los <a href="DBH_019B1.html#BL_DOCUMENTOS" class="LINK2"><em>documentos</em></a> 
              exigibles al cliente.</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n <em>Adicionar</em>, se despliega un 
              wizard de dos pasos en el cual se ingresan las diferentes etapas asociadas 
              con el producto y tipo de solicitud y se les asigna el orden secuencial en 
              el cual se deben avanzar.</p>
            <p align="center"><img src="../img/DBF_019E14.PNG" width="361" height="84"></p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Descripci&oacute;n 
                      etapa </span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      obligatorio con lista de valores que permite seleccionar la <em><a href="DBH_019B.html" class="LINK2">etapa</a> 
                      </em>que se desea asociar al tipo de solicitud.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Orden</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo num&eacute;rico de hasta 2 d&iacute;gitos, obligatorio, 
                      se registra el orden en el que debe ir la etapa que se est&aacute; 
                      asociando al tipo de solicitud.</p></td>
                </tr>
              </table>
            </div>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO">Despu&eacute;s de haber ingresado los datos 
              de cada etapa, mediante el segundo bot&oacute;n del wizard se van adicionando 
              una a una y luego al desplazarse a la segunda p&aacute;gina se muestra el 
              resumen de todas desplegando para cada una el c&oacute;digo de la etapa, la 
              descripci&oacute;n y el orden. El formulario cuenta con un check que permite 
              marcar aquellas etapas que no se desea adicionar.</p>
            <p align="center" class="PARRAFO">Es importante para el usuario tener en cuenta, 
              que en este proceso inicial de adici&oacute;n el sistema requiere que las 
              etapas sean ingresadas de manera que tengan un orden estrictamente secuencial, 
              puesto que de lo contrario no se permitir&aacute; guardar los registros en 
              la base de datos.</p>
            <p align="center"><img src="../img/DBF_019E15.PNG" width="739" height="150"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_DOCUMENTOS"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Documentos</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              si el usuario selecciona una etapa definida para un tipo de solicitud e invoca 
              el hiperv&iacute;nculo <em>Documentos</em>, se despliega un nuevo formulario 
              en el que se muestran los documentos que la entidad solicita al cliente para 
              poder procesar su solicitud.</span></font></p>
            <p align="center"><img src="../img/DBF_019E16.PNG" width="769" height="185"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar, Adicionar y Detalle.</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n <em>Adicionar</em>, se despliega un 
              nuevo formulario con los siguientes campos.</p>
            <p align="center"><img src="../img/DBF_019E17.PNG" width="528" height="307"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Documento</span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      obligatorio con lista de valores que permite seleccionar el <em><a href="DBH_019B.html#BL_DOCUMENTOS" class="LINK2">documento 
                      </a> </em>que se desea exigir al cliente en la etapa actual.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Natural 
                      empleado / Natural independiente / Natural sin ingresos / Representante 
                      legal / Funcionarios / Empresa</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo tipo combo se selecciona para cada una de las personas 
                      entre <em>Opcional y <em>No aplica</em> para indicar 
                      si el documento debe ser entregado como requisito para el procesamiento 
                      de la solicitud, queda a decisi&oacute;n de la entidad o si dicho 
                      documento no tiene ninguna implicaci&oacute;n para el tipo de solicitud.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Observaciones</span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      alfanum&eacute;rico que permite registrar informaci&oacute;n adicional 
                      o aclaratoria en relaci&oacute;n con cada uno de los documentos exigidos.</p></td>
                </tr>
              </table>
            </div>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar:</span></b> 
              si el usuario selecciona un registro e invoca la opci&oacute;n <em>Actualizar</em>, 
              se despliega un formulario en el cual el &uacute;nico campo NO modificable 
              es <em>Documento</em>.</p>
            <p align="center"><img src="../img/DBF_019E18.PNG" width="532" height="301"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Detalle:</span></b> 
              si el usuario selecciona un registro e invoca la opci&oacute;n <em>Detalle</em>, 
              se despliega un formulario con la informaci&oacute;n completa del registro 
              y en el cual ninguno de sus campos es modificable.</p>
            <p align="center"><img src="../img/DBF_019E19.PNG" width="361" height="280"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_COPIAR"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Copiar 
              par&aacute;metros</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              si el usuario selecciona un tipo de solicitud e invoca el hiperv&iacute;nculo 
              Copiar par&aacute;metros, se despliega un nuevo formulario que le permite 
              replicar los par&aacute;metros del producto actual a otro producto diferente, 
              agilizando el proceso de parametrizaci&oacute;n.</span></font></p>
            <p align="center"><img src="../img/DBF_019E20.PNG" width="460" height="73"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr #'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Producto 
                      origen </span></b></p></td>
                  <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      de salida que muestra el producto actual seleccionado por el usuario 
                      y que contiene los par&aacute;metros que se desea copiar o replicar.</p></td>
                </tr>
                <tr #'mso-yfti-irow:1'> 
                  <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Producto 
                      destino </span></b></p></td>
                  <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo obligatorio con lista de valores, se selecciona el <a href="DBH_018B.html" class="LINK2"><em>producto 
                      d&eacute;bito</em></a> para el cual se desea copiar o replicar los 
                      par&aacute;metros actuales del producto de origen.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <div align="center">
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>