<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
  
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Ingreso de solicitudes nuevo d&eacute;bito</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Mediante esta opci&oacute;n se ingresan 
              en el sistema las solicitudes de nuevo d&eacute;bito.</span></p>
            <p align="justify" class="PARRAFO">Al ingresar a la opci&oacute;n se despliega 
              un formulario inicial en el cual se solicita al usuario digitar los datos 
              de identificaci&oacute;n del cliente para quien se desea ingresar la solicitud.</p>
            <p align="center"><img src="../img/DBF_032E.PNG" width="355" height="75"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Tipo 
                      identificaci&oacute;n </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      tipo combo en el cual se puede seleccionar el <a href="NUH_008B.html" class="LINK2"><em>tipo 
                      de documento</em></a> de identificaci&oacute;n asociado con el cliente 
                      a quien se desea ingresar la solicitud.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>N&uacute;mero 
                      identificaci&oacute;n </span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo alfanum&eacute;rico de hasta 16 caracteres, obligatorio, 
                      se registra el n&uacute;mero de identificaci&oacute;n del cliente.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">Una vez ingresada la informaci&oacute;n se 
              despliega un nuevo formulario que contiene la informaci&oacute;n de todas 
              las solicitudes de nuevo d&eacute;bito que tenga el cliente. Si no existen 
              solicitudes a mostrar el formulario se despliega en blanco.</p>
            <p align="center"><img src="../img/DBF_032E1.PNG" width="670" height="178"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO">El formulario contiene el hiperv&iacute;nculo 
              <a href="DBH_032B.html#BL_ETAPAS" class="LINK2"> <em>Consultar etapas</em></a>, 
              que permite ver el hist&oacute;rico de las etapas por las que ha pasado la 
              solicitud. Adicionalmente contiene las opciones Actualizar, Eliminar, Adicionar 
              y Detalle.</p>
            <p align="center" class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> 
              si el usuario invoca la opci&oacute;n <em>Adicionar</em>, se despliega un 
              nuevo formulario con un &uacute;nico campo que contiene una lista de valores 
              en donde se selecciona el <a href="DBH_018B.html" class="LINK2"><em>producto 
              d&eacute;bito</em></a> solicitado por el cliente.</p>
            <p align="center"><img src="../img/DBF_032E2.PNG" width="435" height="47"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO">Una vez hechas las validaciones respectivas, 
              el sistema despliega un wizard de dos pasos en el que se registran los datos 
              requeridos para el ingreso de la solicitud.</p>
            <p align="center"><img src="../img/DBF_032E3.PNG" width="678" height="408"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style"font-family: Arial">Bin 
                      / Producto</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      de salida que muestra el bin, producto, grupo de afinidad y descripci&oacute;n 
                      del <a href="DBH_018B.html" class="LINK2"><em>producto d&eacute;bito</em></a> 
                      solicitado por el cliente.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Emite 
                      pl&aacute;stico </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este campo es solo de salida y muestra por defecto la
          opcion siempre en <em>Si</em>.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Nombre 
                      realce </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      de salida que despliega el nombre del cliente y que va a ser impreso 
                      o realzado en la tarjeta.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Ciclo 
                      de facturaci&oacute;n</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo de salida se muestra el ciclo de facturaci&oacute;n al 
                      que pertenece la tarjeta y que ser&aacute; la base para determinar 
                      las fechas para el cobro de los costos generados por cuota de manejo.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Uso 
                      tarjeta </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este campo toma el valor '<em>Normal</em>' 
                      para se&ntilde;alar que la tarjeta no tiene restricciones para su 
                      uso. </p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Sucursal</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo obligatorio y que contiene lista de valores, se selecciona 
                      la <em><a href="NUH_020B.html" class="LINK2">sucursal</a> </em>de 
                      radicaci&oacute;n de la tarjeta d&eacute;bito.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Tipo 
                      de cuenta</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      obligatorio tipo combo en el que se selecciona entre <em>Ahorros, 
                      Corriente</em> o <em>Rotativo</em> el tipo de cuenta asociado a la 
                      tarjeta d&eacute;bito.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>N&uacute;mero 
                      de cuenta a debitar</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo obligatorio se registra el n&uacute;mero de cuenta asociado 
                      con la tarjeta d&eacute;bito.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Sucursal 
                      cuenta </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      en el que se digita el c&oacute;digo de la sucursal a la que pertenece 
                      la cuenta a asociar con la tarjeta.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Moneda</span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo obligatorio con lista de valores, se selecciona la moneda 
                      en la cual se encuentra denominada la cuenta asociada con la tarjeta 
                      d&eacute;bito. </p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">En la segunda p&aacute;gina del wizard, se 
              despliegan los diferentes documentos requeridos durante el ingreso de la solicitud 
              y el usuario puede marcar para cada tipo de persona si el documento fue entregado 
              o no.</p>
            <p align="center"><img src="../img/DBF_032E4.PNG" width="646" height="317"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar:</span></b> 
              si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar, 
              se invoca un nuevo formulario en el cual los &uacute;nicos campos modificables 
              son <em>Sucursal, Tipo cuenta, N&uacute;mero cuenta y Sucursal cuenta.</em></p>
            <p align="center"><img src="../img/DBF_032E5.PNG" width="708" height="383"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="PARRAFO">En la p&aacute;gina de documentos, el usuario 
              puede modificar para cada documento y para cada tipo de persona la indicaci&oacute;n 
              de <em>Si</em> o <em>No</em> el documento fue entregado.</p>
            <p align="center"><img src="../img/DBF_032E6.PNG" width="429" height="162"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Detalle:</span></b> 
              si el usuario selecciona un registro e invoca la opci&oacute;n <em>Detalle</em>, 
              se despliega un wizard de dos pasos con la informaci&oacute;n completa de 
              la solicitud y en el cual ninguno de sus campos es modificable<span style"font-family: Arial">.</span></p>
            <p align="center"><img src="../img/DBF_032E7.PNG" width="739" height="213"></p>
            <p align="center" class="TITLE"><img src="../img/DBF_032E8.PNG" width="751" height="302"></p>
            <p align="center" class="TITLE">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_ETAPAS"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'><b style'mso-bidi-font-weight:normal'>Consultar 
              etapas </b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'> 
              si el usuario selecciona una solicitud e invoca el hiperv&iacute;nculo <em>Consultar 
              etapas</em>, se despliega un nuevo formulario que le permite ver el detalle 
              de las diferentes etapas por las cuales ha avanzado la solicitud y el resultado 
              obtenido en cada una de ellas.</span></font></p>
            <p align="center" class="PARRAFO"><span style"font-family: Arial">El formulario 
              contiene el hiperv&iacute;nculo <em><a href="DBH_032B.html#BL_DOCUMENTOS" class="LINK2">Documentos 
              requeridos</a></em> que al ser invocado despliega otro formulario que le permite 
              ver al usuario cuales son los documentos que de acuerdo con lo parametrizados 
              para el tipo de solicitud y producto son requeridos en cada una de las etapas.</span></p>
            <p align="left"><img src="../img/DBF_032E9.PNG" width="744" height="119"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style"font-family: Arial">Etapa</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que muestra el c&oacute;digo y descripci&oacute;n de cada una de las 
                      etapas por las cuales ha avanzado la solicitud.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Forzada</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se indica si el avance de la solicitud en cada etapa fue 
                      resultado del proceso normal o si por el contrario la solicitud se 
                      avanz&oacute; de manera forzada pasando por alto las validaciones 
                      propias de la etapa.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                      hora inicio</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      que despliega la fecha y hora en la cual la solicitud arrib&oacute; 
                      a cada una de las etapas.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                      hora fin</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se muestra la fecha en la cual la solicitud fue avanzada 
                      a una etapa siguiente o termin&oacute; su tr&aacute;mite en cada una 
                      de las etapas.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Motivo 
                      negaci&oacute;n </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Si 
                      durante el avance de la solicitud en la etapa debido a las validaciones 
                      propias de la misma o a los filtros exitentes la solicitud fue negada, 
                      en este campo se muestra el motivo que justifica dicha negaci&oacute;n.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                      hora fin</span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se muestran los comentarios u observaciones adiconales 
                      que complementan la explicaci&oacute;n del motivo por el cual fue 
                      negada la solicitud.</p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><a name="BL_DOCUMENTOS"></a><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'><b style'mso-bidi-font-weight:normal'>Documentos 
              requeridos</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'> 
              si desde el hist&oacute;rico de etapas el usuario selecciona un registro e 
              invoca el hiperv&iacute;nculo <em>Documentos requeridos</em>, se despliega 
              un formulario en el que se relacionan los documentos que de acuerdo con los 
              par&aacute;metros de solicitud por producto son requeridos en la etapa y as&iacute; 
              mismo se indica para cada documento si este fue o no entregado por el cliente.</span></font></p>
            <p align="center"><img src="../img/DBF_032E10.PNG" width="745" height="260"></p>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <div align="center">
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>