<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Notas DB/CR a Establecimientos</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Mediante esta funci&oacute;n la entidad efect&uacute;a los 
              ajustes d&eacute;bito o cr&eacute;dito a los establecimientos producto de 
              soluci&oacute;n a movimientos pendientes de abono o cualquier otro evento 
              que requiera de un ajuste. El formulario cuenta con los siguientes campos:</p>
            <p align="center"><img src="../img/ESF_016B.PNG" width="388" height="403"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Fecha</b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Corresponde 
                    a la fecha del sistema en la cual se realiza el ajuste a la cuenta del 
                    establecimiento.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Establecimiento</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que provee de una lista de valores producto del <a href="ESH_008B.html">cargue</a> 
                    y actualizaci&oacute;n de establecimientos activos de la entidad, de 
                    la que se selecciona el c&oacute;digo del <a href="ESH_006B.html">establecimiento</a>, 
                    despleg&aacute;ndose la informaci&oacute;n b&aacute;sica del mismo.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    cuenta<b><span #'font-family:Arial'> </span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este 
                    campo provee una lista de valores correspondiente a los n&uacute;meros 
                    de cuenta asociados al establecimiento, producto del <a href="ESH_008B.html">cargue</a> 
                    y actualizaci&oacute;n de cuentas activas de los establecimientos afiliados 
                    al sistema.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    cuenta<b><span #'font-family:Arial'> </span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    de salida que ilustra la clase de cuenta, Ahorro o Corriente, correspondiente 
                    al n&uacute;mero de cuenta de dep&oacute;sitos a afectar.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Marca 
                    cuenta</b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    de salida que ilustra, si aplica, la franquicia asociada a la cuenta 
                    de dep&oacute;sitos, acorde con lo definido en la pantalla de <a href="ESH_006B.html">Informaci&oacute;n 
                    de establecimientos</a>.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Moneda 
                    cuenta</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    de salida que muestra la <a href="NUH_005B.html">moneda</a> en la cual 
                    est&aacute; expresada la cuenta del establecimiento, y sobre la que 
                    se realizar&aacute; el ajuste.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Contabilidad 
                    host</b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores adjunta de la que el usuario debe seleccionar 
                    entre Normal, Convenio o M.compartida el direccionamiento o enrutamiento 
                    que debe darle el host a estos comprobantes para generar la correspondiente 
                    contabilidad.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Concepto</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">De 
                    la lista de valores poblada en la opci&oacute;n <a href="ESH_015B.html">Conceptos 
                    contables para ND/NC</a> del presente m&oacute;dulo, se selecciona el 
                    tipo de afectaci&oacute;n que se realizar&aacute; a la cuenta de dep&oacute;sitos 
                    del establecimiento.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Tipo 
                    nota</b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Una 
                    vez seleccionado el concepto que afectar&aacute; la cuenta del establecimiento, 
                    este campo se alimenta con la informaci&oacute;n definida previamente 
                    en la opci&oacute;n conceptos contables para ND/NC del presente m&oacute;dulo.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Tipo 
                    operaci&oacute;n</b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Una 
                    vez seleccionado el concepto que afectar&aacute; la cuenta del establecimiento, 
                    este campo se alimenta con la informaci&oacute;n definida previamente 
                    en la opci&oacute;n conceptos contables para ND/NC del presente m&oacute;dulo.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor</p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    num&eacute;rico de 16 posiciones (14 enteros y dos decimales), obligatorio, 
                    en el cual se registra el monto que afectar&aacute; la cuenta del establecimiento.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>