<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Cadenas </p>
                  </div></td>
              </tr>
            </table>
            <p align="justify" class="PARRAFO">Mediante esta funci&oacute;n se permite la 
              consulta y el mantenimiento de una tabla que contiene la codificaci&oacute;n 
              de las distintas cadenas de comercios adscritos a las principales franquicias, 
              al igual que algunos datos sobre las mismas. </p>
            <p align="center"><img src="../img/ESF_005E.PNG" width="668" height="590"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar y Adicionar. </p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><b #'mso-bidi-font-weight:normal'><span #'font-family:Arial;
              '>Adicionar</span></b><span #'font-family:Arial'>:</span><span #'font-family:Arial'></span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> 
              Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario</span></font></p>
            <p align="center"><img src="../img/ESF_005E1.PNG" width="314" height="204"></p>
            <p align="center">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>C&oacute;digo</span></b></p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico de tres d&iacute;gitos, obligatorio, asignado a 
                    cada una de las cadenas de establecimientos establecidas por las marcas 
                    o franquicias. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'> 
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #'font-family:Arial'>Descripci&oacute;n</span></b></p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 30 posiciones, obligatorio, se registra 
                    el nombre asociado al c&oacute;digo de cada cadena. </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="206" height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Representante 
                    legal<br>
                    </b></p></td>
                <td width="509" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico de 30 posiciones, no obligatorio, en el cual se 
                    registra el nombre del representante legal de la cadena de establecimientos. 
                    <br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="206" height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Direcci&oacute;n 
                    <br>
                    </b></p></td>
                <td width="509" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 30 posiciones, no obligatorio, se 
                    registra la direcci&oacute;n de las oficinas centrales de la cadena 
                    de comercios.<br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'> 
                <td width="206" height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Tel&eacute;fono<br>
                    </b></p></td>
                <td width="509" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico de 20 posiciones, no obligatorio, en el cual se 
                    registran los n&uacute;meros telef&oacute;nicos correspondientes a las 
                    oficinas centrales de la cadena de comercios.<br>
                  </p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p><span class="PARRAFO"><b #'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar</span></b>: Si el usuario invoca la opci&oacute;n Actualizar 
                se despliega un nuevo formulario en el cual los &uacute;nicos campos modificables 
                son Representante legal, Direcci&oacute;n y Tel&eacute;fono<span
              #'font-family:Arial'>
                <o:p></o:p>
                </span></span></p>
            <p align="center"><img src="../img/ESF_005E2.PNG" width="314" height="183"></p>
            <p align="center">&nbsp;</p>
            <p class="PARRAFO"><strong><font style"#3A3A3A">Detalle</font></strong>: 
              Si el usuario invoca la opci&oacute;n Detalle se despliega un nuevo formulario 
              en el cual ninguno de los campos es editable</p>
            <p align="center"><img src="../img/ESF_005E3.PNG" width="274" height="101"></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>