<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Dep&oacute;sitos al cobro </p>
                    </div></td>
              </tr>
            </table>
            <p>A trav&eacute;s de esta forma o pantalla se   tramitan las transacciones de notas cr&eacute;dito que se han recibido a trav&eacute;s del canje nacional. Estos pagos corresponden a transacciones adquiridas en los establecimientos de la entidad que corresponden a tarjehabientes de otras entidades que habiendo agotado   infructuosamente el proceso de intercambio, o por haber excedido notoriamente   los diferentes plazos determinados por la franquicia, requieren iniciar un   proceso de negociaci&oacute;n o gesti&oacute;n entre las dos entidades involucradas, conocido   como efectos o comprobantes al cobro, o comprobantes de buena fe. </p>
            <p>El formulario contiene las opciones Adicionar, Detalle y el hiperv&iacute;culo de transacciones sociadas. Adicionalmente, cuenta con un filtro de b&uacute;squeda.</p>
            <p><img src="../img/INF_026E3.PNG" width="714" height="178"></p>
            <p>&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas a trav&eacute;s 
            de las siguientes opciones:</p>
            <p>&nbsp;</p>
            <p align="center"><img src="../img/ESF_024B2.PNG" width="672" height="106"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha de proceso  </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo obligatorio, en formato YYYY-MM-DD se   ingresa la fecha inicial  que delimita el periodo   para el cual se desea consultar el movimiento aplicado o pendiente.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Estado comprobante </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio,
                que muestra la condici&oacute;n en que se encuentra actualmente el comprobante : <em>Solucionado</em> o <em>Pendiente.</em></p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Numero de tarjeta </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este 
                campo permite ingresar cualquier valor alfanum&eacute;rico de 23 caracteres.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top class="SUBTITULO" #'padding:3.0pt 3.0pt 3.0pt 3.0pt'>Bin receptor </td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'>Campo 
                    alfanum&eacute;rico de ochos posiciones, en el cual 
                se registra el bin de donde proviene el dep&ograve;sito al cobro. </td>
              </tr>
            </table>
            <p align="left">&nbsp;</p>
            <p align="left"><span class="SUBTITULO">Adicionar:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'>:</span></font></p>
            <p align="left">&nbsp;</p>
            <p align="center"><img src="../img/INF_026.PNG" width="768" height="733"></p>
            <p align="center"><img src="../img/INF_026E1.PNG" width="766" height="220"></p>
            <p align="center" class="SUBTITULO">Deficici&oacute;n de Campos </p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                  contabilizaci&oacute;n</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio, que contiene 
                    la fecha en formato YYYY-MM-DD, en que se afect&oacute; contablemente 
                    los saldos del tarjetahabiente, usualmente es la misma fecha de proceso 
                  o canje.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                  canje </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                  en formato YYYY-MM-DD obligatorio, que muestra la fecha en que se efectu&oacute; 
                  el proceso del archivo en que viaj&oacute; la transacci&oacute;n enviada 
                  </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top class="SUBTITULO" #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>Origen transacci&oacute;n </td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>Canpo obligatorio con lista 
                    de valores que permite ingresar cualquier valor alfanum&eacute;rico 
                de m&aacute;ximo 6 caracteres.</td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top class="SUBTITULO" #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>Motivo devoluci&oacute;n </td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>Campo obligatorio con lista de valores que muestra diferentes motivos devoluci&oacute;n, seg&uacute;n la transacci&oacute;n original que se haya ingresado en el campo anterior.</td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top class="SUBTITULO" #'padding:3.0pt 3.0pt 3.0pt 3.0pt'>Bin receptor </td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'>Campo 
                  alfanum&eacute;rico obligatorio,de ochos posiciones, en el cual 
                  se registra el bin de donde proviene el dep&ograve;sito al cobro. </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="32" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                comprobante </p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Ilustra 
                  el n&uacute;mero del voucher asociado a la transacci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha comprobante </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que muestra 
                    la fecha f&iacute;sica del comprobante de consumo o utilizaci&oacute;n 
                en formato YYYY-MM-DD.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top class="SUBTITULO" #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>Establecimiento</td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo alfanum&eacute;rico de 11 d&iacute;gitos, obligatorio, en el que se   registra el c&oacute;digo &uacute;nico que identifica, ante la franquicia, al establecimiento   donde se realiza el consumo.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><span class="SUBTITULO">Fecha 
                consignaci&oacute;n</span></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>Contiene 
                  la fecha en formato YYYY-MM-DD en la cual el establecimiento efectu&oacute; 
                  la consignaci&oacute;n de los comprobantes o en la que ingres&oacute; 
                el dep&oacute;sito electr&oacute;nico asociado a la transacci&oacute;n.</td>
              </tr>
          
          
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Bin 
                  fuente </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                  que ilustra el prefijo o bin centro de proceso de la entidad a trav&eacute;s 
                  de la que ingresa la transacci&oacute;n.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                  captura </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo de salida en el que se se&ntilde;ala 
                  el nombre asociado al c&oacute;digo definido por la franquicia que identifica 
                  la manera como ingres&oacute;, por medio de su red, la transacci&oacute;n 
                  al sistema (POS, ATM&#8217;s, oficinas, etc.).</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="53" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Bin 
                  destino </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Se&ntilde;ala 
                  el prefijo o bin centro de proceso de la entidad emisora del pl&aacute;stico.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><span class="style1">N&ugrave;mero de cuenta </span></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify">Campo de salida que muestra  las cuentas que tiene el establecimiento en la entidad. </div></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="53" valign=top class="SUBTITULO" #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>Tipo comprobante </td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>Campo obigatorio con lista de valores en el que se puede seleccionar entre las opciones enviado o recibido. </td>
              </tr>
          
          
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Autorizaci&oacute;n</p></td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio en el que se ingresa el n&uacute;mero de la autorizaci&oacute;n asignado a la transacci&oacute;n 
                  por el procesador o la entidad.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="54" valign=top class="SUBTITULO" #'padding:3.0pt 3.0pt 3.0pt 3.0pt'>Tipo soluci&oacute;n. </td>
                <td valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'>Campo con lista de valores en el que se escoge la soluci&oacute;n dada por la entidad. </td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td width="201" height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor 
                compra </p></td>
                <td width="514" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                  el monto de la transacci&oacute;n de utilizaci&oacute;n o consumo sin 
                incluir el monto de la propina concedida por el tarjetahabiente.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td width="202" height="54" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor 
                propina </p></td>
                <td width="513" valign=top #'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Refleja 
                el monto de la propina otorgada por el cliente.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td width="47%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor 
                descuento </p></td>
                <td width="53%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"> Contiene 
                  el valor deducido al establecimiento al liquidarle la comisi&oacute;n 
                o descuento sobre el valor del consumo realizado por el cliente.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Valor 
                  intercambio </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                  el valor neto de la transacci&oacute;n, esto es, valor del consumo o 
                  utilizaci&oacute;n m&aacute;s valor propina, m&aacute;s valor IVA menos 
                  valor descuento.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Porcentaje 
                  descuento </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Rese&ntilde;a 
                  el valor del porcentaje aplicado a la compra o consumo fraudulento realizados 
                  en ese establecimiento a manera de comisi&oacute;n o descuento.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="left" class="SUBTITULO"><span class="style2">Transacciones asociadas:</span> <span class="PARRAFO">En este formulario se parametrizan las transacciones segun el rol que se est&eacute; manejando por ejemplo: si la tarjeta y  el establecimiento </span> <span class="PARRAFO">son de entidad, se asocian a la trx 000043 y si el establecimiento no es de la entidad. se asocia la transacci&oacute;n 00044 (original) que es una nora cr&eacute;dito de intercambio </span>.</p>
            <p align="left" class="SUBTTLO2"><img src="../img/INF_026E2.PNG" width="714" height="175" class="PARRAFO"></p>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <p><span class="SUBTTLO2">Detalle:</span> Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente formulario: <span
              #'font-family:Arial'>
              <o:p></o:p>
            </span></p>
            <p align="center"><img src="../img/ESF_024B5.PNG" width="653" height="484"></p>
            <p align="center">&nbsp;</p>
            <p align="justify">Dentro del detalle se encuentra el globo de localizaci&oacute;n el cual despliega el siguiente formulario</p>
            <p align="center"><img src="../img/ESF_024B6.PNG" width="285" height="53"></p>
            <p align="center">&nbsp;</p>
            <p align="left"><span class="SUBTTLO2">Opciones especiales</span></p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="49" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="center" class="SUBTITULO"><b><img src="../img/INF_026E4 APLICA MOV.PNG" width="40" height="41"></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><em>Aplicar 
                  movimiento:</em> Una vez  seleccionado el registro es posible aplicar el movimiento. </p></td>
              </tr>
            </table>
            <p align="left">&nbsp;</p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>