<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" >
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE style6"><strong>Funcionarios por zonas </strong></p>
                    </div></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
            <p>Mediante este formulario se determina la zona correspondiente por cada regi&oacute;n, para las visitas de cada uno de los Agentes, especificando si est&aacute; activo o no y la fecha de asignaci&oacute;n.</p>
            <p>El formulario contiene las opciones Actualizar, Eliminar, 
            Adicionar y Detalle. Adicionalmente, cuenta con un filtro de b&uacute;squeda.</p>
            <p align="center"><img src="../img/INF_018f1.PNG" width="750" height="459"></p>
            <p align="center">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Filtro:</span> Se pueden realizar consultas a trav&eacute;s 
            de las siguientes opciones:</p>
            <blockquote>
              <p align="center" class="center"><img src="../img/INF_018f.PNG" width="376" height="155"></p>
            </blockquote>
            <p align="center" class="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial"><span class="style1">Regi&oacute;n</span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Lista de valores que permite seleccionar una de las regiones parametrizadas en la opci&oacute;n Zonas geogr&aacute;ficas.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial"><span class="style1">Agente</span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Lista de valores que permite filtrar a trav&eacute;s de los agentes parametrizados en la opci&oacute;n Funcionarios.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial"><span class="style1">Fecha de asignaci&oacute;n </span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Campo con formato YYYY-MM-DD, que permite filtrar a trav&eacute;s de la fecha en la cual fue asignada la visita al establecimiento.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Adicionar</b>:</span><span #'font-family:Arial'></span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario.</span></font></p>
            <p align="center"><img src="../img/INF_018f2.PNG" width="577" height="269"></p>
            <p align="center" class="TITLE">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 #'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial"><span class="style1">Regi&oacute;n</span></span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Lista de valores que permite seleccionar una de las regiones parametrizadas en la opci&oacute;n Zonas geogr&aacute;ficas.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial">Sub divisi&oacute;n </span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Lista de valores que permite filtrar a trav&eacute;s de los agentes parametrizados en la opci&oacute;n Funcionarios.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span #"font-family:Arial">Ubicaci&oacute;n</span></b></p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Campo de refresco autom&aacute;tico que muestra el lugar al que corresponde la Sub divisi&oacute;n de la Regi&oacute;n seleccionada. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td width="28%" height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">C&oacute;digo de zona </p></td>
                <td width="72%" valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Lista de valores que muestra las zonas correspondientes a la Ubicaci&oacute;n seleccionada.</p>      </td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Agente</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Esta lista de valores muestra todos aquellos que han sido parametrizados en la opci&oacute;n Funcionarios del N&uacute;cleo. </p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha de asignaci&oacute;n </p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Campo con formato YYYY-MM-DD, que permite filtrar a trav&eacute;s de la fecha en la cual fue asignada la visita al establecimiento.</p></td>
              </tr>
              <tr #'mso-yfti-irow:1'>
                <td height="57" valign=top #'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Estado</p></td>
                <td valign=top #'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify">Lista de valores que permite seleccionar entre las opciones <em>Inactivo</em> o <em>Activo</em>. </p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <span class="PARRAFO"><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Actualizar</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
            en el cual </span></font><span #'font-family:Arial'>los </span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> &uacute;nicos campos </span></font></span><span class="style7"><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'>modificables</span></font></span> <span #'font-family:Arial'>son:</span> Fecha de asignaci&oacute;n y Estado.
            <p align="center"><img src="../img/INF_018f3.PNG" width="581" height="271"></p>
            <p align="center">&nbsp;</p>
            <p align="left"><span class="SUBTTLO2"><span #'font-family:Arial'><b #'mso-bidi-font-weight:normal'>Detalle</b></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span #'font-family:Arial'> El sistema muestra el siguiente formu</span></font><span #'font-family:Arial'>lario:</span></p>
            <p align="center"><img src="../img/INF_018f4.PNG" width="731" height="144"></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>