<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Definici&oacute;n de convenios</p>
                    </div></td>
              </tr>
            </table>
            <p>A trav&eacute;s de esta pantalla se permite la   consulta y/o mantenimiento de los diferentes convenios celebrados entre la   entidad y una empresa, o entre la entidad y los comercios o establecimientos, o   con los Grupos de afinidad.&nbsp; Esta   funcionalidad permite definir metas de ventas a los establecimientos que hagan   parte de los <em><A href="MEH_009B5.html" class="LINK2">Grupos establecimientos</A></em> y los   beneficios tanto para &eacute;stos como para los tarjetahabientes que realicen consumos   en esos comercios de acuerdo con lo parametrizado. Los convenios se relacionan tanto con un <em><A href="MEH_006B.html" class="LINK2">Esquema de puntaje</A></em> como con los <em><A href="MEH_002B.html" class="LINK2">productos</A></em> de la entidad.</p>
            <p>El formulario contiene las opciones Actualizar, Eliminar, 
            Adicionar, Detalle, y un filtro de b&uacute;squeda. Adicionalmente, muestra otras opciones que dependen del <em>Tipo de convenio</em> del registro seleccionado. Para los <a href="MEH_009B1.html" class="LINK2">Convenios tipo Empresa</em></a>, se mostrar&aacute;n las opciones <a href="MEH_009B3.html" class="LINK2">Agentes</a> y <a href="MEH_009B4.html" class="LINK2">Establecimientos</a>. Mientras que para los <a href="MEH_009B2.html" class="LINK2">Convenios tipo <em>Establecimiento</em></a> se muestran las opciones <a href="MEH_009B5.html" class="LINK2">Grupos establecimientos</a>, <a href="MEH_009B6.html" class="LINK2">Establecimientos</a>, <a href="MEH_009B7.html" class="LINK2">Tipo de servicio</a>, y <a href="MEH_009B8.html" class="LINK2">Abonos</a>.</p>
            <p align="center"><img src="../img/MEF_009E.PNG" width="666" height="461"></p>
            <p align="center">&nbsp;</p>
            <p><span class="SUBTTLO2">Filtro:</span> Se pueden realizar consultas a trav&eacute;s 
              de las siguientes opciones: </p>
            <p align="center"><img src="../img/MEF_009E1.PNG" width="340" height="114"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'><span class="#1">Convenio</span></span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Lista de valores que permite filtrar por el Convenio que el usuario desee. Muestra todos aquellos que han sido grabados en esta misma opci&oacute;n. </p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'><span class="#1">Tipo convenio </span></span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Lista de valores tipo combo que permite filtrar entre las dos opciones de tipos de convenios: <em>Empresa</em> y <em>Establecimiento</em>. </p></td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un primer formulario con el siguiente campo<span class="#1">, en el cual el usuario determinar&aacute; si el nuevo Convenio es de tipo <em>Empresa</em> o <em>Establecimiento</em>. </span></p>
            <p align="center"><img src="../img/MEF_009E2.PNG" width="219" height="55"></p>
            <p align="center">&nbsp;</p>
            <p align="left">De acuerdo a la opci&oacute;n seleccionada en esta lista de valores, el sistema despliega un wizard diferente.</p>
            <p align="center">&nbsp;</p>
            <p align="center"><a href="MEH_009B1.html">Convenio tipo empresa</a><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="MEH_009B2.html">Convenio tipo establecimiento</a></p>
            <p align="center">&nbsp;</p>
    </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>