<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Definici&ograve;n de productos - Otros cargos</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify" class="PARRAFO">&nbsp;</p>
            <p align="justify" class="PARRAFO">Esta opci&oacute;n que se invoca desde el formulario <em><a href="MEH_002B.html" class="LINK2">Definici&oacute;n de productos</a></em>, le permite a la entidad adicionar o modificar la informaci&oacute;n correspondiente a los cobros que se le deben hacer a un cliente por concepto de la atenci&oacute;n de los reclamos y/o novedades presentadas sobre las tarjetas pertenecientes al producto.</p>
            <p align="justify" class="PARRAFO">El formulario se encuentra dividido en dos bloques: <em><a href="MEH_002B2.html#BL_RECLAMOS" class="LINK2">reclamos</a></em> y <em><a href="MEH_002B2.html#BL_NOVEDADES" class="LINK2">novedades</a></em></p>
            <p align="center" class=""><img src="../img/MEF_002E24.PNG" width="610" height="271"></p>
            <p class="PARRAFO">&nbsp;</p>
            <div align="center" class="PARRAFO">
              <p><span class="SUBTTLO2"><span class="Estilo1">Reclamos</span><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'> en este primer bloque se registra la informaci&oacute;n de los cargos que por concepto de los reclamos efectuados por el cliente, y correspondientes a tarjetas pertenecientes al producto, </font>se le debe cobrar en caso que la entidad as&iacute; lo decida. </p>
            </div>
            <p align="justify" class="PARRAFO"><span class="SUBTTLO2"><span class="Estilo1">Nota importante</span><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>lo que se parametrice en esta opci&oacute;n </font>solo tiene aplicabilidad si la entidad maneja sus reclamos a trav&eacute;s del servicio de Reclamos provisto por <span class="#3"><span style"font-family:Arial;#:#006666">BANKBU<sup>&reg;</sup></span></span>. En caso contrario, no tendr&aacute; ning&uacute;n efecto y no generar&aacute;  cobros al cliente por los conceptos aqu&iacute; definidos. </p>
            <p align="justify" class="PARRAFO">El formulario<em> </em>contiene las opciones Actualizar, Eliminar y Adicionar.</p>
            <p align="center" class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario con los siguientes campos.</p>
            <p align="center"><img src="../img/MEF_002E25.PNG" width="375" height="121"></p>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <div align="center" class="PARRAFO">
              <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Reclamo<br>
                      </b></p></td>
                  <td width="514" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      obligatorio con lista de valores de la cual se puede seleccionar el reclamo por el cual la entidad va a generar alg&uacute;n cobro al cliente en caso que este llegare a darse.<br>
                    </p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Transacci&oacute;n cargo<br>
                      <br>
                      <br>
                      </b></p></td>
                  <td width="514" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                  campo obligatorio contiene lista de valores de la cual se selecciona la <em><a href="MEH_003B.html" class="LINK2">transacci&oacute;n interna</a></em> mediante la cual se va a cargar el cobro generado al cliente a causa del reclamo presentado.</p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Valor cargo<br>
                      <br>
                      <br>
                      </b></p></td>
                  <td width="514" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo obligatorio de 14 enteros y 2 decimales en el que se registra el monto que la entidad va a cobrar al cliente por el reclamo presentado.</p></td>
                </tr>
              </table>
              <p align="left" class="PARRAFO">    
              <p><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar:</span></b> si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar, se despliega un formulario en el cual los &uacute;nicos campos modificables son Transacci&oacute;n cargo y Valor cargo.</p>
              <p align="center"><img src="../img/MEF_002E26.PNG" width="375" height="114"></p>
              <p align="left" class="PARRAFO">    
              <div align="center" class="PARRAFO">
              <p><span class="PARRAFO"><a name="BL_NOVEDADES"><span class="SUBTTLO2"><span class="Estilo1">Novedades</span><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></span><span class="#4"><font face="Arial, Helvetica, sans-serif"> </font></span><font face="Arial, Helvetica, sans-serif">en este segundo bloque se registra la informaci&oacute;n de los cargos que por concepto de las <em><a href="NUH_017B.html" class="LINK2">novedades</a></em> solicitadas por el cliente sobre  tarjetas pertenecientes al producto, </font>se le debe cobrar en caso que la entidad as&iacute; lo decida.</p>
              </div>
              <p align="justify" class="PARRAFO">El formulario<em> </em>contiene las opciones Actualizar, Eliminar y Adicionar.</p>
              <p align="center" class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Adicionar:</span></b> si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario con los siguientes campos.</p>
              <p align="center"><img src="../img/MEF_002E27.PNG" width="375" height="120"></p>
              <p align="left" class="PARRAFO">&nbsp;</p>
              <div align="center" class="PARRAFO">
                <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'>
                    <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Novedad<br>
                    </b></p></td>
                    <td width="514" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      obligatorio con lista de valores de la cual se puede seleccionar la <em><a href="NUH_017B.html" class="LINK2">novedad administrativa</a></em> por la cual la entidad va a generar alg&uacute;n cobro al cliente en caso que esta llegare a darse.<br>
                    </p></td>
                  </tr>
                </table>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'>
                    <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Transacci&oacute;n cargo<br>
                              <br>
                              <br>
                    </b></p></td>
                    <td width="514" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                      campo obligatorio contiene lista de valores de la cual se selecciona la <em><a href="MEH_003B.html" class="LINK2">transacci&oacute;n interna</a></em> mediante la cual se va a cargar el cobro generado al cliente a causa de la novedad aplicada a la tarjeta.</p></td>
                  </tr>
                </table>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'>
                    <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Valor cargo<br>
                              <br>
                              <br>
                    </b></p></td>
                    <td width="514" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo obligatorio de 14 enteros y 2 decimales en el que se registra el monto que la entidad va a cobrar al cliente por la novedad aplicada.</p></td>
                  </tr>
                </table>
                <p align="left" class="PARRAFO">
                <p><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar:</span></b> si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar, se despliega un formulario en el cual los &uacute;nicos campos modificables son Transacci&oacute;n cargo y Valor cargo.</p>
                <p align="center"><img src="../img/MEF_002E28.PNG" width="369" height="116"></p>
              </div>
              <p align="left" class="PARRAFO">
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>