<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.CSS">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
      <ul>
          <li>
              <a href="../index.html" class="main-option">INICIO</a>
          </li>
          <li><a href="#" class="main-option">NUCLEO</a>
              <ul>
                  <li><a href="NUH_000B.html">Config. Sistema</a></li>
                  <li><a href="NUH_00B_N2.html">Parametros</a></li>
                  <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                  <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                  <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                  <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                  <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                  <li><a href="NUH_00B_migra.html">Migracion</a></li>
              </ul>
          </li>
          <li>
              <a href="#" class="main-option">EMISOR</a>
              <ul>
                  <li><a href="EMH_000B.html">Productos</a></li>
                  <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                  <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                  <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                  <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                  <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                  <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                  <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                  <li><a href="EMH_000Brecla.html">Reclamos</a></li>
              </ul>
          </li>
          <li>
              <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
          </li>
          <li>
              <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
          </li>
      </ul>
  </nav>

    <section>
        <center>
            <div class="#1" id="Layer2" > 
                <table width="100%" border="0">
                  <tr> 
                    <td width="57%"><div align="right"> 
                        <h3 align="center" class="TITLE #2">Calificaciones</h3>
                    </div></td>
                  </tr>
                </table>
                <p align="justify" class="PARRAFO">Mediante esta opci&oacute;n el sistema permite 
                  la parametrizaci&oacute;n de las calificaciones de cartera, as&iacute; como 
                  precisar los valores de provisi&oacute;n sobre capital, intereses y otros 
                  conceptos determinados por las entidades estatales de control o quien haga 
                  sus veces; de igual manera posibilita la desagregaci&oacute;n que cada entidad 
                  desee utilizar para el manejo de sus obligaciones de tarjeta de cr&eacute;dito 
                  o cualesquiera otro sistema de cr&eacute;dito rotativo, e incluso parametrizar 
                  la codificaci&oacute;n asociada en la homologaci&oacute;n de los diferentes 
                  productos que un mismo cliente posea en la entidad. </p>
                <p align="justify" class="PARRAFO"><strong><span class="SUBTTLO2"><b style'mso-bidi-font-weight:normal'>Calificaciones 
                  externas</b></span></strong>: al ingresar al formulario, este 
                  por defecto se despliega en calificaciones <em>externas</em> en donde se pueden 
                  definir las diferentes alturas o categor&iacute;as de madurez de la cartera 
                  acorde con las normas establecidas por los respectivos entes de control.</p>
                <p align="center"><img src="../img/NUF_066E.PNG" width="604" height="315"></p>
                <p align="center">&nbsp;</p>
                <p align="left" class="PARRAFO">El formulario contiene las opciones Actualizar, 
                  Eliminar y Adicionar. De igual manera contiene los hiperv&iacute;nculos <a href="NUH_066B.html#BL_INTERNAS" class="LINK2"><em>Internas</em></a>, 
                  <a href="NUH_066B.html#BL_SISTEMA" class="LINK2"> <em>Sistema</em></a>, <a href="NUH_066B.html#BL_CARTERA" class="LINK2"><em>Cartera</em></a> 
                  y <a href="NUH_066B.html#BL_MODALIDAD" class="LINK2"><em>Modalidad</em></a> 
                  que le permiten al usuario invocar los formularios desde los cuales la entidad 
                  puede parametrizar cada uno de estos tipos de calificaci&oacute;n.</p>
                <p align="left" class="PARRAFO"><span class="SUBTTLO2"><b class="#1" style'mso-bidi-font-weight:normal'>Adicionar</b>:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario</p>
                <p align="center"><img src="../img/NUF_066E1.PNG" width="282" height="75"></p>
                <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'> 
                    <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>C&oacute;digo</b></p></td>
                    <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                        alfanum&eacute;rico de dos posiciones, obligatorio, en el cual se registra 
                        el n&uacute;mero, letra o combinaci&oacute;n de ambos que identifica 
                        a cada categor&iacute;a o nivel de altura en que se clasifica la cartera.</p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'> 
                    <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Descripci&oacute;n</b></p></td>
                    <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                        este campo alfanum&eacute;rico de 30 posiciones, obligatorio, se ingresa 
                        el nombre o concepto asociado a cada uno de los c&oacute;digos.<br>
                      </p></td>
                  </tr>
                </table>
                <p>&nbsp;</p>
                <div align="center">
                  <p class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2"> 
                    Actualizar</span></b>: Si el usuario selecciona un registro e invoca la 
                    opci&oacute;n Actualizar se despliega un formulario en el cual el &uacute;nico 
                    campo modificable es la Descripci&oacute;n.<br>
                  </p>
                  <p><img src="../img/NUF_066E2.PNG" width="285" height="75"></p>
                  <p>&nbsp;</p>
                  <p class="PARRAFO"><a name="BL_INTERNAS"><strong><font style"#292929"><b style'mso-bidi-font-weight:normal'>Calificaciones 
                    internas</b></font></strong>: cuando el usuario selecciona un registro 
                    correspondiente a una calificaci&oacute;n externa y utiliza el hiperv&iacute;nculo 
                    Internas, desde este formulario la entidad puede definir y asociarle su 
                    propia calificaci&oacute;n con el fin de homologar la calificaci&oacute;n 
                    dada a los restantes productos o diferentes a tarjeta de cr&eacute;dito 
                    aprobados a cada cliente.</p>
                  <p align="center"><img src="../img/NUF_066E3.PNG" width="542" height="140"></p>
                  <p align="left" class="PARRAFO">El formulario contiene las opciones Actualizar, 
                    Eliminar y Adicionar</p>
                  <p align="left" class="PARRAFO"><span class="SUBTTLO2"><b style'mso-bidi-font-weight:normal'>Adicionar</b>:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario</p>
                  <p align="center"><img src="../img/NUF_066E4.PNG" width="282" height="75"></p>
                  <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>C&oacute;digo</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                          alfanum&eacute;rico de dos posiciones, obligatorio, en el cual se 
                          registra el n&uacute;mero, letra o combinaci&oacute;n de ambos que 
                          identifica a cada categor&iacute;a o nivel de altura en que se clasifica 
                          la cartera de manera gen&eacute;rica o est&aacute;ndar dentro de la 
                          entidad.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Descripci&oacute;n</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                          este campo alfanum&eacute;rico de 30 posiciones, obligatorio, se digita 
                          el nombre o concepto asociado a cada uno de los c&oacute;digos.</p></td>
                    </tr>
                  </table>
                  <p class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar</span></b>: 
                    Si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
                    se despliega un formulario en el cual el &uacute;nico campo modificable 
                    es la Descripci&oacute;n.<br>
                  </p>
                  <p><img src="../img/NUF_066E5.PNG" width="283" height="79"></p>
                  <p>&nbsp;</p>
                  <p align="left" class="PARRAFO"><a name="BL_SISTEMA"><strong><font style"#292929"><b style'mso-bidi-font-weight:normal'>Calificaciones 
                    sistema</b></font></strong>: Si la entidad requiere una segmentaci&oacute;n 
                    m&aacute;s amplia, este formulario le permite asociar a cada una de las 
                    alturas o calificaciones externas definidas previamente, uno o varios niveles 
                    de partici&oacute;n dependiendo del rango de periodos de mora, el monto 
                    del capital en mora y la modalidad de cr&eacute;dito. Es importante tener 
                    en cuenta que dichos rangos de periodos en mora son absolutamente excluyentes 
                    dentro y entre las diferentes alturas. El sistema permite crear o definir 
                    segmentos dentro de la misma calificaci&oacute;n externa, semejantes en 
                    su rango de altura de mora en periodos pero aplicando para rangos de montos 
                    de capital en mora diferentes y modalidades de cr&eacute;dito distintas 
                    con lo cual la entidad puede priorizar sus calificaciones con base en la 
                    altura de mora, el monto del capital en mora y la modalidad de cr&eacute;dito 
                    correspondiente.</p>
                  <p align="center"><img src="../img/NUF_066E6.PNG" width="604" height="214"></p>
                  <p class="PARRAFO">&nbsp;</p>
                  <p align="left" class="PARRAFO">El formulario contiene las opciones Actualizar, 
                    Eliminar y Adicionar</p>
                  <p align="left" class="PARRAFO"><span class="SUBTTLO2"><b style'mso-bidi-font-weight:normal'>Adicionar</b>:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario</p>
                  <p align="center"><img src="../img/NUF_066E7.PNG" width="314" height="244"></p>
                  <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>C&oacute;digo</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                          alfanum&eacute;rico de dos posiciones, obligatorio, en el cual se 
                          registra el n&uacute;mero, letra o combinaci&oacute;n de ambos que 
                          identifica a cada categor&iacute;a o nivel de altura en que se clasifica 
                          la cartera.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Descripci&oacute;n</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                          este campo alfanum&eacute;rico de 30 posiciones, obligatorio, se digita 
                          el nombre o concepto asociado a cada uno de los c&oacute;digos.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Modalidad 
                          cr&eacute;dito </b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                          tipo combo del cual debe seleccionarse entre <em>Consumo, Comercial</em> 
                          o <em>Microcr&eacute;dito</em>, la categor&iacute;a o modalidad de 
                          cr&eacute;dito asociada a la calificaci&oacute;n parametrizada.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>P.I.M 
                          (periodo inicial mora)</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                          este campo num&eacute;rico de 4 d&iacute;gitos, obligatorio, se registra 
                          el n&uacute;mero m&iacute;nimo de periodos en mora a partir de los 
                          cuales se define el nivel o categor&iacute;a.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>P.F.M 
                          (periodo final mora)</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                          num&eacute;rico de 4 d&iacute;gitos, obligatorio, en el que se registra 
                          el n&uacute;mero m&aacute;ximo de periodos en mora hasta el cual se 
                          define el nivel o categor&iacute;a.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Monto 
                          inicial </b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                          este campo num&eacute;rico con capacidad para cifras de hasta 14 enteros 
                          y 2 decimales, obligatorio, se registra el valor m&iacute;nimo del 
                          capital en mora a partir del cual se define el nivel o categor&iacute;a.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Monto 
                          final </b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                          num&eacute;rico con capacidad para cifras de hasta 14 enteros y 2 
                          decimales, obligatorio, en el cual se registra el valor m&aacute;ximo 
                          del capital en mora hasta el cual se define el nivel o categor&iacute;a.</p></td>
                    </tr>
                  </table>
                  <p align="left">&nbsp;</p>
                  <p class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar</span></b>: 
                    Si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
                    se despliega un formulario en el cual los campos modificables son la Descripci&oacute;n, 
                    PIM, PFM, Monto inicial y Monto final.<br>
                  </p>
                  <p><img src="../img/NUF_066E8.PNG" width="315" height="244"></p>
                  <p>&nbsp;</p>
                  <p class="PARRAFO"><a name="BL_CARTERA"><strong style="color: #341C8C;"><font style"#292929"><b style'mso-bidi-font-weight:normal'>Calificaciones 
                    cartera</b></font></strong>: en este formulario se parametrizan y 
                    asocian a cada una de las diferentes alturas o categor&iacute;as de madurez 
                    de la cartera, las provisiones determinadas por la legislaci&oacute;n vigente 
                    a aplicar sobre el capital, intereses y otros conceptos. Estos par&aacute;metros 
                    aplican cuando se ha definido el manejo de provisiones por tipo de cartera, 
                    en la opci&oacute;n <span class="LINK2"><em><a href="CTH_001B.html" class="LINK2">Par&aacute;metros 
                    contables</a></em><a href="CTH_001B.html">.</a></span></p>
                  <p align="center"><img src="../img/NUF_066E9.PNG" width="604" height="214"></p>
                  <p></p>
                  <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar 
                    y Adicionar</p>
                  <p align="left" class="PARRAFO"><span class="SUBTTLO2"><b style'mso-bidi-font-weight:normal'>Adicionar</b>:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario</p>
                  <p align="center"><img src="../img/NUF_066E10.PNG" width="390" height="149"></p>
                  <p class="PARRAFO">&nbsp;</p>
                  <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>C&oacute;digo</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                          con lista de valores de la cual se selecciona el <a href="NUH_015B.html" class="LINK2"><em>Tipos 
                          de cartera</em></a>, para el cual se desea definir los valores de 
                          las provisiones.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>% 
                          Provisi&oacute;n capital</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                          este campo num&eacute;rico de 3 enteros y dos decimales, en formato 
                          porcentual, obligatorio, se registra el valor porcentual a calcular 
                          sobre el saldo insoluto de capital de la obligaci&oacute;n y que entra 
                          a hacer parte de la provisi&oacute;n contable.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>% 
                          Provisi&oacute;n intereses</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                          num&eacute;rico de 3 enteros y dos decimales, en formato porcentual, 
                          obligatorio, en el que se digita el valor porcentual a calcular sobre 
                          los intereses tanto corrientes como de mora causados sobre la obligaci&oacute;n 
                          cuyo resultado debe hacer parte de la provisi&oacute;n contable.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>% 
                          Provisi&oacute;n otros</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                          este campo num&eacute;rico de 3 enteros y dos decimales, en formato 
                          porcentual, obligatorio, en el que se indica el valor porcentual a 
                          calcular sobre los no diferidos o comisiones asociados a la obligaci&oacute;n 
                          cuyo resultado debe hacer parte de la provisi&oacute;n contable.</p></td>
                    </tr>
                  </table>
                  <p align="left">&nbsp;</p>
                  <p class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar</span></b>: 
                    Si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
                    se despliega un formulario en el cual los campos modificables son % Provisi&oacute;n 
                    capital, % Provisi&oacute;n intereses y % Provisi&oacute;n otros.<br>
                  </p>
                  <p><img src="../img/NUF_066E11.PNG" width="372" height="149"></p>
                  <p>&nbsp;</p>
                  <p class="PARRAFO"><a name="BL_MODALIDAD"><strong><font style"#292929"><b style'mso-bidi-font-weight:normal'>Calificaciones 
                    modalidad</b></font></strong>: en este formulario se parametriza 
                    y asocia a una de las diferentes alturas o categor&iacute;as de madurez 
                    de la cartera, las provisiones determinadas por la ley para cada &iacute;tem, 
                    capital, intereses y otros conceptos. Estos par&aacute;metros aplican cuando 
                    se ha definido el manejo de provisiones por tipo de modalidad de cr&eacute;dito, 
                    en la opci&oacute;n <span class="LINK2"><em><a href="CTH_001B.html" class="LINK2">Par&aacute;metros 
                    contables</a></em></span>.</p>
                  <p align="center"><img src="../img/NUF_066E12.PNG" width="603" height="214"></p>
                  <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar 
                    y Adicionar</p>
                  <p align="left" class="PARRAFO"><span class="SUBTTLO2"><b style'mso-bidi-font-weight:normal'>Adicionar</b>:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario</p>
                  <p align="center"><img src="../img/NUF_066E13.PNG" width="234" height="142"></p>
                  <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Modalidad 
                          cr&eacute;dito </b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                          obligatorio tipo combo del cual se selecciona entre <em>Consumo, Mircrocr&eacute;dito</em> 
                          o <em>Comercial</em> el tipo de cr&eacute;dito para el cual se desea 
                          definir los valores de las provisiones.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>% 
                          Provisi&oacute;n capital</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                          este campo num&eacute;rico de 3 enteros y dos decimales, en formato 
                          porcentual, obligatorio, se registra el valor porcentual a calcular 
                          sobre el saldo insoluto de capital de la obligaci&oacute;n y que entra 
                          a hacer parte de la provisi&oacute;n contable.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>% 
                          Provisi&oacute;n intereses</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                          num&eacute;rico de 3 enteros y dos decimales, en formato porcentual, 
                          obligatorio, en el que se digita el valor porcentual a calcular sobre 
                          los intereses tanto corrientes como de mora causados sobre la obligaci&oacute;n 
                          cuyo resultado debe hacer parte de la provisi&oacute;n contable.</p></td>
                    </tr>
                  </table>
                  <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'> 
                      <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>% 
                          Provisi&oacute;n otros</b></p></td>
                      <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                          este campo num&eacute;rico de 3 enteros y dos decimales, en formato 
                          porcentual, obligatorio, en el que se indica el valor porcentual a 
                          calcular sobre los no diferidos o comisiones asociados a la obligaci&oacute;n 
                          cuyo resultado debe hacer parte de la provisi&oacute;n contable.</p></td>
                    </tr>
                  </table>
                  <p align="left">&nbsp;</p>
                  <p class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar</span></b>: 
                    Si el usuario selecciona un registro e invoca la opci&oacute;n Actualizar 
                    se despliega un formulario en el cual el &uacute;nico campo modificable 
                    es la Descripci&oacute;n.<br>
                  </p>
                  <p><img src="../img/NUF_066E14.PNG" width="234" height="142"></p>
        </center>
    </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>