<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
      <ul>
          <li>
              <a href="../index.html" class="main-option">INICIO</a>
          </li>
          <li><a href="#" class="main-option">NUCLEO</a>
              <ul>
                  <li><a href="NUH_000B.html">Config. Sistema</a></li>
                  <li><a href="NUH_00B_N2.html">Parametros</a></li>
                  <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                  <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                  <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                  <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                  <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                  <li><a href="NUH_00B_migra.html">Migracion</a></li>
              </ul>
          </li>
          <li>
              <a href="#" class="main-option">EMISOR</a>
              <ul>
                  <li><a href="EMH_000B.html">Productos</a></li>
                  <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                  <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                  <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                  <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                  <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                  <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                  <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                  <li><a href="EMH_000Brecla.html">Reclamos</a></li>
              </ul>
          </li>
          <li>
              <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
          </li>
          <li>
              <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
          </li>
      </ul>
  </nav>
    <section>
        <center>
            <div id="Layer2" > 
                <table width="100%" border="0">
                  <tr> 
                    <td width="57%"><div align="right">
                        <center>
                            <h1>Autorización y restricción </h1>
                        </center> 
                        </div></td>
                  </tr>
                </table>
                <p><span class="SUBTTLO2">Restricciones:</span> Esta opci&oacute;n permite determinar diferentes clases de restricciones por cada tipo de rol. El sistema permite los siguientes tipos de restricciones: Campo, Tipo de transaccio&oacute;n, Tipo de solicitud, Novedades, Productos, y Botones.</p>
                <p>El formulario contiene las opciones Eliminar y  Adicionar. Adicionalmente, cuenta con un filtro de b&uacute;squeda y un bot&oacute;n en la parte superior que permite volver al <a href="NUH_029B.html" class="LINK2">formulario principal</a>.</p>
                <p align="center"><img src="../img/NUF_029B12a.PNG" width="698" height="462"></p>
                <p align="left">&nbsp;</p>
                <p><span class="SUBTTLO2">Filtro:</span> Se pueden realizar consultas a trav&eacute;s 
                  de las siguientes opciones:</p>
                <p align="center"><img src="../img/NUF_029B12.PNG" width="363" height="75"></p>
                <p align="center">&nbsp;</p>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo de restricci&oacute;n </p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Lista de valores que permite filtrar entre una de las siguientes opciones: <em>Nulo, Campo, Tipo de transacci&oacute;n, Tipo de solicitud, Novedades, Productos,</em> o <em>Botones</em>.</p>
                    </td>
                  </tr>
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Descripci&oacute;n</p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que  debe aceptar hasta 40 caracteres alfanum&eacute;ricos. Se muestra sin lista de valores y acepta la b&uacute;squeda con el s&iacute;mbolo %. </p></td>
                  </tr>
                </table>
                <p>&nbsp;</p>
                <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega el siguiente formulario, cuyos campos se habilitan de acuerdo a los seleccionado en la lista de valores <em>Tipo de restricciones</em> a excepci&oacute;n del campo Nulo.</p>
                <p align="center"><img src="../img/NUF_029B13.PNG" width="484" height="434"></p>
                <p align="left">&nbsp;</p>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'>
                    <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Campo</p></td>
                    <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este campo  muestra un combo con las siguientes opciones (<em>N&uacute;mero de tarjeta</em> y <em>N&uacute;mero de tarjeta d&eacute;bito</em>).</p>
                    </td>
                  </tr>
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo de transacci&oacute;n </p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este campo contiene lista de valores &uacute;nicamente con las transacciones parametrizadas  en la opci&oacute;n de <a href="MEH_003B.html" class="LINK2">Transacciones por empresa</a>.</p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo de solicitud </p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que muestra un combo con las siguientes opciones: Cr&eacute;dito nuevo, Variaci&oacute;n cupo cr&eacute;dito, Renovaci&oacute;n cr&eacute;dito, Reposici&oacute;n cr&eacute;dito, Reexpedici&oacute;n cr&eacute;dito, Reactivaci&oacute;n cr&eacute;dito, L&iacute;nea cr&eacute;dito adicional cr&eacute;dito, Cambio ciclo facturaci&oacute;n cr&eacute;dito, Cancelaci&oacute;n voluntaria cr&eacute;dito, Cambio producto cr&eacute;dito, D&eacute;bito nuevo, Renovaci&oacute;n d&eacute;bito, Reposici&oacute;n d&eacute;bito, y Reexpedici&oacute;n d&eacute;bito.</p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Novedades</p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este campo contiene lista de valores &uacute;nicamente con las transacciones parametrizadas en la opci&oacute;n de <a href="NUH_017B.html" class="LINK2">Novedades administrativas</a>.</p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Producto</p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El campo Producto  (Bin, Segmento, Grupo y Descripci&oacute;n), muestra lista de valores acorde con todos los productos <a href="DBH_018B.html" class="LINK2">D&eacute;bito</a> y <a href="MEH_002B.html" class="LINK2">Cr&eacute;dito</a> definidos para la empresa en la cual se encuentra ubicado el actor.</p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Botones</p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que contiene lista de valores &uacute;nicamente con las transacciones parametrizadas en la opci&oacute;n de <a href="NUH_034B.html" class="LINK2">Botones seguros</a>.</p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Rol de negocios </p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El campo Rol de negocios debe permitir ser diligenciado con cualquier dato alfanum&eacute;rico de m&aacute;ximo 60 caracteres, permitiendo may&uacute;sculas y min&uacute;sculas.</p></td>
                  </tr>
                </table>
                <p>&nbsp;</p>
                <p align="center"><a href="NUH_029B.html">Formulario principal</a><span
                  style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="NUH_029B1.html">Asociaci&oacute;n rol y recursos</a><a href="NUH_029B2.html"></a></p>
        </center>
    </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>