<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Mensajes del extracto</p>
                    </div></td>
              </tr>
            </table>
            <p>Mediante esta funci&oacute;n se habilita la   consulta y mantenimiento de la tabla que contiene la informaci&oacute;n que la entidad   desea trasmitirle a sus clientes. Existe una jerarqu&iacute;a de los tipos de mensaje,   el sistema despliega primero los asociados a los <span class="LINK2"><A href="CAH_002B.html" class="LINK2">bloqueos</A>,</span> luego los generados por la <A href="MEH_012B.html" class="LINK2">segmentaci&oacute;n de clientes</A> y finalmente los   relacionados con los <A href="MEH_002B.html" class="LINK2">productos</A>.&nbsp; La forma ofrece tres l&iacute;neas por cada clase de   mensaje, espacio del que se dispone pero es necesario optimizar y adecuar el   tipo y tama&ntilde;o de letra con la cantidad de caracteres a utilizar.</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              Adicionar y Detalle.</p>
            <p align="center"><img src="../img/NUF_062B.PNG" width="768" height="364"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/NUF_062B1.PNG" width="339" height="357"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">C&oacute;digo</p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico de 4 d&iacute;gitos, obligatorio,   que contiene el n&uacute;mero que identifica a cada clase de mensaje que aparece dentro   del extracto del cliente.</p>        </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Descripci&oacute;n</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo alfanum&eacute;rico de 30 d&iacute;gitos, se registra el nombre asociado al c&oacute;digo de cada   mensaje.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Moneda</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio que posee lista de valores de la que   debe seleccionarse la <A href="NUH_005B.html" class="LINK2">Moneda</A> en que se   expresan los valores del extracto al que se le asocia el correspondiente   mensaje.</p>        
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo obligatorio se debe seleccionar de la   lista de valores adjunta de la cual se debe seleccionar entre <em>Financiero,   Comercial, General</em> o <em>Bloqueo</em> el tipo de mensaje.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">L&iacute;nea 1 </p>
                </td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo alfanum&eacute;rico de 240 d&iacute;gitos,   no obligatorio, dentro del que se registra el contenido de cada una de   las l&iacute;neas que para un mismo tipo de mensaje contendr&aacute; el extracto.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">L&iacute;nea 2 </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo alfanum&eacute;rico de 240 d&iacute;gitos,   no obligatorio, dentro del que se registra el contenido de cada una de   las l&iacute;neas que para un mismo tipo de mensaje contendr&aacute; el extracto.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">L&iacute;nea 3 </p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo alfanum&eacute;rico de 240 d&iacute;gitos,   no obligatorio, dentro del que se registra el contenido de cada una de   las l&iacute;neas que para un mismo tipo de mensaje contendr&aacute; el extracto.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son: Descripci&oacute;n, Tipo, L&iacute;nea 1, L&iacute;nea 2, y L&iacute;nea 3. </span></p>
            <p align="center"><img src="../img/NUF_062B2.PNG" width="346" height="357"></p>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Detalle:</span> Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente formulario: <span
              style'font-family:Arial'>
              <o:p></o:p>
            </span></p>
            <p align="center"><img src="../img/NUF_062B3.PNG" width="765" height="173"></p>
            <p align="center">.</p>
            </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>