<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <center>
            <div id="Layer2">
                <table width="100%" border="0">
                    <tr>
                        <td width="57%">
                            <div align="right">
                                <center>
                                    <h1>Roles y restricciones </h1>
                                </center>
                            </div>
                        </td>
                    </tr>
                </table>
                <p>Este formulario permite la consulta
                    y mantenimiento de la tabla en la cual se almacenan los Perfiles establecidos por la
                    corporaci&oacute;n o entidad
                    financiera. &Eacute;stos deben coincidir con los que est&eacute;n parametrizados en el sistema LDAP.
                </p>
                <p>El formulario contiene las opciones Actualizar,Adicionar y Restricciones.</p>
                <p align="center"><img src="../img/NUF_014B.PNG" width="787" height="376"></p>
                <p align="left">El formulario contiene las opciones Actualizar, Adicionar y Restricciones.</p>
                <p align="left"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Actualizar</span></b>: si
                    el usuario invoca la opci&oacute;n Adicionar se despliega un wizard de tres pasos Rol, Tareas y
                    Funcionalidad.</p>
                <p align="center"><img src="../img/NUF_014B1.PNG" width="309" height="157"></p>
                <center>
                    <h1>Roles</h1>
                </center>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'>
                        <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO"><b><span class="#5">Rol</span></b></p>
                        </td>
                        <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Campo alfanum&eacute;rico de 30 caracteres en el cual se ingresa el
                                nombre del Rol que se desea agregar.</p>
                        </td>
                    </tr>
                    <tr style'mso-yfti-irow:1'>
                        <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO"><span class="#5"><b>Tipo de horario </b></span></p>
                        </td>
                        <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Corresponde al los turnos de trabajo asignado a cada perfil, que va desde
                                horario total, diurno y nocturno. </p>
                        </td>
                    </tr>
                </table>
                <p align="center"><span class="TITLE"><img src="../img/NUF_014B2.PNG" width="929"
                            height="389"></span></p>
                <p align="center">&nbsp;</p>
                <center>
                    <h1>Tareas </h1>
                </center>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'>
                        <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO"><b><span class="#5">Nucleo y Emisor </span></b></p>
                        </td>
                        <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Men&uacute; del sistema, donde se muestran las opciones vinculadas a cada
                                modulo y estas a suves determinan los casos de uso permitidos y restringidos para los
                                perfiles creados por la entidad.</p>
                        </td>
                    </tr>
                    <tr style'mso-yfti-irow:1'>
                        <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO"><span class="#5">Casos de uso restringidos </span></p>
                        </td>
                        <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Corresponde a las opciones que permiten al perfil seleccionado bloquear
                                permisos de acceso y navegacion de la forma.</p>
                        </td>
                    </tr>
                    <tr style'mso-yfti-irow:1'>
                        <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO">Casos de uso permitidos </p>
                        </td>
                        <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Corresponde a las opciones que permiten al perfil seleccionado otorgar
                                permisos de acceso y navegacion de la forma.</p>
                        </td>
                    </tr>
                </table>
                <p align="center"><img src="../img/NUF_014B3.PNG" width="941" height="410"></p>

                <center>
                    <h1>Funcionalidad</h1>
                </center>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'>
                        <td width="18%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO"><b><span class="#5">Nucleo y Emisor </span></b></p>
                        </td>
                        <td width="82%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Men&uacute; del sistema, donde se muestran las opciones vinculadas a cada
                                modulo y estas a su ves determinan la funcionalidad permitida y funcionalidad
                                restringida asignada a los casos de uso seleccionados para los perfiles creados por la
                                entidad.</p>
                        </td>
                    </tr>
                    <tr style'mso-yfti-irow:1'>
                        <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO"><span class="#5"><b>Funcionalidades restringidas</b></span></p>
                        </td>
                        <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Corresponde a las opciones restringidas que no permiten al perfil
                                seleccionado la navegacion y el acceso dentro de la forma y manejo de la funcionalidad
                                como lo es adicionar, eliminar y actualizar.</p>
                        </td>
                    </tr>
                    <tr style'mso-yfti-irow:1'>
                        <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO"><b>Funcionalidades permitidas </b></p>
                        </td>
                        <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Corresponde a las opciones que permiten al perfil seleccionado otorgar
                                permisos de acceso, navegacion de la forma y manejo de la funcionalidad como lo es
                                adicionar, eliminar y actualizar.</p>
                        </td>
                    </tr>
                </table>
                <p align="left" class="PARRAFO"><span class="SUBTTLO2"><b>Adicionar:</b></span> Si el usuario invoca la
                    opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font
                        face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font>
                </p>
                <p align="center"><span class="TITLE"><img src="../img/NUF_014B4.PNG" width="310"
                            height="165"></span></p>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'>
                        <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO"><b><span class="#5">Rol</span></b></p>
                        </td>
                        <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Campo alfanum&eacute;rico de 30 caracteres en el cual se ingresa el
                                nombre del Rol que se desea agregar.</p>
                        </td>
                    </tr>
                    <tr style'mso-yfti-irow:1'>
                        <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO"><span class="#5"><b>Tipo de horario</b> </span></p>
                        </td>
                        <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Corresponde al los turnos de trabajo asignado a cada perfil, que va desde
                                horario total, diurno y nocturno.</p>
                        </td>
                    </tr>
                </table>
                <p><span class="SUBTTLO2"><b>Restricciones:</b></span> Si el usuario invoca la opci&oacute;n
                    Restricciones se despliega un formulario con los siguientes campos<font
                        face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font>
                </p>
                <p><img src="../img/NUF_014B5.PNG" width="760" height="259"></p>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                    <tr style'mso-yfti-irow:1'>
                        <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO"><b><span class="#5">Tipo de restricci&oacute;n </span></b></p>
                        </td>
                        <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Corresponde a los tipos de restriccion al rol o perfil asignado, que
                                pueden ser restricciones de Campo, Tipo de transacci&oacute;n, Tipo de solicitud,
                                Novedades, Productos, Botones y/o plasticos. </p>
                        </td>
                    </tr>
                    <tr style'mso-yfti-irow:1'>
                        <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="SUBTITULO"><span class="#5"><b>Descripción</b></span></p>
                        </td>
                        <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class="PARRAFO">Corresponde a la descripci&oacute;n de cada tipo de restricci&oacute;n
                                asignada para cada rol o perfil. </p>
                        </td>
                    </tr>
                </table>
        </center>
    </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>