<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Grupos metas oficina</p>
                    </div></td>
              </tr>
            </table>
            <p><span class="SUBTTLO2">Fecha vigencia: </span>Conjunto de registros que le permiten a la   entidad establecer las distintas fechas en que para un mismo grupo se definen o   modifican las metas propuestas.</p>
            <p>A trav&eacute;s de los campos Cantidad y Valor se se&ntilde;alan las metas tanto en cantidad como en monto que deben   lograrse para cada uno de los doce meses del a&ntilde;o, de ser necesario, y teniendo   como referencia la fecha vigencia m&aacute;s reciente.</p>
            <p>El formulario contiene las opciones Actualizar, Eliminar, 
            y Adicionar. Adicionalmente, cuenta con  la opci&oacute;n <a href="NUH_082B2.html">Oficinas</a> y un bot&oacute;n en la parte superior para regresar a la opci&oacute;n principal: <a href="NUH_082B.html">Grupos metas oficina</a>.</p>
            <p align="center"><img src="../img/NUF_082B4.PNG" width="602" height="249"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/NUF_082B5.PNG" width="420" height="537"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'><span class="#1">Fecha vigencia </span></span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p>Campo en formato YYYY-MM-DD en el que se   se&ntilde;ala la fecha a partir de la cual se establece o modifica cada   meta.</p>        </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Cantidad</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo num&eacute;rico, obligatorio, en el que debe   indicarse, para cada mes del a&ntilde;o, el n&uacute;mero de <em>Tarjetas</em> aprobadas por   periodo o <em>Cr&eacute;ditos (Credi&aacute;gil)</em> que tuvieron utilizaciones de primera vez   por periodo, teniendo como referencia la fecha vigencia m&aacute;s reciente.</p>        </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Valor</span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En este campo num&eacute;rico, obligatorio se   indica el monto facturado, por periodo, que deben acumular las <em>Tarjetas</em> o   el n&uacute;mero total de utilizaciones de primera vez, por periodo, de <em>Cr&eacute;ditos   (Crediagil)</em>, como meta, acorde con los objetivos aqu&iacute; indicados.</p>        </td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son mes a mes, los que incluyen la cantidad y el valor </span>de las metas.</p>
            <p align="center"><img src="../img/NUF_082B6.PNG" width="420" height="536"></p>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO">&nbsp;</p>
            <p align="center"><a href="NUH_082B.html">Grupos metas oficina</a><a href="NUH_082B1.html"></a><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="NUH_082B2.html">Oficinas</a></p>
        
            </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>