<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Empresa</title>
    <link rel="stylesheet" href="../css/styleindex.css">
    <link rel="stylesheet" href="../css/styleNUH_000B.css">
</head>
<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú">
        </div>
    </header>
   <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
                </li>
            <li><a href="#"  class="main-option">NUCLEO</a>
 		<ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="#">Parametros</a></li>
                    <li><a href="#">Inicio</a></li>
		    <li><a href="#">Proceso</a></li>
                    <li><a href="#">Inf. Cliente</a></li>
                    <li><a href="#">Contabilidad</a></li>
		    <li><a href="#">Auditoria</a></li>
		    <li><a href="#">Migracion</a></li>
                </ul>
	    </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Solicitudes</a></li>
                    <li><a href="#">Mercadeo</a></li>
                    <li><a href="#">Servicio Al Cliente</a></li>
		    <li><a href="#">Pendientes</a></li>
                    <li><a href="#">Transaccionabilidad</a></li>
                    <li><a href="#">Autorizaciones</a></li>
		    <li><a href="#">Adm. Plasticos</a></li>
		    <li><a href="#">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">ADQUIRIENTE</a>
                </li>
 	    <li>
                <a href="#" class="main-option">TARJETA DEBITO</a> 
            </li>
        </ul>
    </nav>

    <section>
        <div>
            <h1>Núcleo</h1>


	<p>En este menú se despliegan todas las opciones que permiten a la entidad efectuar la parametrización requerida
 por los diferentes servicios que componen la aplicación y que será utilizada posteriormente tanto en la ejecución de
 procedimientos invocados desde los botones contenidos en los diferentes formularios y como entrada para alimentar las 
listas de valores que permiten llenar información en diversos campos. Por lo general estos parámetros permanecen
 relativamente estáticos en la línea de tiempo y se modifican eventualmente como resultado de cambios en las políticas de
 la entidad, por disposiciones de los entes gubernamentales que regulan la actividad financiera o las franquicias.</p>

	<p>El menú se encuentra estructurado en 7 grupos que contienen las opciones que le permiten al usuario ingresar a 
cada uno de los diferentes formularios de la siguiente manera:.</p>
        <p><span class="aviso-importante">Parámetros configuración del sistema:</span>en este bloque del menú se muestran las opciones que permiten parametrizar
 la ubicación de los archivos de entrada y salida del sistema así como la definición de los usuarios.</p>   

 <li><a href="NUH_000B.html">Administracion de casos de Uso</a></li>
 <li><a href="NUH_000B.html">Ordenamiento de caos de uso</a></li>
 <li><a href="NUH_000B.html">Administración de usuarios</a></li>
 <li><a href="NUH_000B.html">Perfiles</a></li>
 <li><a href="NUH_000B.html">Botones seguros</a></li>
 <li><a href="NUH_000B.html">Mensajes</a></li>
 <li><a href="NUH_000B.html">Ubicación de archivos</a></li>
 <li><a href="NUH_000B.html">Definición de entidades</a></li>
<h3>Parámetros PCI</h3>
<li><a href="NUH_000B.html">Parámetros PCI DSS</a></li>
 <li><a href="NUH_000B.html">Parámetros Grupos Entrada y Salida</a></li>
 <li><a href="NUH_000B.html">Parámetros Llaves de cifrado PGP</a></li>
 <li><a href="NUH_000B.html">Parámetros conexión al Servidor</a></li>
 <li><a href="NUH_000B.html">Asociaciones de conexiones, llaves y archivos a grupos</a></li>
 <li><a href="NUH_000B.html">Usuarios webservice</a></li>
        </div>
        <img src="../img/bankbu-removebg-preview.png" alt="Imagen de la empresa">
    </section>


<script>
    // Función para cerrar el menú
    function closeMenu() {
        var nav = document.querySelector("nav");
        nav.style.left = "-250px";
    }

    // Función para abrir el menú
    function openMenu() {
        var nav = document.querySelector("nav");
        nav.style.left = "0";
    }

    document.getElementById("menuBtn").addEventListener("click", function(e) {
        e.stopPropagation(); // Evita que el clic se propague al documento
        var nav = document.querySelector("nav");
        if (nav.style.left === "-250px") {
            openMenu();
        } else {
            closeMenu();
        }
    });

    // Agregar evento de clic a las opciones principales
    var mainOptions = document.querySelectorAll(".main-option");
    mainOptions.forEach(function(option) {
        option.addEventListener("click", function(e) {
            e.stopPropagation(); // Evita que el clic se propague al documento
            var submenu = this.nextElementSibling; // Obtener el elemento hermano siguiente (ul)
            var isOpen = submenu.style.maxHeight === "200px"; // Verifica si el menú está abierto
            mainOptions.forEach(function(mainOption) {
                var otherSubmenu = mainOption.nextElementSibling;
                if (otherSubmenu !== submenu) {
                    otherSubmenu.style.maxHeight = "0";
                }
            });
            if (!isOpen) {
                submenu.style.maxHeight = "200px"; // O la altura máxima que desees
            } else {
                submenu.style.maxHeight = "0";
            }
        });
    });

    // Cerrar el menú al hacer clic fuera de él
    document.addEventListener("click", function() {
        closeMenu();
    });

    // Evitar que el clic se propague desde el menú al documento
    document.querySelector("nav").addEventListener("click", function(e) {
        e.stopPropagation();
    });
</script>


</body>
<footer>
 <div >
            <img src="../img/logo.png">
        </div>
    <p>Open Card S.A.</p>
<p>-- Calle 77 N° 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
<p> Colombia Suramérica -- Tel (571) 313 37 75-  <a href="http://www.opencard.com" 
target="_blank">www.opencard.com</a></p>
  
  
</footer>
</html>


