</div></td>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Estructura organizacional</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Mediante esta funci&oacute;n se habilita la consulta y mantenimiento 
              de la tabla en la cual se almacena la informaci&oacute;n m&aacute;s relevante 
              sobre la composici&oacute;n de la estructura org&aacute;nica de la entidad; 
              se fundamenta en la jerarqu&iacute;a administrativa y/o funcional, descomponi&eacute;ndose 
              y recomponi&eacute;ndose en cascada mediante los botones especiales y gracias 
              a la flexibilidad de la forma, permite la inclusi&oacute;n de diversas clases 
              de estructuras. La funcionalidad adicional de la forma se explica m&aacute;s 
              adelante.</p>
            <p align="center"><img src="../img/NUF_020E.PNG" width="759" height="528"></p>
            <p align="left" class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar, Adicionar y Detalle. Adicionalmente, cuenta con un filtro de b&uacute;squeda 
              y la opci&oacute;n <a href="#Recursos" title="Recursos" target="_self">Recursos</a> en la parte superior.</p>
            <p align="left" class="PARRAFO"> <span class="SUBTTLO2"> Filtro: </span><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'> 
              Se pueden realizar consultas a trav&eacute;s de las siguientes opciones: </span></font></p>
            <p align="center"><img src="../img/NUF_020E1.PNG" width="469" height="100"></p>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Sucursal</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    num&eacute;rico con lista de valores de cuatro d&iacute;gitos, en el 
                    cual se registra el c&oacute;digo una dependencia de la entidad.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Sucursal 
                    depende org&aacute;nicamente de</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="left" class="PARRAFO">Campo 
                    num&eacute;rico con lista de valores de cuatro d&iacute;gitos, en el 
                    cual se registra el c&oacute;digo una dependencia de la entidad.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Adicionar: </span>Si el usuario invoca 
              la opci&oacute;n Adicionar se despliega un wizard de cuatro pasos con los 
              siguientes formulario.</p>
            <p align="left"></p>
            <p align="left" class="SUBTTLO2"><span class="SUBTTLO2">General: </span><span class="PARRAFO">En 
              este conjunto de campos se registra la informaci&oacute;n b&aacute;sica de 
              cada una de las sucursales definidas en el bloque anterior; los datos desplegados 
              corresponden al registro sobre el cual se encuentre ubicado el cursor.</span></p>
            <p align="center"><img src="../img/NUF_020E2.PNG" width="756" height="133"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Sucursal</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    num&eacute;rico de cuatro d&iacute;gitos, obligatorio, en el cual se 
                    registra el c&oacute;digo y a continuaci&oacute;n el nombre asignado 
                    a cada dependencia de la entidad. La asignaci&oacute;n de c&oacute;digos 
                    debe ser ascendente y acorde a la jerarqu&iacute;a de la entidad y es 
                    indispensable incluir a la misma entidad con el c&oacute;digo cero, 
                    puesto que la opci&oacute;n <span class="LINK2"><a href="NUH_023B.html">Calendario</a></span> as&iacute; 
                    lo requiere para poder heredar los d&iacute;as inh&aacute;biles y festivos, 
                    tanto de la entidad como de la corporaci&oacute;n a la que pertenece 
                    la entidad, en caso de aplicar esta figura.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Nombre 
                    de la sucursal</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"><span class="PARRAFO">Campo 
                    en el cual se registra el nombre asignado a cada dependencia de la entidad. 
                    </span></p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p>El usuario tiene la opci&oacute;n de Cancelar o Avanzar al segundo paso del 
              wizard a trav&eacute;s de los botones ubicados en la parte inferior derecha 
              del formulario.</p>
            <p><img src="../img/NUF_020E3.PNG" width="756" height="270"></p>
            <blockquote>&nbsp;</blockquote>
                <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:2'> 
                <td width="240" height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Tipo 
                    de sucursal</strong></p></td>
                <td width="475" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'> <p class="PARRAFO">Campo 
                    que posee lista de valores adjunta de la cual se debe seleccionar el 
                    nivel o jerarqu&iacute;a administrativo/operativo que detenta la dependencia 
                    y que puede ser Agencia, Sucursal, Oficina, Empresa, Departamental o 
                    Regional.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Estatus 
                    de la sucursal</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo con lista de valores adjunta, se selecciona la condici&oacute;n 
                    actual de la dependencia que puede ser Activo, Inactivo o Suspensi&oacute;n.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Fecha 
                    de apertura</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    en formato fecha DD/MM/YYYY, no obligatorio, que contiene la fecha en 
                    la cual ocurre la apertura oficial de la sucursal o dependencia.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>D&iacute;as 
                    plazo canje</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    num&eacute;rico de tres d&iacute;gitos, no obligatorio en el que se 
                    registra el n&uacute;mero m&aacute;ximo de d&iacute;as h&aacute;biles 
                    que requiere la operaci&oacute;n del canje interbancario. Si la entidad 
                    determina que los pagos en cheque deben aplicar como si fuesen en efectivo, 
                    este campo deber&aacute; contener el valor de cero o uno, en todas las 
                    sucursales y oficinas habilitadas para la recepci&oacute;n de dichos 
                    pagos.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Centro 
                    de captura</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'> <p class="PARRAFO">Campo 
                    num&eacute;rico de 2 posiciones, no obligatorio, en el cual se registra 
                    el c&oacute;digo del centro de operaciones donde se realiza la captura 
                    del movimiento diario, al cual pertenece la oficina o sucursal.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Administrada 
                    por </strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 30 posiciones, no obligatorio, se 
                    digita el nombre del administrador, gerente o persona responsable de 
                    la sucursal o dependencia de la entidad.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Sub 
                    administrada por</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico de 30 posiciones, no obligatorio, dentro del que 
                    se registra el nombre del subadministrador, subgerente o asistente de 
                    la persona responsable de la sucursal o dependencia de la entidad.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Acumulado 
                    de la sucursal</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'> <p class="PARRAFO">En 
                    este campo se selecciona de la lista de valores, poblada a trav&eacute;s 
                    de esta misma pantalla, el c&oacute;digo de una sucursal que cobije 
                    a una o m&aacute;s oficinas de nivel inferior, para efectos de evaluaci&oacute;n 
                    del logro de las metas por oficina propuestas.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Sucursal 
                    depende org&aacute;nicamente de</span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="left" class="PARRAFO">Campo 
                    no obligatorio, contiene lista de valores codificada con las diversas 
                    &aacute;reas, secciones o sucursales de la entidad, poblada para establecer 
                    la relaci&oacute;n de dependencia org&aacute;nica o funcional entre 
                    los entes de la misma empresa. Las oficinas que no sean incluidas dentro 
                    de la cadena de dependencia con la entidad no heredar&aacute;n el calendario 
                    de &eacute;sta.</p></td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="left">El usuario tiene las opciones Cancelar, Atr&aacute;s o Avanzar 
              a trav&eacute;s de los botones ubicados en la parte inferior derecha del formulario.</p>
            <p align="left"><span class="SUBTTLO2">Localizaci&oacute;n:</span> Mediante este 
              grupo de campos se define los datos b&aacute;sicos tanto de localizaci&oacute;n 
              como de comunicaci&oacute;n de la dependencia, principalmente con las dem&aacute;s 
              sucursales de la entidad.</p>
            <p align="center"><img src="../img/NUF_020E4.PNG" width="799" height="235"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:2'> 
                <td width="240" height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Ubicaci&oacute;n</strong></p></td>
                <td width="475" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'> <p class="PARRAFO">Campo 
                    obligatorio, posee lista de valores poblada en la opci&oacute;n <a href="NUH_003B.html" class="LINK2">Entidades territoriales</a> de este mismo m&oacute;dulo, de la que se 
                    selecciona la ciudad, departamento y pa&iacute;s (o la divisi&oacute;n 
                    geopol&iacute;tica que rija para cada pa&iacute;s) en que se encuentra 
                    radicada la sucursal o dependencia de la entidad.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Tipo captura </strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                    campo dise&ntilde;ado para uso futuro, no obligatorio, posee lista de 
                    valores adjunta, poblada en la opci&oacute;n <a href="NUH_050B.html" class="LINK2">Par&aacute;metros 
                    de captura</a> del N&uacute;cleo, de la cual se selecciona 
                    la opci&oacute;n que determina la manera como cada oficina accesar&aacute; 
                    o capturar&aacute; su movimiento.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Registro 
                    de flujo</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que posee lista de valores adjunta de la cual se selecciona entre S&iacute; 
                    o No le es permitido a esa dependencia la captura de movimiento, lo 
                    cual se reflejar&aacute; en el momento de interactuar con la opci&oacute;n          <span class="LINK2"><a href="INH_004B.html">Captura movimiento oficinas</a>.</span></p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Zona</strong></p></td>
                <td valign=top background="NUH_041B.html" style'padding:3.0pt 3.0pt 3.0pt 3.0pt'> <p class="PARRAFO">En 
                    este campo que contiene lista de valores, se selecciona la <a href="NUH_041B.html" class="LINK2">Zona 
                    geogr&aacute;fica</a>, si existe, de la cual depende operativa o 
                    administrativamente cada dependencia.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Nomenclatura</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico de 40 posiciones, no obligatorio, en el que se ingresa 
                    la direcci&oacute;n de la sucursal o dependencia de la entidad.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Tel&egrave;fono</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 20 posiciones, no obligatorio, se 
                    ingresan los n&uacute;meros telef&oacute;nicos de la sucursal o dependencia 
                    de la entidad.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Fax</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'> <p class="PARRAFO">Campo 
                    alfanum&eacute;rico de 20 posiciones, no obligatorio, en el que se ingresa 
                    el n&uacute;mero del fax de la sucursal o dependencia de la entidad.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Correo 
                    electr&oacute;nico </strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 30 posiciones, no obligatorio, se 
                    registra la direcci&oacute;n para el env&iacute;o de correo electr&oacute;nico 
                    a la sucursal o dependencia de la entidad.</p>
                </td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="left">El usuario tiene las opciones Cancelar, Atr&aacute;s o Avanzar 
              a trav&eacute;s de los botones ubicados en la parte inferior derecha del formulario.</p>
            <p align="left"><span class="SUBTTLO2">Horario:</span> En este formulario se 
              define el horario de atenci&oacute;n al p&uacute;blico para cada uno de los 
              siete d&iacute;as de la semana. </p>
            <p align="center"><img src="../img/NUF_020E5.PNG" width="796" height="347"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:2'> 
                <td width="229" height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>D&iacute;a 
                    de la semana</strong></p></td>
                <td width="486" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    en el que aparece por defecto el nombre de cada uno de los d&iacute;as 
                    de la semana.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Desde</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'> <p class="PARRAFO">En 
                    este campo en formato de HH24:MI no obligatorio, se registra el horario 
                    en que se inicia el servicio al p&uacute;blico.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Hasta</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    en formato de HH24:MI no obligatorio, en el que se registra el horario 
                    de cierre o hasta el que se presta el servicio.</p></td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p>El usuario tiene las opciones Cancelar, Atr&aacute;s o Guardar; las cuales 
              podr&agrave;n ser invocadas a trav&eacute;s de los botones ubicados en la 
              parte inferior derecha del formulario.</p>
            <p>&nbsp;</p>
            <p><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> Si el usuario 
              invoca la opci&oacute;n Actualizar se despliega un nuevo formulario en el 
              cual los &uacute;nicos campos modificables son: Nombre de la sucursal, Tipo de sucursal, Fecha de apertura, D&igrave;as plazo </span>canje, Centro de captura, Sub administrada por, Sucursal depende organicamente de, Estatus de la sucursal, Administrada por, Acumulado de la sucursal, Ubicaci&ograve;n, Registro de flujo, Fax, Tipo Captura, Zona, Tel&egrave;fono, Correo electr&ograve;nico y los horarios (desde-hasta) de Domingo a S&agrave;bado. </p>
            <p align="center"><img src="../img/NUF_020E6.PNG" width="586" height="77"></p>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Detalle:</span> Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente formulario: <span
              style'font-family:Arial'>
              <o:p></o:p>
            </span></p>
            <p align="center"><img src="../img/NUF_020E7.PNG" width="644" height="611"></p>
            <p align="center"><a name="Recursos"></a></p>
            <p align="center"><b><font face="Arial"><span style"font-size: 16.0pt; #: #99CC00;">Recursos</span></font></b></p>
            <p align="center" class="PARRAFO">Al invocar la v&iacute;nculo Recursos, 
              el sistema muestra el siguiente formulario, en el cual se relacionan los activos 
              f&iacute;sicos o recursos con que cuenta la sucursal o dependencia de la entidad, 
              para efectos de control o inventario, entre otros. Adicionalmente, se puede regresar a la opci&oacute;n <a href="NUH_020B.html" target="_self" class="LINK2">Estructura Org&aacute;nica </a> a trav&eacute;s 
              del bot&oacute;n volver de la parte superior izquierda.</p>
            <p align="center"><img src="../img/NUF_020E10.PNG" width="599" height="247"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span style'font-family:Arial'><font face="Arial, Helvetica, sans-serif">El 
              formulario contiene las opciones Actualizar, Eliminar y Adicionar.</font></span></p>
            <p align="left" class="PARRAFO"><font face="Arial, Helvetica, sans-serif"><b style'mso-bidi-font-weight:normal'><span style'font-family:Arial;
              #:#333333'>Adicionar</span></b><span style'font-family:Arial'>: Si el 
              usuario invoca la opci&oacute;n Adicionar se despliega el siguiente formulario:</span>&nbsp;</font><span
              style'font-family:Arial'><o:p></o:p></span></p>
            <p align="center"><img src="../img/NUF_020E8.PNG" width="335" height="124"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:2'> 
                <td width="240" height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>C&oacute;digo 
                    de inventario</strong></p></td>
                <td width="475" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'> <p class="PARRAFO">Campo 
                    alfanum&eacute;rico de 20 posiciones, obligatorio, en el que se ingresa 
                    el n&uacute;mero o c&oacute;digo de inventario que identifica cada uno 
                    de los activos f&iacute;sicos.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>Descripci&oacute;n</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 30 posiciones, obligatorio, se describe 
                    brevemente el activo f&iacute;sico asociado al c&oacute;digo anterior.</p></td>
              </tr>
              <tr style'mso-yfti-irow:2'> 
                <td height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><strong>N&uacute;mero 
                    de serie</strong></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico de 20 posiciones, no obligatorio, en el que se registra 
                    el n&uacute;mero de serie de fabricaci&oacute;n que permite una mejor 
                    identificaci&oacute;n de los activos f&iacute;sicos.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p align="center" class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span style'font-family:Arial;
              #:#333333'><font face="Arial, Helvetica, sans-serif">Actualizar</font></span></b><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>: 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son: Descripci&oacute;n y 
              N&uacute;mero de serie.</span></font></p>
            <p align="center"><img src="../img/NUF_020E9.PNG" width="335" height="124"></p>
            <p align="center">&nbsp;</p>
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img src="../img/logo.png">
    </div>
    <p>Open Card S.A.</p>
    <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
    <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>