<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
      <ul>
          <li>
              <a href="../index.html" class="main-option">INICIO</a>
          </li>
          <li><a href="#" class="main-option">NUCLEO</a>
              <ul>
                  <li><a href="NUH_000B.html">Config. Sistema</a></li>
                  <li><a href="NUH_00B_N2.html">Parametros</a></li>
                  <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                  <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                  <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                  <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                  <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                  <li><a href="NUH_00B_migra.html">Migracion</a></li>
              </ul>
          </li>
          <li>
              <a href="#" class="main-option">EMISOR</a>
              <ul>
                  <li><a href="EMH_000B.html">Productos</a></li>
                  <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                  <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                  <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                  <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                  <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                  <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                  <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                  <li><a href="EMH_000Brecla.html">Reclamos</a></li>
              </ul>
          </li>
          <li>
              <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
          </li>
          <li>
              <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
          </li>
      </ul>
  </nav>
    <section>
        <center>
            <div id="Layer2"> 
                <table width="100%" border="0">
                  <tr> 
                    <td width="57%"><div align="right"> 
                        <center>
                            <h1>Autorización y restricción </h1>
                        </center>
                        </div></td>
                  </tr>
                </table>
                <p><span class="SUBTTLO2">Asociaci&oacute;n rol y recursos:</span> A trav&eacute;s de este formulario el usuario puede relacionar las diferentes <a href="NUH_029B.html#Administracion" class="LINK2">URL</a> de cada Caso de uso, a los <a href="NUH_029B.html" class="LINK2">Roles</a> parametrizados en el formulario principal de esta misma  opci&oacute;n.</p>
                <p>El formulario contiene las opciones Eliminar,  Adicionar y Copiar recursos por rol. Adicionalmente, cuenta con un bot&oacute;n en la parte superior que permite volver al <a href="NUH_029B.html" class="LINK2">formulario principal</a>. </p>
                <p align="center"><img src="../img/NUF_029B7a.PNG" width="708" height="492"></p>
                <p align="left">&nbsp;</p>
                <p><span class="SUBTTLO2">Filtro:</span> Se pueden realizar consultas a trav&eacute;s 
                  de las siguientes opciones:</p>
                <p align="center"><img src="../img/NUF_029B7.PNG" width="694" height="98"></p>
                <p align="center">&nbsp;</p>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Caso de uso </p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo que  acepta hasta 100 caracteres alfanum&eacute;ricos. Se muestra sin lista de valores y acepta la b&uacute;squeda con el s&iacute;mbolo %. </p></td>
                  </tr>
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Rol de negocios </p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Para poder filtrar por el Rol de negocios, el campo debe mostrar un combo con las siguientes opciones: N&uacute;cleo, Emisor, Adquirente, D&eacute;bito, Servicios, y Cliente.</p></td>
                  </tr>
                  
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Afecta batch </p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El campo 'Afecta batch'   muestra un combo con las siguientes opciones (S&iacute; y No).</p></td>
                  </tr>
                </table>
                <p>&nbsp;</p>
                <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un wizard de tres pasos: <em>Caso de uso, Recursos</em> y <em>Resumen</em>.</p>
                <blockquote>
                  <p align="left" class="PARRAFO"><span class="SUBTTLO2">Caso de uso : </span>En este primer paso se ingresa el nombre del <em>caso de uso</em> del cual se quiere relacionar una o varias URL's nuevas al rol seleccionado en el primer formulario. </p>
                </blockquote>
                <p align="center"><img src="../img/NUF_029B8.PNG" width="339" height="59"></p>
                <p align="left">&nbsp;</p>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'>
                    <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Caso de uso </p></td>
                    <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este campo  muestra lista de valores con todas las URL de los <a href="NUH_029B.html#Administracion" class="LINK2">casos de uso</a> ingresadas en este mismo caso.</p></td>
                  </tr>
                </table>
                <p>&nbsp;</p>
                <blockquote>
                  <p class="SUBTTLO2">Recursos: <span class="PARRAFO">En este formulario se muestran todas las URL relacionadas con el caso de uso seleccionado, tanto las que est&aacute;n asignadas actualmente al rol como las que no. Inicialmente se muestran todas seleccionadas con la posibilidad que escoger cu&aacute;les se retiran o se adicionan. </span></p>
                </blockquote>
                <p align="center"><img src="../img/NUF_029B9.PNG" width="667" height="275"></p>
                <p>&nbsp;</p>
                <blockquote>
                  <p class="SUBTTLO2">Resumen: <span class="PARRAFO">Este &uacute;ltimo formulario del wizard muestra las URL que hayan sido seleccionadas en el paso anterior. En &eacute;l se pueden <em>remover</em> aquellas que no desean ser adicionadas.</span> </p>
                </blockquote>
                <p align="center"><img src="../img/NUF_029B10.PNG" width="666" height="213"></p>
                <p>&nbsp;</p>
                <p align="center"><span class="TITLE">Copiar recursos por rol</span></p>
                <p class="PARRAFO">Esta opci&oacute;n permite al usuario copiar al rol seleccionado, todas las URL que pertenezcan al elegido en la lista de valores del campo Rol. </p>
                <p align="center"><img src="../img/NUF_029B11.PNG" width="243" height="69"></p>
                <p>&nbsp;</p>
                <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
                 mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                  <tr style'mso-yfti-irow:1'>
                    <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Rol</p></td>
                    <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este campo  muestra una lista de valores con todos los <a href="NUH_029B.html" class="LINK2">Roles</a> creados en el sistema. A trav&eacute;s del bot&oacute;n <em>Copiar de,</em> el sistema toma todas las URL del del <em>rol</em> elegido en la lista y las copia al seleccionado en el formulario principal de este caso.</p></td>
                  </tr>
                </table>
                <p>&nbsp;</p>
                <p align="center"><a href="NUH_029B.html">Formulario principal</a><span
                  style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="NUH_029B2.html">Restricciones</a></p>
                <p align="center">&nbsp;</p>
        </center>
    </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>