<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Ubicaci&oacute;n de archivos</p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Desde este formulario, se habilita 
              la consulta y mantenimiento de la tabla que contiene la informaci&oacute;n 
              de la ruta o localizaci&oacute;n de los distintos archivos de entrada principalmente 
              los cargues, los de salida e incluso los del log (auditoria) asociados a cada 
              uno de los diferentes roles del aplicativo. <br>
              </span></p>
            <p align="center"><img src="../img/NUF_053E.PNG" width="760" height="396"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO">El formulario contiene las opciones Actualizar, 
              Eliminar, Adicionar y Detalle. </p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><b style'mso-bidi-font-weight:normal'><span style'font-family:Arial;
              '>Adicionar</span></b><span style'font-family:Arial'>:</span><span style'font-family:Arial'></span></font></span><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'> 
              Si el usuario invoca la opci&oacute;n Adicionar se despliega un nuevo formulario</span></font></p>
            <p align="center"><img src="../img/NUF_053E1.PNG" width="436" height="507"></p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>M&oacute;dulo</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico, obligatorio, en el que se registra la abreviatura 
                    del m&oacute;dulo para el cual se va a definir la ubicaci&oacute;n de 
                    archivos. </p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Ubicaci&oacute;n entrada</span></b> base datos </p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico de 250 d&iacute;gitos, no obligatorio, en el que 
                    se registra la direcci&oacute;n o ruta de los archivos externos que 
                    alimentan al sistema. </p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Ubicaci&oacute;n salida</span></b> base datos </p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 250 d&iacute;gitos, no obligatorio, 
                    se registra la direcci&oacute;n o ruta en la que se sit&uacute;an los 
                    diversos archivos que genera el sistema y requeridos por los entes externos. 
                    <br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Ubicaci&oacute;n reportes </span></b>base datos</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    alfanum&eacute;rico de 250 d&iacute;gitos, no obligatorio, en el que 
                    se registra la direcci&oacute;n o ruta en la que se sit&uacute;an los 
                    diversos archivos en los que se guardan los reportes que genera el sistema. 
                    <br>
                  </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Ubicaci&oacute;n 
                     log</span></b> base datos </p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo alfanum&eacute;rico de 250 d&iacute;gitos, no obligatorio, 
                    se registra la direcci&oacute;n o ruta en la cual se guardan los archivos 
                    log de auditoria generados.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Ubicaci&oacute;n entrada Java </p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">&nbsp;</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Ubicaci&oacute;n salida Java </p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">&nbsp;</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Ubicaci&oacute;n reportes Java </p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">&nbsp;</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Usa 
                    log corto</span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    obligatorio tipo combo con las opciones Si o No. Cuando est&aacute; 
                    marcado Si, el sistema genera un log muy breve, y si el valor es No 
                    se genera un log detallado, acorde a las necesidades o pol&iacute;ticas 
                    definidas por la entidad.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Adici&oacute;n 
                  archivo log</span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                  este campo tipo combo, obligatorio, la entidad puede establecer si el 
                  log es actualizado cada vez que se carga o genera un archivo o si se 
                  acumulan de manera consecutiva. <br>
                </p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <div align="center">
              <p class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2"> 
                Actualizar</span></b>: Si el usuario selecciona un registro e invoca la 
                opci&oacute;n Actualizar se despliega un formulario en el cual el &uacute;nico 
                campo NO modificable es el M&oacute;dulo.<br>
              </p>
              <p><img src="../img/NUF_053E2.PNG" width="366" height="503"></p>
              <p>&nbsp;</p>
              <p><span class="PARRAFO"><b style'mso-bidi-font-weight:normal'><span class="SUBTTLO2">Detalle</span></b>: 
              si el usuario selecciona un registro e invoca la opci&oacute;n Detalle se 
              despliega un formulario con toda la informaci&oacute;n del registro y en el 
              cual ninguno de sus campos es modificable</span>.</p>
              <p><img src="../img/NUF_053E3.PNG" width="748" height="232"></p>
              <p>&nbsp;</p>
            </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>