<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Par&aacute;metros PCI DSS </p>
                  </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">PCI DSS sigla que corresponde a <em>Payment Card Industry Data Security Standard</em>, que en espa&ntilde;ol significa Est&aacute;ndar de Seguridad de Datos para la Industria de Tarjeta de Pago. OpenCard&reg;, debido al nivel espec&iacute;fico y personalizado de la informaci&oacute;n contenida, provee una data inicial la cual debe ser optimizada por la entidad en la que opera la aplicaci&oacute;n.  </span></p>
            <p align="justify"><span class="PARRAFO">El formulario contiene los enlaces <em>Actualizar </em></span><span class="#1">y</span><span class="PARRAFO"><em> Eliminar</em>. </span></p>
            <p align="center"><img src="../img/NUF_120E1.PNG" width="701" height="234"></p>
            <p align="justify">&nbsp;</p>
            <p align="justify"><span class="PARRAFO">Al activar el enlace <em>Actualizar</em>, el sistema despliega el siguiente formulario:</span></p>
            <p align="center"><img src="../img/NUF_120E2.PNG" width="605" height="445"></p>
            <p align="justify">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <p align="center" class="TITLE">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Activar PCI DSS</b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo obligatorio que posee lista de valores tipo combo, de la que debe seleccionarse entre <em>Nulo, Si</em> o <em>No</em> la entidad utiliza un protocolo de transferencia de archivos de entrada / salida, con o sin encripci&oacute;n / desencripci&oacute;n. <br>
                </p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
              <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>M&eacute;todo criptogr&aacute;fico (Claves de encripci&oacute;n)<br></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify"><span class="PARRAFO">Campo obligatorio que posee lista de valores tipo combo, de la que debe seleccionarse entre <em>Nulo, DES </em> o <em>3DES</em> la entidad </span></div></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
               <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Cantidad de claves<br></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify"><span class="PARRAFO">Campo num&eacute;rico de un solo d&iacute;gito, obligatorio, en el que la entidad debe registrar el n&uacute;mero total de claves </span></div></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
              <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Estado actual informaci&oacute;n<br>
              </b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify"><span class="PARRAFO">Campo obligatorio que posee lista de valores tipo combo, de la que debe seleccionarse entre <em>Nulo, Encriptada </em> o <em>Desencriptada</em> la entidad </span></div></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
              <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>M&aacute;scara PAN<br>
              </b></p></td>
              <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify"><span class="PARRAFO">Campo alfanum&eacute;rico de 24 posiciones, obligatorio, el cual &uacute;nicamente acepta caracteres especiales &quot;*&quot; o &quot;#&quot;, </span></div></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
               <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Campos PCI DSS<br>
              </b></p></td>
              <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify"><span class="PARRAFO">Campo obligatorio que posee lista de valores tipo combo, de la que debe seleccionarse entre <em>Nulo </em>o <em>T</em> la entidad</span></div></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
              <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Perfil administrador<br>
              </b></p></td>
              <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify"><span class="PARRAFO">Campo alfanum&eacute;rico de 16 posiciones, obligatorio, en el que la entidad relaciona </span></div></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
              <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Nombre administrador<br>
              </b></p></td>
              <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify"><span class="PARRAFO">Campo alfanum&eacute;rico de 30 posiciones, obligatorio, en el que la entidad relaciona </span></div></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
              <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Correo electr&oacute;nico administrador<br>
              </b></p></td>
              <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify"><span class="PARRAFO">Campo alfanum&eacute;rico, obligatorio, en el que si bien puede contener hasta 60 posiciones, el formulario valida que su estructura o formato corresponda a una direcci&oacute;n electr&oacute;nica, en la que se pueda contactar al funcionario indicado en el campo <em>Nombre administrador</em>. </span></div></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
              <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Vigencia desde<br>
              </b></p></td>
              <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify"><span class="PARRAFO">Campo obligatorio que ofrece la funcionalidad de calendario, mediante la cual la entidad define en formato <span class="#2">AAAA-MM-DD</span> la fecha apartir de la cual </span></div></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
              <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Actualizar hist&oacute;rico<br>
              </b></p></td>
              <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify"><span class="PARRAFO">Campo obligatorio que posee lista de valores tipo combo, de la que debe seleccionarse entre <em> Si</em> o <em>No</em> la entidad </span></div></td>
              </tr>
              <tr style'mso-yfti-irow:1'>
              <td width="201" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Programa administraci&oacute;n<br>
              </b></p></td>
              <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><div align="justify"><span class="PARRAFO">Campo alfanum&eacute;rico </span><span class="PARRAFO"> de 30 posiciones, obligatorio, en el que la entidad define el nombre del programa </span></div></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <div align="center">
              <p>&nbsp;</p>
            </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>