<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">&nbsp;</p>
                    <p align="center" class="TITLE">Consulta 
                      de clave</p>
                </div></td>
              </tr>
            </table>
            <p align="justify"><span class="PARRAFO">Mediante esta función se habilita 
              la consulta de aquellos plásticos que ya pasaron por la etapa de<em> 
              <a href="PLH_014B.html" class="LINK2">sobreflex de clave.</a></em></span></p>
            <p align="justify"><span class="PARRAFO">Al ingresar a la opción, el 
              usuario se encuentra con un fitro en el cual se diligencian los datos que 
              permitan especificar las tarjetas que se desea consutar, siendo obligatorio 
              el diligenciamento como mínimo de uno de los filtros.</span><span class="PARRAFO"><br>
              </span></p>
            <p align="center"><img src="../img/PLF_016E.PNG" width="666" height="168"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripción de campos</p>
            <div align="justify"> 
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Número 
                      tarjeta </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      alfanumúrico de hasta 23 posiciones en el que se puede ingresar 
                      el número de alguna tarjeta en particular que se desee consultar.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Nombre 
                      plástico </span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo se ingresa como criterio para la consulta el nombre del 
                      cliente tal y como aparece realzado en el plástico que se desea 
                      consultar. </p></td>
                </tr>
              </table>
              <table width=743 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Producto 
                      plástico </span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      con lista de valores de la que se puede seleccionar el <a href="MEH_002B.html" class="LINK2"><em>producto</em></a> 
                      al cual pertenecen los plásticos que se desea consultar</p></td>
                </tr>
              </table>
              <table width=743 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Marca</span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo con lista de valores, se selecciona según el caso 
                      la <a href="NUH_033B.html" class="LINK2"><em>marca</em></a> asociada 
                      con los productos a los que pertenecen los plásticos que se 
                      desea consultar.</p></td>
                </tr>
              </table>
              <table width=718 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Origen</span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    Tipo combo en el cual se selecciona el evento que dio origen a la solicitud de los plásticos que se desea consultar. Las opciones contenidas en este combo son Crédito empresarial corporativo, Crédito convenio, Renovación individual crédito, Renovación masiva crédito, Reexpedición crédito, Crédito normal, Tarjeta débito, Cambio masivo de productos crédito, Recordatorio sobreflex de clave, Reposición, Reactivación, Renovación masiva débito, Reexpedición débito, Renovación débito, Reposición débito y Renovación masiva débito.
                  </p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Solicitud</span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                      este campo numerico se puede ingresar el número de la 
                      solicitud específica para la cual se desean consultar los plásticos.</p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'> 
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Modelo 
                      plástico </span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                      con lista de valores que permite seleccionar el <span class="LINK2"><em><a href="NUH_057B.html" class="LINK2">modelo 
                      de plástico</a></em></span> asociado con las tarjetas para 
                      las cuales se desea consultar información.<br>
                    </p></td>
                </tr>
              </table>
            </div>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">U<span class="PARRAFO">na vez seleccionados 
              los criterios y utilizando el botón buscar, se despliega un nuevo formulario 
              en el que se muestran todos los registros que cumplen con las condiciones 
              indicadas por el usuario mostrando para cada uno de ellos el número 
              de tarjeta, el nombre realzado en el plástico, el número del 
              plstico y la fecha de realce. </span></p>
            <p align="center" class="PARRAFO">Es de aclarar, que en el caso que las tarjetas 
              desplegadas correspondan a tipo débito generadas masivamente, el campo 
              <em>Nombre plástico</em> se mostrar en blanco.</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO">El formulario solo cuenta 
              con la opción <em>Detalle</em>. </span></p>
            <p align="center"><img src="../img/PLF_016E1.PNG" width="697" height="423"></p>
            <p align="center" class="TITLE">&nbsp;</p>
            <p align="left" class="PARRAFO"><a name="BL_DETALLE"><span class="SUBTTLO2"><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'><b style'mso-bidi-font-weight:normal'>Detalle</b>:</span></font></span><font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'> 
              si el actor selecciona algún registro e invoca la opción adicionar, 
              se despliega un formulario con la información completa del registro 
              y en el cual ninguno de sus campos es modificable. </span></font></p>
            <p align="center"><img src="../img/PLF_016E2.PNG" width="789" height="381"></p>
            <p align="left" class="PARRAFO">&nbsp;</p>
            <p align="center" class="TITLE">Descripci&oacute;n de campos</p>
            <div align="justify">
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>N&uacute;mero 
                    tarjeta </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    en el que se despliega el n&uacute;mero de tarjeta para el cual se 
                    est&aacute; consultando la informaci&oacute;n.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Nombre 
                    pl&aacute;stico </span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se muestra el nombre del cliente titular de la tarjeta 
                    tal y como aparece realzado en el pl&aacute;stico.</p></td>
                </tr>
              </table>
              <table width=743 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'>
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>N&uacute;mero</span><span style'font-family:Arial'> pl&aacute;stico </span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que contiene el consecutivo que identifica el pl&aacute;stico utilizado 
                    durante el proceso de embosado o realce de la tarjeta.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Consecutivo 
                    pl&aacute;stico </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que contiene el consecutivo que identifica el registro asociado a 
                    la tarjeta dentro del archivo de realce.</p></td>
                </tr>
              </table>
              <table width=743 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Nombre 
                    archivo realce</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Despliega 
                    el nombre del archivo de realce dentro del cual se incluy&oacute; 
                    el registro correspondiente al pl&aacute;stico asociado al n&uacute;mero 
                    de tarjeta.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                    / hora realce</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Indica 
                    la fecha y hora en la cual se gener&oacute; el archivo de realce en 
                    el cual se encuentra contenida la tarjeta consultada.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Archivo 
                    sobreflex de clave</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Despliega 
                    el nombre del archivo de sobreflex de clave dentro del cual se incluy&oacute; 
                    el registro correspondiente a la informaci&oacute;n del PIN o clave 
                    de la tarjeta.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                    / hora sobreflex de clave</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que contiene la fecha y hora en la que se gener&oacute; el archivo 
                    mediante el que se genera el sobreflex con el PIN o clave que permite 
                    al cliente el uso del pl&aacute;stico. </p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                    / hora inventario</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Muestra 
                    la fecha y hora en la cual se aplic&oacute; el control de inventario 
                    a la tarjeta y mediante la cual se le asign&oacute; a la tarjeta el 
                    n&uacute;mero de pl&aacute;stico respectivo.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                    / hora sobreflex de empaque</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que contiene la fecha y hora en la que se gener&oacute; el archivo 
                    mediante el que se imprimen los sobres de seguridad en los cuales 
                    son empacados los pl&aacute;sticos para ser enviados al cliente.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                    / hora env&iacute;o mensajer&iacute;a</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                    campo muestra la fecha y hora en la que se gener&oacute; el archivo 
                    con el cual se envi&oacute; a la empresa de mensajer&iacute;a el pl&aacute;stico 
                    realzado con el fin de ser entregado al cliente.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                    / hora acuse</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que muestra la fecha y hora en la cual se registr&oacute; en el sistema 
                    la aceptaci&oacute;n o rechazo del pl&aacute;stico por parte del cliente.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Pl&aacute;stico aceptado</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se indica <em>Si</em> o <em>No</em> el cliente acept&oacute; 
                    el pl&aacute;stico realzado y enviado por la entidad financiera.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Nombre empresa</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Para 
                    el caso de tarjetas de productos empresariales, en este campo se muestra 
                    el nombre de la empresa a la cual se le aprob&oacute; la obligaci&oacute;n 
                    por parte de la entidad.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Tipo 
                    pl&aacute;stico </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que indica si el pl&aacute;stico asociado con la tarjeta consultada 
                    corresponde a un <em>Pl&aacute;stico principal</em> es decir, a la 
                    materializaci&oacute;n del cr&eacute;dito otorgado, u <em>Otro pl&aacute;stico</em> en caso de aquellos <em><a href="MEH_002B4.html" class="LINK2">pl&aacute;sticos 
                      secundarios</a></em> o accesorios que de acuerdo con lo definido en 
                    el producto se entregan adicionalmente a la tarjeta propiamente dicha 
                    y que sirven para formalizar extensi&oacute;n de beneficios o un trato 
                    preferencial a los titulares de los mismos.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Foto 
                    cliente </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Indica 
                    si de acuerdo con los par&aacute;metros del <a href="MEH_002B.html" class="LINK2"><em>producto</em></a> y las caracter&iacute;sticas del modelo de pl&aacute;stico asociado, 
                    el pl&aacute;stico lleva impresa o no la fotograf&iacute;a del cliente.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Nombre 
                    otro pl&aacute;stico</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Cuando 
                    en el campo <em>Tipo pl&aacute;stico</em> se indica que el registro 
                    corresponde a <a href="MEH_030B.html" class="LINK2"><em>Otro pl&aacute;stico</em></a>, 
                    en este campo se muestra la descripci&oacute;n o nombre del mismo.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Producto</span></b> pl&aacute;stico </p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se muestra el bin, segmento, grupo de afinidad y descripci&oacute;n 
                    del producto al que pertenece la tarjeta.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Secuencia</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que muestra la secuencia asignada internamente por el sistema y de 
                    manera autom&aacute;tica a cada uno de los pl&aacute;sticos que ingresan 
                    a la etapa de realce, lo que permite diferenciarlo de los dem&aacute;s.<br>
                  </p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Marca</span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se despliega la <a href="NUH_033B.html" class="LINK2"><em>marca</em></a> asociada con el producto al que pertenece el pl&aacute;stico del cual 
                    se est&aacute; consultando el detalle.</p></td>
                </tr>
              </table>
              <table width=718 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'>
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Origen</span></b> registro </p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                    campo muestra el evento que di&oacute; origen a la solicitud de los 
                    pl&aacute;sticos que se desea consultar para realce. Las opciones 
                    contenidas en este combo son <em>Cr&eacute;dito empresarial corporativo, 
                      Cr&eacute;dito convenio, Renovaci&oacute;n individual cr&eacute;dito, 
                      Renovaci&oacute;n masiva cr&eacute;dito, Reexpedici&oacute;n cr&eacute;dito, 
                      Cr&eacute;dito normal, Tarjeta d&eacute;bito, Cambio masivo de productos 
                      cr&eacute;dito, Recordatorio sobreflex de clave, Reposici&oacute;n, 
                      Reactivaci&oacute;n, Renovaci&oacute;n masiva d&eacute;bito, Reexpedici&oacute;n 
                      d&eacute;bito, Renovaci&oacute;n d&eacute;bito, Reposici&oacute;n 
                      d&eacute;bito </em>y<em> Renovaci&oacute;n masiva d&eacute;bito.</em></p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Secuencia solicitud</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que contiene el n&uacute;mero o secuencia de la solicitud a la cual 
                    se encuentra asociado el pl&aacute;stico actual.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                    / hora aprobaci&oacute;n </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que contiene la fecha y hora en la cual se aprob&oacute; la solicitud 
                    mediante la cual se incluy&oacute; el registro en la etapa de pl&aacute;sticos 
                    correspondiente (realce o sobreflex de clave).</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                    vigencia</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se muestra la fecha a partir de la cual tiene vigencia 
                    el pl&aacute;stico del cual se est&aacute; consultando el detalle.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Fecha 
                    vencimiento</span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que contiene la fecha hasta la cual tiene vigencia o validez el pl&aacute;stico 
                    de acuerdo con lo parametrizado para el producto al que pertenece.</p></td>
                </tr>
              </table>
              <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Sucursal 
                    radicaci&oacute;n </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se muestra el c&oacute;digo de la <a href="NUH_020B.html" class="LINK2"><em>sucursal</em></a> ante la cual se encuentra radicada la obligaci&oacute;n que origina 
                    la generaci&oacute;n del pl&aacute;stico.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Sucursal 
                    regional </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    en el que se despliega la c&oacute;digo de la <a href="NUH_020B.html" class="LINK2"><em>sucursal</em></a> a la cual se encuentra adscrita o pertence la obligaci&oacute;n.</p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Oficina 
                    env&iacute;o </span></b></p></td>
                  <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">En 
                    este campo se muestra el c&oacute;digo de la <a href="NUH_020B.html" class="LINK2"><em>sucursal</em></a> de la entidad a la que se va a enviar el pl&aacute;stico </p></td>
                </tr>
                <tr style'mso-yfti-irow:1'>
                  <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Modelo 
                    pl&aacute;stico </span></b></p></td>
                  <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Campo 
                    que muestra el <span class="LINK2"><em><a href="NUH_057B.html" class="LINK2">modelo 
                      de pl&aacute;stico</a></em></span> a utilizar para elaborar el realce 
                    o embozado de la tarjeta.<br>
                  </p></td>
                </tr>
              </table>
            </div>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Proveedor</span><span style'font-family:Arial'> pl&aacute;stico </span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Este 
                  campo muestra el nombre del <a href="NUH_063B.html" class="LINK2"><em>proveedor</em></a> encargado de suministrar el pl&aacute;stico en el cual se va a efectuar 
                  el realce de la tarjeta.</p></td>
              </tr>
            </table>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'>
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>N&uacute;mero remisi&oacute;n</span></b></p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p align="justify" class="PARRAFO">Despliega el n&uacute;mero de documento con el cual se remisionaron los pl&aacute;sticos 
                  durante el proceso de <a href="PLH_008B.html" class="LINK2"><em>realce</em></a> que se hace desde esta misma
                  opci&oacute;n. </p></td>
              </tr>
            </table>
        </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>