<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Par&aacute;metros solicitudes por producto</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTTLO2">Relaci&oacute;n laboral producto:</span> 
              Conjunto de campos en los que el sistema eval&uacute;a el tipo de relaci&oacute;n 
              laboral que detente el solicitante, para que de acuerdo con los otros par&aacute;metros, 
              se facilite la asignaci&oacute;n del cupo a &eacute;stas solicitudes.</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              y Adicionar. Adicionalmente, tiene un bot&oacute;n en la parte superior para 
              volver al formulario anterior: <a href="SOH_001B7d.html">Relaciones laborales</a>.</p>
            <p align="center"><img src="../img/SOF_001B51.PNG" width="306" height="190"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si 
              el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con 
              los siguientes campos<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/SOF_001B52.PNG" width="549" height="145"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Calificaci&oacute;n 
                    inicial </p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    num&eacute;rico de 6 d&iacute;gitos obligatorio en el que debe registrarse 
                    la calificaci&oacute;n inicial del rango acorde con el tipo de relaci&oacute;n 
                    laboral y para el que se determina una f&oacute;rmula espec&iacute;fica.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Calificaci&oacute;n 
                    final </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo num&eacute;rico de 6 d&iacute;gitos, obligatorio, debe registrarse 
                    la calificaci&oacute;n final del rango acorde con el tipo de relaci&oacute;n 
                    laboral y para el que se determina una f&oacute;rmula espec&iacute;fica.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">F&oacute;rmula 
                    cupo </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que se define la combinatoria u operaciones que pueden darse entre 
                    o con las variables del cupo, parametrizadas en el tab del mismo nombre, 
                    antecedidas, cada una por la letra V, y establecer la f&oacute;rmula 
                    mediante la que el sistema obtiene el valor del cupo a asignar de acuerdo 
                    a los rango de calificaci&oacute;n dados a cada tipo de relaci&oacute;n 
                    laboral y para el caso de Crediagil tambi&eacute;n se tiene en cuenta 
                    los productos que posee con la entidad.</p></td>
              </tr>
            </table>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los campos modificables son: Calificaci&oacute;n inicial, Calificaci&oacute;n 
              final, y F&oacute;rmula cupo.</span></p>
            <p align="center"><img src="../img/SOF_001B53.PNG" width="549" height="147"></p>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO">&nbsp;</p>
            <p align="center"><a href="SOH_001B7.html">Solicitudes</a><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="SOH_001B7b.html">Etapas</a><b><span style'font-size:10.0pt;font-family:Arial'> 
              | </span></b><a href="SOH_001B7c.html">Cupos extendidos</a><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="SOH_001B7e.html">Cupos 
              m&iacute;n y m&aacute;x por rango</a><b><span style'font-size:10.0pt;font-family:Arial'> 
              <b>|</b></span></b><span style'font-size:10.0pt;font-family:Arial'> </span><a href="SOH_001B7f.html">Copiar 
              par&aacute;metros</a><span style'font-size:10.0pt;font-family:Arial'> </span></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>