<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2"> 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Consulta de etapas </p>
                    </div></td>
              </tr>
            </table>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Consultar etapas:</span> 
              Si el usuario invoca la opci&oacute;n la consulta de etapas se despliega el 
              siguiente formulario, el cual se va alimentando a medida que la solicitud 
              avanza de etapa hasta ser Aprobada.<span
              style'font-family:Arial'><o:p></o:p> </span></p>
            <p align="center"><img src="../img/SOF_003B3c.PNG" width="597" height="164"></p>
            <p>&nbsp;</p>
            <p><span class="SUBTTLO2">Documentos requeridos:</span></p>
            <p><span class="SUBTTLO2">Scoring:</span></p>
            <p><span class="SUBTTLO2">Central riesgos:</span></p>
            <p><span class="SUBTTLO2">Verificaci&oacute;n referencias:</span></p>
            <p>&nbsp;</p>
            <p class="PARRAFO">&nbsp;</p>
            <p>&nbsp;</p>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span
              style'font-family:Arial'><o:p></o:p> </span></p>
            <p align="center">&nbsp;</p>
            <p align="center">&nbsp;</p>
            <p align="center"><span style'font-size:10.0pt;font-family:Arial'><b><span class="PARRAFO"><a href="SOH_005B1.html" class="LINK2">Informaci&oacute;n 
              general</a> | </span></b></span> <b> <b> <span class="PARRAFO"><a href="SOH_005B2.html" class="LINK2">L&iacute;neas 
              de cr&eacute;dito</a> |</span></b></b> <a href="SOH_005B3.html" class="LINK2">Documentos</a> 
              <b><b><span class="PARRAFO">|</span></b></b> <span class="PARRAFO"><a href="SOH_005B5.html" class="LINK2">Ingreso 
              de Adicionales</a></span> </p>
            </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>