<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Ingreso de solicitudes Cr&eacute;dito 
                      nuevo - Adicionales</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="PARRAFO">Cuando el usuario selecciona el cr&eacute;dito 
              nuevo para <em>Titular con adicionales</em>, el sistema cuestiona si la solicitud 
              ha sido negada previamente o no y enseguida se despliega un wizard de tres 
              pasos. En el primero de ellos se ingresa toda la Informaci&oacute;n general 
              del cliente. Los otros dos formularios son <b><b><span class="PARRAFO"><a href="SOH_005B2.html" class="LINK2">L&iacute;neas 
              de cr&eacute;dito</a></span></b></b> y <a href="SOH_005B3.html" class="LINK2">Documentos</a><font face="Arial, Helvetica, sans-serif"><span style"font-family: Arial">, 
              a los cuales se llega a trav&eacute;s de los botones ubicados en la parte 
              inferior del formulario.</span></font></span></p>
            <p class="PARRAFO"><span style"font-family: Arial">Por otro lado, cuando es 
              seleccionado el Cr&eacute;dito nuevo para <em>Solo titular,</em> el sistema 
              mostrar&aacute; el mismo formulario omitiendo los siguintes campos: Tipo de 
              tarjeta adicional del bloque <em>Informaci&oacute;n b&aacute;sica</em>; y 
              los campos del bloque <em>Cupo global</em>.</span></p>
            <p align="left" class="PARRAFO"><span style"font-family: Arial">Los bloques 
              y la informaci&oacute;n del primer paso del wizard son:</span></p>
            <p align="center" class="PARRAFO"><span class="SUBTTLO2">Informaci&oacute;n 
              b&aacute;sica </span></p>
            <p align="center"><img src="../img/SOF_003B1.PNG" width="836" height="573"></p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Producto 
                    solicitado / asignado</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio que muestra 
                    el producto seleccionado en el formulario anterior.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Direcci&oacute;n 
                    Cr&eacute;dito</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio
                    que despliega la nomenclatura de la direcci&oacute;n a la que el cliente 
                    desea le sea enviada la correspondencia relacionada con su obligaci&oacute;n.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Grupo 
                    afinidad oficina</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores poblada en el tab Grupos afinidad de la opci&oacute;n 
                    Definici&oacute;n Bines, de la que debe seleccionarse el grupo correspondiente 
                    que permite el otorgamiento de beneficios por la colocaci&oacute;n de 
                    nuevos productos.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Emite 
                    pl&aacute;stico</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Dependiendo 
                    de lo definido previamente para el <a href="MEH_002B.html" class="LINK2">producto</a> 
                    y de acuerdo con el tipo de solicitud, en este campo obligatorio se se&ntilde;ala 
                    si debe o no generarse pl&aacute;stico.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="51" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'> 
                  <p class="SUBTITULO">Realce</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Muestra 
                    por defecto c&oacute;mo aparecer&aacute; en el pl&aacute;stico el nombre 
                    del cliente. Este campo es obligatorio y es susceptible de ser modificado.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Empresa/convenio 
                    en realce</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio que posee lista de valores mediante la cual se le indica al sistema 
                    si dentro del archivo de realce, y para las solicitudes que apliquen, 
                    se incluye o no el nombre de la empresa (tarjetas empresariales) o el 
                    nombre del convenio a trav&eacute;s del que se expide la tarjeta.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Foto 
                    cliente</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio
                    que indica si la solicitud implica la inclusi&oacute;n o no de la fotograf&iacute;a 
                    del cliente en el pl&aacute;stico.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Convenio</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio que muestra el c&oacute;digo del convenio y su correspondiente descripci&oacute;n, 
                    si la tarjeta principal posee un determinado convenio.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tarjeta 
                    depende virtual</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este 
                    campo aplica para aquellos productos que disponen de alternativas de 
                    uso virtual, como por ejemplo las tarjetas, y despliega el n&uacute;mero 
                    de la tarjeta principal de la que depende. Para esto es necesario haber 
                    diligenciado previamente el campo Porcentaje Ppal para Tarj virtual 
                    contenido en la pesta&ntilde;a Cr&eacute;ditos nuevos, del tab Eventos, 
                    en la opci&oacute;n <a href="MEH_002B.html" class="LINK2">Definici&oacute;n de producto</a>.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Ciclo 
                    facturaci&oacute;n</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio
                    que posee lista de valores poblada mediante la opci&oacute;n Ciclos 
                    de facturaci&oacute;n del m&oacute;dulo de Cartera y Contabilidad, de 
                    la que se puede seleccionar el ciclo de cortes peri&oacute;dicos acorde 
                    con las pol&iacute;ticas de la entidad o el que mejor se acomode a los 
                    flujos de caja del cliente.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Promoci&oacute;n</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">A 
                    trav&eacute;s de una lista de valores poblada previamente en la opci&oacute;n 
                    <a href="MEH_005B.html" class="LINK2">Promociones para colocaci&oacute;n</a>, la entidad 
                    selecciona el mecanismo por el cual adquiri&oacute; ese nuevo cliente, 
                    quien se har&aacute; acreedor de todos los incentivos de dicho programa.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Modalidad 
                    cr&eacute;dito</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio que posee lista de valores adjunta de la que debe seleccionarse entre 
                    Comercial, Microcr&eacute;dito o Consumo, la modalidad de cr&eacute;dito 
                    a la que corresponda la solicitud; la informaci&oacute;n de este campo 
                    es de gran importancia por sus implicaciones contables y en la <a href="NUH_066B.html" class="LINK2">calificaci&oacute;n</a> 
                    de la cartera.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Informaci&oacute;n 
                    extracto</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio que ilustra la manera como ser&aacute;n presentados los movimientos 
                    del producto en los cortes peri&oacute;dicos, de acuerdo con lo definido 
                    previamente a nivel del <a href="MEH_002B.html" class="LINK2">producto</a>. Este dato 
                    ser&aacute; inmodificable si ya se ha definido en la opci&oacute;n <a href="MEH_002B.html" class="LINK2">productos</a>, 
                    de lo contrario se podr&aacute; modificar.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    extracto</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio de salida, que muestra el tipo de extracto asociado al producto. El 
                    dato desplegado es el que se define a nivel de <a href="MEH_002B.html" class="LINK2">producto</a>, 
                    y no se permite su modificaci&oacute;n.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Entrega 
                    extracto</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio que posee lista de valores adjunta en la que es posible indicar el destino 
                    del reporte peri&oacute;dico de movimiento (extracto), para lo cual 
                    se dispone de Punto de entrega, Oficina (radicaci&oacute;n) o Direcci&oacute;n 
                    (correspondencia).</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Punto 
                    de entrega</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Lista 
                    de valores que s&oacute;lo se habilita si esta opci&oacute;n es seleccionada 
                    en el campo Entrega extracto.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Punto 
                    env&iacute;o tarjeta</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores adjunta en la que es posible indicar el destino 
                    del pl&aacute;stico del producto, para lo cual se dispone de Direcci&oacute;n 
                    del cliente, Agente de venta, Otra oficina, Oficina de radicaci&oacute;n 
                    u Otra oficina.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    garant&iacute;a</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio que posee lista de valores adjunta de la que debe seleccionarse entre 
                    Personal o Real seg&uacute;n la clase de aval que respalda la obligaci&oacute;n; 
                    al igual que la Modalidad cr&eacute;dito, impacta la parte contable 
                    y la calificaci&oacute;n de la cartera.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">C&oacute;digo 
                    alterno</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que contiene una lista de valores que permite escoger un c&oacute;digo 
                    alterno que estar&aacute; ubicado dentro del n&uacute;mero de la tarjeta 
                    seg&uacute;n la parametrizaci&oacute;n definida en la opci&oacute;n 
                    <a href="NUH_052B.html" class="LINK2">Par&aacute;metros n&uacute;mero de tarjeta</a> 
                    de tablas de la entidad financiera en El N&uacute;cleo.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Marca</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio de salida que indica la Marca a la cual pertenece el producto solicitado 
                    para el Cr&eacute;dito nuevo.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    acci&oacute;n</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que se activa si ha sido definido previamente para el <a href="MEH_002B.html" class="LINK2">producto</a>, 
                    y permite registrar el n&uacute;mero de acci&oacute;n de un club o similares.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tarjeta 
                    masificadora</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que contiene una lista de valores para seleccionar un n&uacute;mero 
                    de tarjeta, v&aacute;lido dentro del sistema y que pertenece al mismo 
                    cliente, a partir del cual o que sirve como base para el proceso de 
                    masificaci&oacute;n de productos, dirigidos a clientes que ya posean 
                    alg&uacute;n producto con la entidad.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Esquema 
                    puntajes</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores poblada por medio de la opci&oacute;n <a href="MEH_006B.html" class="LINK2">Esquemas 
                    de puntaje</a>, de la que puede seleccionarse aquel dentro del cual 
                    el uso del producto reportar&aacute; beneficios al cliente.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Estado 
                    actual </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio que ilustra la condici&oacute;n en la que se encuentra la respectiva 
                    solicitud.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    tarjeta Adicional</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio que posee una lista de valores (se muestra para Titular con adicionales), 
                    que permite seleccionar entre Extendida, Adicional o Amparada; el tipo 
                    de tarjeta adicional para la que se desea crear el cr&eacute;dito nuevo 
                    .</p>
                </td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Codeudor y referido</span></p>
            <p align="center"><img src="../img/SOF_003B2.PNG" width="738" height="217"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="221" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Codeudor 
                    tipo identificaci&oacute;n y n&uacute;mero<br>
                  </p></td>
                <td width="494" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio en el que debe registrarse, si aplica, el tipo y n&uacute;mero de documento 
                    de identificaci&oacute;n correspondiente al avalista de la obligaci&oacute;n, 
                    para lo que se requiere que previamente exista alg&uacute;n tipo de 
                    relaci&oacute;n entre ambos clientes.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Referido 
                    por el cliente tipo identificaci&oacute;n y n&uacute;mero<br>
                  </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que debe registrarse, si aplica, el tipo y n&uacute;mero de documento 
                    de identificaci&oacute;n correspondiente al cliente de la entidad quien 
                    refiere al solicitante, informaci&oacute;n requerida para el otorgamiento 
                    de premios.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tarjeta 
                    que refiere<br>
                  </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores de la que debe seleccionarse, si aplica, 
                    el n&uacute;mero del producto asociado al cliente que refiere al solicitante 
                    de la presente.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Premio 
                    presente amigo </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores poblada a trav&eacute;s de la opci&oacute;n 
                    Premios puntaje del m&oacute;dulo de Lealtad, lo que permite determinar 
                    el tipo o clase de retribuci&oacute;n a la cual se hace acreedor el 
                    cliente que presenta nuevos clientes a quienes les sean asignados nuevos 
                    cr&eacute;ditos.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Sucursales</span></p>
            <p align="center"><img src="../img/SOF_003B4.PNG" width="749" height="157"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="203" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Sucursal 
                    radicaci&oacute;n<br>
                  </p></td>
                <td width="512" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo obligatorio
                    que posee lista de valores poblada por medio de la opci&oacute;n <a href="NUH_020B.html" class="LINK2">Estructura 
                    org&aacute;nica</a>, de la que debe seleccionarse la oficina que corresponda 
                    con la ubicaci&oacute;n actual del cliente.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Oficina 
                    venta </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores poblada a trav&eacute;s de la opci&oacute;n 
                    <a href="NUH_020B.html" class="LINK2">Estructura org&aacute;nica</a>, de la que debe 
                    seleccionarse la oficina mediante la que se materializ&oacute; la venta 
                    del producto.</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Oficina 
                    env&iacute;o</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores poblada mediante de la opci&oacute;n <a href="NUH_020B.html" class="LINK2">Estructura 
                    org&aacute;nica</a>, de la que debe seleccionarse el c&oacute;digo de 
                    la oficina a la que debe canalizarse el env&iacute;o de los productos.</p>
                </td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Informaci&oacute;n CDT</span></p>
            <p align="center"><img src="../img/SOF_003B5.PNG" width="751" height="145"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="203" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Oficina 
                    C.D.T.<br>
                  </p></td>
                <td width="512" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores poblada por medio de la opci&oacute;n de 
                    Estructura org&aacute;nica, de la que debe seleccionarse si es el caso, 
                    el c&oacute;digo de la oficina en la que se constituye el C.D.T. que 
                    sirve como garant&iacute;a para los clientes solicitantes de tarjeta 
                    garantizada.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    apertura C.D.T.</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en formato YYYY-MM-DD que contiene, cuando aplica, la fecha en que el 
                    C.D.T. fue aperturado. </p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Monto 
                    C.D.T. </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que se debe registrar, si aplica, el monto o valor inicial del 
                    C.D.T. aperturado como garant&iacute;a del cr&eacute;dito solicitado.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Plazo 
                    C.D.T.</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Si 
                    aplica, debe contener el plazo inicial de vigencia del C.D.T. aperturado 
                    como garant&iacute;a del cr&eacute;dito solicitado.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    C.D.T.</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Si 
                    aplica, debe contener el n&uacute;mero del C.D.T. aperturado como garant&iacute;a 
                    del cr&eacute;dito solicitado.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    vence C.D.T.</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Si 
                    aplica, debe contener en formato YYYY-MM-DD la fecha en que vence el 
                    C.D.T. aperturado.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Agentes</span></p>
            <p align="center"><img src="../img/SOF_003B6.PNG" width="870" height="231"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="203" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Agente 
                    promotor tipo identificai&oacute;n y n&uacute;mero</p></td>
                <td width="512" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Permite 
                    el ingreso del tipo y n&uacute;mero del documento de identidad del colaborador 
                    que realiz&oacute; las gestiones comerciales y operativas tendientes 
                    a la materializaci&oacute;n de la venta del producto, el cual debe haberse 
                    registrado previamente en la opci&oacute;n <a href="NUH_045B.html" class="LINK2">Funcionarios</a> 
                    de las tablas de la entidad financiera del m&oacute;dulo N&uacute;cleo.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Agente 
                    referido tipo identificai&oacute;n y n&uacute;mero</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Permite 
                    el ingreso del tipo y n&uacute;mero del documento de identidad del colaborador 
                    que realiz&oacute; gestiones complementarias y operativas, adicionales 
                    a las efectuadas por el agente promotor, tendientes a la materializaci&oacute;n 
                    de la venta del producto, el cual debe haberse registrado previamente 
                    en la opci&oacute;n <a href="NUH_045B.html" class="LINK2">Funcionarios</a>.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Gerente 
                    cuenta tipo identificai&oacute;n y n&uacute;mero</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO"> 
                    Permite el ingreso del tipo y n&uacute;mero del documento de identidad 
                    del colaborador que en algunas entidades, corresponde al ejecutivo a 
                    quien se le asigna la administraci&oacute;n de producto; los empleados 
                    que detenten ese perfil deben ser definidos previamente en la opci&oacute;n 
                    <a href="NUH_045B.html" class="LINK2">Funcionarios</a> de las tablas de la entidad 
                    financiera del m&oacute;dulo N&uacute;cleo.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Agente 
                    venta tipo identificai&oacute;n y n&uacute;mero</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Permite 
                    el ingreso del tipo y n&uacute;mero del documento de identidad del colaborador 
                    que realiz&oacute; las gestiones comerciales y operativas tendientes 
                    a la materializaci&oacute;n de la venta del producto, el cual debe haberse 
                    registrado previamente en la opci&oacute;n <a href="NUH_045B.html" class="LINK2">Funcionarios</a>.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Cuentas</span></p>
            <p align="center"><img src="../img/SOF_003B7.PNG" width="870" height="338"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="203" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    cuenta a debitar</p></td>
                <td width="512" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    el evento en que el cliente desee que los pagos de su producto se hagan 
                    a trav&eacute;s de un d&eacute;bito autom&aacute;tico, en este campo 
                    se define a trav&eacute;s de que clase de cuenta se realizar&aacute; 
                    &eacute;ste.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Sucursal 
                    cuenta</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que permite registrar el c&oacute;digo de la sucursal donde el N&uacute;mero 
                    cuenta pertenece.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Cuenta 
                    a debitar</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo se registra el n&uacute;mero de la cuenta sobre la cual se 
                    efectuar&aacute; el d&eacute;bito autom&aacute;tico.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    d&eacute;bito</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Se 
                    determina c&oacute;mo se realizar&aacute; el d&eacute;bito autom&aacute;tico, 
                    es decir si del monto a debitar por determinada obligaci&oacute;n corresponde 
                    a Pago total (saldo de la deuda) o Parcial (pago m&iacute;nimo).</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Moneda 
                    cuenta debitar</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Corresponde 
                    a la clase de moneda en la cual est&aacute; expresada la cuenta sobre 
                    la cual se realizar&aacute; el d&eacute;bito autom&aacute;tico. A trav&eacute;s 
                    de la lista de valores poblada previamente en la opci&oacute;n <a href="NUH_005B.html" class="LINK2">Monedas</a> 
                    de la tablas corporativas del m&oacute;dulo N&uacute;cleo, es posible 
                    realizar la selecci&oacute;n.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    cuenta desembolso</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Este 
                    campo aplica y es obligatorio para aquellos cr&eacute;ditos asociados 
                    a <a href="MEH_002B.html" class="LINK2">productos</a> en los que en la opci&oacute;n 
                    Eventos &#8211; Nuevos cr&eacute;ditos se haya activado el campo Producto 
                    con desembolsos, caso en el que se requiere disponer de una cuenta corriente 
                    o de ahorro donde se puedan efecutar los respectivos desembolsos.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">N&uacute;mero 
                    cuenta desembolso</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Contiene 
                    el n&uacute;mero de la cuenta corriente o de ahorro a afectar con los 
                    desembolsos parciales.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Productos 
                    con entidad</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    inicialmente de car&aacute;cter informativo, que aplica y es obligatorio 
                    para el producto Crediagil, siempre y cuando deba surtirse la etapa 
                    de asignaci&oacute;n de cupos, permitiendo seleccionar entre las posibles 
                    combinatorias de los productos gen&eacute;ricos que posea el cliente, 
                    por ejemplo Cr&eacute;dito de consumo, Tarjeta y Cr&eacute;dito hipotecario, 
                    o Sin productos.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Cupo global</span></p>
            <p align="center"><img src="../img/SOF_003B8.PNG" width="819" height="106"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="186" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Cupo 
                    global solicitado</p></td>
                <td width="529" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    obligatorio que se despliega s&oacute;lo si la solicitud es del tipo Titular con 
                    adicionales y registra el valor del cupo global solicitado el que ser&aacute; 
                    distribuido entre el titular y la(s) adicional(es).</p>
                </td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Cupo 
                    global asignado</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Al 
                    igual que el anterior s&oacute;lo se despliega si la solicitud es del 
                    tipo Titular con adicionales; este campo se diligencia al surtirse la 
                    etapa de asignaci&oacute;n de cupos dependiendo de si dicha labor se 
                    realiza de forma manual o autom&aacute;tica; en el primer caso debe 
                    alimentarse al momento de la asignaci&oacute;n del cupo con el monto 
                    global efectivamente aprobado, en el otro caso, aparece el valor del 
                    cupo global acorde con la parametrizaci&oacute;n y validaciones efectuadas 
                    sobre la solicitud.</p>
                </td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Motivos de negaci&oacute;n</span></p>
            <p align="center"><img src="../img/SOF_003B9.PNG" width="820" height="218"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Motivo 
                    negaci&oacute;n<br>
                  </p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Si 
                    corresponde a una solicitud inicialmente negada debe ingresarse el motivo 
                    por el cual fue denegada la solicitud; en otro caso, despliega la causal 
                    de negaci&oacute;n determinada en el proceso de las etapas correspondientes. Campo obligatorio. </p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Observaciones 
                    negaci&oacute;n</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que permite ingresar notas relacionadas con el motivo de negaci&oacute;n 
                    o despliega a manera de hist&oacute;rico las otras causales de negaci&oacute;n 
                    que se dieron en etapas que permit&iacute;an pasar a la siguiente etapa.</p></td>
              </tr>
            </table>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Observaciones</span></p>
            <p align="center"><img src="../img/SOF_003B10.PNG" width="821" height="177"></p>
            <p class="PARRAFO">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Observaciones</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    alfanum&eacute;rico en el que es posible registrar notas relevantes 
                    que puedan servir como criterios adicionales al momento de evaluar el 
                    cupo a asignar.</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p>El formulario cuenta con botones en la parte inferior derecha que le permiten 
              al usuario <em>Cancelar</em>, para <a href="SOH_003B.html" class="LINK2">volver al formulario 
              inicial</a> del ingreso de solicitudes de cr&eacute;dito nuevo, y <em>Avanzar 
              </em>al siguiente paso del wizard.</p>
            <p class="PARRAFO">&nbsp;</p>
            <p align="center"><b><b><span class="PARRAFO"><a href="SOH_005B2.html" class="LINK2">L&iacute;neas 
              de cr&eacute;dito</a> |</span></b></b> <a href="SOH_005B3.html" class="LINK2">Documentos</a> 
              |<span style'font-size:10.0pt;font-family:Arial'> <b> </b></span><a href="SOH_005B4.html" class="LINK2"><b><b><span class="PARRAFO"></span></b></b> 
              Consultar etapas</a> <b><b><span class="PARRAFO">|</span></b></b> <span class="PARRAFO"><a href="SOH_005B5.html" class="LINK2">Ingreso 
              de Adicionales</a></span></p>
            <p align="center">&nbsp;</p>
            </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>