<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Par&aacute;metros solicitudes por producto</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTTLO2">Etapas:</span> En esta opci&oacute;n 
              se definen condiciones espec&iacute;ficas para cada combinatoria producto 
              / tipo de solicitud, sobre las etapas que debe surtir, los filtros a aplicar 
              en cada una de ellas y los documentos que se deben anexar. En el t&iacute;tulo 
              del formulario se despliega la informaci&oacute;n correspondiente al tipo 
              de solicitud y el producto para los cuales se est&aacute;n definiendo par&aacute;metros, 
              y que corresponden al registro seleccionado en la opci&oacute;n Solicitudes.</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              y Adicionar. Adicionalmente, cuenta con las opciones adicionales: <a href="SOH_001B7b1.html">Filtros 
              negaci&oacute;n</a>, y <a href="SOH_001B7b2.html">Documentos</a>, y un bot&oacute;n 
              en la parte superior para volver al formulario de <a href="SOH_001B7.html">Solicitudes</a>.</p>
            <p align="center"><img src="../img/SOF_001B34.PNG" width="542" height="483"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si 
              el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con 
              los siguientes bloques<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/SOF_001B35.PNG" width="559" height="253"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Descripci&oacute;n 
                    etapa </p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores poblada en la opci&oacute;n <a href="SOH_001B.html">Etapas</a> 
                    de los par&aacute;metros de solicitudes, de la que se selecciona cada 
                    una de las etapas que deber&aacute; surtir cada combinatoria producto 
                    / tipo de solicitud. Debe tenerse en cuenta que cuando para el producto 
                    se ha definido que NO emite pl&aacute;stico, no se deben seleccionar 
                    en este campo las etapas de realce, sobreflex de clave y empaque, env&iacute;o 
                    a mensajer&iacute;a y acuse recibo de entrega ni aquellas otras que 
                    s&oacute;lo aplican para productos que SI emiten pl&aacute;stico como 
                    materializaci&oacute;n de la tarjeta.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Orden</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo num&eacute;rico de 2 d&iacute;gitos, obligatorio, se registra 
                    la secuencia en la que las etapas deber&aacute;n surtirse.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Cupos 
                    preaprobados</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que se indica si para esa combinatoria tipo de solicitud / producto, 
                    los cupos entran preaprobados o no, y s&oacute;lo aplica para la etapa 
                    de Grabaci&oacute;n.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Scoring 
                    aplicar</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    este campo con lista de valores debe seleccionarse entre Rutina personalizada 
                    o Propio OpenCard, el procedimiento a utilizar en el proceso de scoring 
                    y s&oacute;lo se activa para la etapa de Calificaci&oacute;n.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Rutina 
                    scoring</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que debe registrarse el nombre del procedimiento asociado y solo 
                    aplica para cuando se ha se&ntilde;alado Rutina personalizada en el 
                    campo Scoring aplicar.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Ruta 
                    rutina</p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Si 
                    el scoring a aplicar a las solicitudes corresponde a aplicaciones propias 
                    de la entidad, dentro de este campo se registra la ruta o path en la 
                    que se ubican los programas requeridos.</p></td>
              </tr>
            </table>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO">Despu&eacute;s de haber ingresado los datos 
              de cada etapa, se van adicionando 
              una a una mediante el segundo bot&oacute;n del wizard, para luego  desplazarse a la segunda p&aacute;gina donde se muestra el 
              resumen de todas, desplegando para cada una los campos C&oacute;digo  etapa, Descripci&oacute;n, Orden, Rutina Scoring, Ruta rutina, Scoring aplicar, y Cupos preaprobados. El formulario cuenta con un check que permite 
            marcar aquellas etapas que  se deseen Remover.</p>
            <p align="center" class="PARRAFO">Es importante para el usuario tener en cuenta, 
              que en este proceso inicial de adici&oacute;n el sistema requiere que las 
              etapas sean ingresadas de manera que tengan un orden estrictamente secuencial, 
              puesto que de lo contrario no se permitir&aacute; guardar los registros en 
              la base de datos.</p>
            <p align="center"><img src="../img/SOF_001B35a.PNG" width="661" height="135"></p>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son: Cupos preaprobados, 
              Rutina scoring, y Ruta rutina.</span></p>
            <p align="center"><img src="../img/SOF_001B36.PNG" width="559" height="245"></p>
            <p class="PARRAFO">&nbsp;</p>
            <p align="center"><a href="SOH_001B7.html">Solicitudes</a><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="SOH_001B7c.html">Cupos 
              extendidos</a><b><span style'font-size:10.0pt;font-family:Arial'> | </span></b><a href="SOH_001B7d.html">Relaciones 
              laborales</a><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="SOH_001B7e.html">Cupos 
              m&iacute;n y m&aacute;x por rango</a><b><span style'font-size:10.0pt;font-family:Arial'> 
              <b>|</b></span></b><span style'font-size:10.0pt;font-family:Arial'> </span><a href="SOH_001B7f.html">Copiar 
              par&aacute;metros</a><span style'font-size:10.0pt;font-family:Arial'> </span></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>