<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/PAGES.css">
</head>

<body>
    <header>
        <img class="logo" src="../img/logoBankbu_.png" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img src="../img/menu.png" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="main-option">INICIO</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li><a href="NUH_00B_audi.html">Auditoria</a></li>
                    <li><a href="NUH_00B_migra.html">Migracion</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="main-option">EMISOR</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
            <li>
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li>
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li>
        </ul>
    </nav>

    <section>
        <div id="Layer2" > 
            <table width="100%" border="0">
              <tr> 
                <td width="57%"><div align="right"> 
                    <p align="center" class="TITLE">Par&aacute;metros solicitudes por producto</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Conjunto de campos en los que es posible se&ntilde;alar para 
              cada producto, los diferentes tipos de solicitud asociados y los campos que 
              ser&aacute;n obligatorios para el tr&aacute;mite de la misma.</p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              Adicionar y Detalle. Adicionalmente, cuenta con un filtro de b&uacute;squeda, 
              el <a href="SOH_001B7a.html">globo de localizaci&oacute;n</a>, y las siguientes 
              opciones adicionales: <a href="SOH_001B7b.html">Etapas</a>, <a href="SOH_001B7c.html">Cupos 
              extendidos</a>, <a href="SOH_001B7d.html">Relaciones laborales</a>, <a href="SOH_001B7e.html">Cupos 
              m&iacute;nimo y m&aacute;ximo por rango</a>, y <a href="SOH_001B7f.html">Copiar 
              par&aacute;metros</a>.</p>
            <p align="center"><img src="../img/SOF_001B28.PNG" width="597" height="435"></p>
            <p align="center">&nbsp;</p>
            <p><span class="SUBTTLO2">Filtro:</span> Se pueden realizar consultas a trav&eacute;s 
              de la siguiente lista de valores: </p>
            <p align="center"><img src="../img/SOF_001B29.PNG" width="414" height="89"></p>
            <p align="center">&nbsp;</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>C&oacute;digo</span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">En 
                    esta lista de valores despliegan todos los Productos definidos por la 
                    entidad y all&iacute; se debe seleccionar aquel para el cual se van 
                    a definir los dem&aacute;s par&aacute;metros de esta opci&oacute;n</p>
                </td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <p align="left" class="PARRAFO"><span class="SUBTTLO2">Adicionar:</span> Si 
              el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con 
              los siguientes bloques<font face="Arial, Helvetica, sans-serif"><span style'font-family:Arial'>:</span></font></p>
            <p align="center"><img src="../img/SOF_001B30.PNG" width="596" height="554"></p>
            <p align="center">&nbsp;</p>
            <p align="left" class="SUBTTLO2">Tipo solicitud</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tipo 
                    solicitud</p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    que posee lista de valores adjunta de la que es posible seleccionar 
                    los diferentes tipos de solicitud que pueden ser gestionados por producto.</p></td>
              </tr>
            </table>
            <p class="SUBTTLO2">Enviar a scoring</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Solo 
                    titular </p></td>
                <td width="72%" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    campo Solo titular debe proveer un combo con las opciones (Titular principal, 
                    Avalista y Nulo)</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Con 
                    adicionales <b><span style'font-family:Arial'> </span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    bloque Enviar a Centrales, debe estar conformado por los campos Solo 
                    titular y Con adicionales </p></td>
              </tr>
            </table>
            <p class="SUBTTLO2">Enviar a centrales</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="53" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'>
          <p class="SUBTITULO">Solo 
                    titular </p></td>
                <td width="72%" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    campo Solo titular debe proveer un combo con las opciones (Titular y 
                    Avalista, Avalista, Titular principal y Nulo)</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Con 
                    adicionales <b><span style'font-family:Arial'> </span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">El 
                    campo Con adicionales debe proveer un combo con las opciones (Titular 
                    y Avalista, Avalista, Titular adicional, Titular principal y Nulo)</p></td>
              </tr>
            </table>
            <p class="SUBTTLO2">Campos obligatorios solicitud:<span class="PARRAFO"> Este 
              bloque permite seleccionar los campos que invariablemente ser&aacute;n obligatorios 
              en las solicitudes, excluyendo aquellas que hayan sido negadas previamente, 
              caso en el cual no aplican estas validaciones.</span></p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Oficina 
                    venta </span></b></p></td>
                <td width="72%" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    si la oficina de colocaci&oacute;n del producto debe o no ser obligatoria.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Oficina 
                    env&iacute;o</span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    si la oficina de a la cual se env&iacute;a el pl&aacute;stico es o no 
                    obligatoria.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Punto 
                    env&iacute;o </span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    si el destino al cual se enviar&aacute; la tarjeta debe ser o no obligatorio.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>Regional</span></b></p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    si la regional a la que pertenece la oficina a trav&eacute;s de la que 
                    se vincula el cliente debe o no diligenciarse.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b><span style'font-family:Arial'>N&uacute;mero 
                    acci&oacute;n </span></b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    si es obligatorio o no el campo n&uacute;mero de acci&oacute;n en la 
                    solicitud de cr&eacute;dito nuevo.</p></td>
              </tr>
            </table>
            <p class="PARRAFO"><span class="SUBTTLO2">Campos obligatorios cliente:</span> 
              Conjunto de campos en los que se determina por cada combinatoria producto 
              / tipo de solicitud Cr&eacute;dito nuevo, la exigencia o no de los mismos; 
              siendo obligatorios para solicitudes que no hayan sido negadas previamente, 
              caso en el cual no aplicar&iacute;an estas validaciones. Para tipos de solicitud 
              diferente a la mencionada, estos campos se inhabilitan autom&aacute;ticamente.</p>
            <p class="PARRAFO">En este bloque se seleccionan qu&eacute; campos con obligatorios 
              para el <em>Titular,</em> el <em>Avalista</em> y el <em>Adicional</em>.</p>
            <table width=715 border=0 cellpadding=0 cellspacing=0 style'width:536.25pt;
             mso-cellspacing:0cm;mso-padding-alt:3.0pt 3.0pt 3.0pt 3.0pt'>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Fecha 
                    nacimiento</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que se indica si la fecha de nacimiento del <em>Titular /</em> 
                    <em>Avalista / </em><em>Adicional</em> debe dilgenciarse o no.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Estado 
                    civil</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    si el estado civil del <em>Titular /</em> <em>Avalista / </em><em>Adicional</em> 
                    debe diligenciarse o no.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Personas 
                    a cargo</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que se indica si el n&uacute;mero de personas a cargo del <em>Titular 
                    /</em> <em>Avalista / </em><em>Adicional</em> debe diligenciarse o no.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Profesi&oacute;n</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    si la profesi&oacute;n del <em>Titular /</em> <em>Avalista / </em><em>Adicional</em> 
                    debe diligenciarse o no.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Tel&eacute;fono 
                    correspondencia</p></td>
                <td valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que se indica si el n&uacute;mero de tel&eacute;fono de correspondencia 
                    del <em>Titular /</em> <em>Avalista / </em><em>Adicional</em> debe diligenciarse 
                    o no.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Tipo 
                    residencia</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Indica 
                    si el tipo de residencia del <em>Titular /</em> <em>Avalista / </em><em>Adicional</em> 
                    debe diligenciarse o no.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td width="28%" height="57" valign=top style'width:28.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO">Relaci&oacute;n 
                    laboral</p></td>
                <td width="72%" valign=top style'width:72.0%;padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que se indica si la relaci&oacute;n laboral del <em>Titular /</em> 
                    <em>Avalista / </em><em>Adicional</em> debe diligenciarse o no.</p></td>
              </tr>
              <tr style'mso-yfti-irow:1'> 
                <td height="54" valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="SUBTITULO"><b>Ingresos</b></p></td>
                <td valign=top style'padding:3.0pt 3.0pt 3.0pt 3.0pt'><p class="PARRAFO">Campo 
                    en el que se indica si el valor de los ingresos del <em>Titular /</em> 
                    <em>Avalista / </em><em>Adicional</em> debe diligenciarse o no.</p>
                </td>
              </tr>
            </table>
            <p align="center" class="PARRAFO">&nbsp;</p>
            <p align="center" class="PARRAFO"><span class="PARRAFO"><span class="SUBTTLO2">Actualizar:</span> 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son: S&oacute;lo titular, 
              Con adicionales (Para <em>Enviar a scoring</em> y <em>Enviar a centrales</em>), 
              y los campos de los bloques <em>Campos obligatorios solicitud</em> y <em>Campos 
              obligatorios cliente</em>.</span></p>
            <p align="center"><img src="../img/SOF_001B32.PNG" width="597" height="553"></p>
            <p class="PARRAFO">&nbsp;</p>
            <p class="PARRAFO"><span class="SUBTTLO2">Detalle:</span> Si el usuario invoca la opci&oacute;n Detalle se despliega el siguiente formulario: <span
              style'font-family:Arial'>
              <o:p></o:p>
            </span></p>
            <p align="center"><img src="../img/SOF_001B33.PNG" width="550" height="485"></p>
            <p align="center">&nbsp;</p>
            <p align="center"><a href="SOH_001B7b.html">Etapas</a><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="SOH_001B7c.html">Cupos 
              extendidos</a><b><span style'font-size:10.0pt;font-family:Arial'> | </span></b><a href="SOH_001B7d.html">Relaciones 
              laborales</a><span
              style'font-size:10.0pt;font-family:Arial'><b> | </b></span><a href="SOH_001B7e.html">Cupos 
              m&iacute;n y m&aacute;x por rango</a><b><span style'font-size:10.0pt;font-family:Arial'> 
              <b>|</b></span></b><span style'font-size:10.0pt;font-family:Arial'> </span><a href="SOH_001B7f.html">Copiar 
              par&aacute;metros</a><span style'font-size:10.0pt;font-family:Arial'> </span></p>
            <p align="center">&nbsp;</p>
        </section>
    <script src="../js/menu.js"></script>

    <footer>
        <div>
            <img src="../img/logo.png">
        </div>
        <p>Open Card S.A.</p>
        <p>-- Calle 77 Nº 11-19 Piso 4°, Ofc. 402, Bogotá D.C.</p>
        <p> Colombia Suramérica -- Tel (571) 313 37 75- <a href="http://www.opencard.com"
                target="_blank">www.opencard.com</a></p>

    </footer>
</body>

</html>