
section h1,h2,h3{
    font-size: 28px;
    COLOR:#341C8C;
    font-weight: "arial";
}
section table{
    max-width: 80%;
}
section img {
    display: block; 
    margin: 0 auto; /* Centra la imagen horizontalmente */
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
    margin-bottom: 10px; /* Espacio inferior entre la imagen y el texto */
}


.SUBTITULO{
    font-size: 22px;
        COLOR:#341C8C;
        font-weight: "arial";


}

.TITLE{
    position:center;
    font-size: 28px;
   align-items: justify;
    color:#341C8C;
}
.SUBTTLO2{
    color: #341C8C;
}


section h1 {
    font-size: 28px;
    color: #341C8C
}
section div {
    margin-left: 3%;
    font-family: "arial";

}
section img {
    margin-left: 10%;
}
section div h1 {
    color: #341C8C;
    font-size: 28px;
}

section p {
    font-size: 22px;
}


/* Estilo para los enlaces dentro de los elementos li dentro de la sección */
section  a {
    text-decoration: none;
    /* Quita el subrayado predeterminado del enlace */
    color: #F26716;
    /* Color del texto del enlace */
    font-weight: bold;
    /* Peso de la fuente en negrita */
    font-size: 20px;
    font-family: "arial";
}

/* Estilo para los enlaces cuando se pasan por encima dentro de la sección */
section   h3:hover {
    color: #341C8C;
    /* Cambia el color del texto al pasar el ratón por encima del enlace */
}
section   li a:hover {
    color: #341C8C;
    /* Cambia el color del texto al pasar el ratón por encima del enlace */
}