body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    text-align: justify;
    margin-top: 1%;
    margin-right: 2%;
}
header {
    color: #fff;
    padding: 1vw; /* Utiliza unidades de vista del ancho para el padding */
    text-align: right;
    position: relative;
}
header img.logo {
    max-height: 6vw; /* Ajusta el tamaño del logo según tus necesidades con unidades relativas */
    width: auto;
    position: absolute;
    top: 1vw;
    right: 2vw;
}
#menuBtn {
    cursor: pointer;
    position: fixed;
    left: 1vw;
    top: 2vw;
    z-index: 1;
}
#menuBtn img {
    height: auto;
    max-width: 80%;
    transition: opacity 0.5s;
}
nav {
    width: 70%;
    max-width: 250px;
    height: 100%;
    background-color: #341C8C;
    position: fixed;
    top: 0;
    left: -70%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6vh; 
}
nav a {
    padding: 13px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #5c3aff;
}
nav ul ul {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
nav ul li:hover ul {
    visibility: visible;
    max-height: 100%;
}
section {
    width: 97%; /* Puedes ajustar el valor según tus necesidades */
    justify-content: space-between;
    text-align: justify;
    margin-right: 600vw;
    margin-left: 5vw; /* Ajusta según tus necesidades con unidades relativas */
    margin-top: 5vw; /* Ajusta según tus necesidades con unidades relativas */
    display: flex;
    align-items: center;
    padding-bottom: 15vw; /* Ajusta según tus necesidades con unidades relativas */
    transition: margin-left 0.5s;
}
section div {
    width: 90vw; /* Ajusta según tus necesidades con unidades relativas */
    text-align: justify;
    margin: auto; /* Centra el contenido horizontalmente */
}
section table {
    width: 100%; /* Hace que la tabla sea responsive */
}
footer {
    background-color: #341C8C;
    color: #fff;
    padding: 1.5vw; /* Utiliza unidades de vista del ancho para el padding */
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: margin-left 0.5s;
}
footer div img {
    display:block;
}
footer p {
    text-align: right;
    margin-right: 2vw; /* Ajusta según tus necesidades con unidades relativas */
}
footer a {
    color: #F26716;
}
footer div {
    height: 3vw; /* Ajusta según tus necesidades con unidades relativas */
    width: auto;
    position: absolute;
    top: 3vw; /* Ajusta según tus necesidades con unidades relativas */
    left: 1vw; /* Ajusta según tus necesidades con unidades relativas */
    text-align: justify;
}
.aviso-importante {
    color: #F26716;
}
body.menu-opened section {
    margin-left: 24vw; /* Ajusta según el ancho de tu menú con unidades relativas */
}
body.menu-opened #menuBtn img {
    opacity: 0;
    pointer-events: none;
}
#menuBtn img, footer div img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen para evitar agrandamientos */
    height: auto;
}
body.menu-opened footer div img {
    max-width: 80%; /* Ajusta según tus necesidades */
    height: auto;
}
body.menu-opened footer {
    margin-left: 18vw; /* Ajusta según el ancho de tu menú con unidades relativas */
}
/* Eliminar el punto predeterminado y agregar espacio entre el punto y el texto en los elementos li dentro de la sección */
section div li {
    list-style-type: none; /* Elimina el punto predeterminado */
    margin-bottom: 10px; /* Ajusta el espacio entre elementos li */
    margin-left: 5%;
    color: #341C8C ;
}
