
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            color: #fff;
            padding: 10px;
            text-align: right;
            position: relative;
        }

        header img.logo {
            height: 80px; /* Ajusta el tamaño del logo según tus necesidades */
            width: auto;
            position: absolute;
            top: 10px;
            right: 20px; /* Agrega un poco de margen derecho al logo */
        }

        #menuBtn {
            cursor: pointer;
            position: fixed;
            left: 30px; /* Agrega un poco de margen izquierdo al botón de menú */
            top: 30px; /* Agrega un poco de margen superior al botón de menú */
            z-index: 1;
        }

        #menuBtn img {
            height: 40px; /* Ajusta el tamaño de la imagen del botón según tus necesidades */
            width: auto;
        }

        nav {
            width: 250px;
            height: 100%;
            background-color: #341C8C;
            position: fixed;
            top: 0;
            left: -250px;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        nav a {
            padding: 15px;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            display: block;
            transition: 0.3s;
            border-bottom: 1px solid #5c3aff; /* Línea separadora entre elementos */
        }

        nav a:hover {
            background-color: #5c3aff; /* Color de fondo al pasar el ratón */
        }
	
	 nav ul ul {
        	visibility: hidden;
        	max-height: 0;
        	overflow: hidden;
        	transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
    	}

    	nav ul li:hover ul {
        	visibility: visible;
        	max-height: 200px; /* Establece la altura máxima deseada para tus subopciones */
    	}


        section {
	    margin-top:9%;
            margin-left: 3%;
            display: flex;
            align-items: center;
            padding: 20px;
        }

        section img {
            
            max-width: 60%; /* Ajusta el ancho de la imagen según tus necesidades */
            height: auto;
        }

        section p {
 	    font-size: 22px;
	    font-family: "Helvetica Neue";
            max-width: 85%; /* Ajusta el ancho del texto según tus necesidades */
        }
	section div {
            max-width: 35%; /* Ajusta el ancho del contenedor del texto según tus necesidades */
        }

        section h2, section p {
            margin-bottom: 15px; /* Añade un espacio entre el título y el párrafo */
        }
	div {
 	    font-family: "Helvetica Neue";
	}
