section{
    text-align: justify !important;
    max-width: 90%;
}

section div h1 {
    color: #F26716;
    font-size: 30px;
}


section img {
    margin-top: 70px;
    max-width: 90%;
    display: block;
}

section p {
    font-size: 22px;
    font-family: "Arial";
    max-width: 100%;
}

section div {
    margin-left: 3%;
    font-family: "Arial";
}

section h2, section p {
    margin-bottom: 15px;
}
